
<div class="btn-group message-details-menu">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" style="right:0; left: auto" role="menu">
        <li ng-if="hasRole('editor')">
            <a href ng-click="edit()" ng-href="/#/editor/{{messageId}}">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                <span translate>menu.action.edit</span>
            </a>
        </li>
        <li ng-if="hasRole('editor')" role="separator" class="divider"></li>
        <li>
            <a href ng-click="pdf()">
                <span class="glyphicon glyphicon-print"></span>&nbsp;
                <span translate>menu.action.pdf</span>
            </a>
        </li>
        <li role="separator" class="divider"></li>
    </ul>
</div>
