
<div class="message-list-table container">
    <div class="row">
        <div ng-if="messageList.length == 0">
            <div ng-include="'/app/messages/messages-empty-search-result.html'"></div>
        </div>
    </div>

    <table class='table table-condensed table-hover'>
        <tr>
            <th ng-click="toggleSortOrder('ID')" class="clickable">
                ID
                <span ng-if="state.sortBy == 'ID'"><small ng-bind-html="sortIndicator('ID')"></small></span>
            </th>
            <th ng-click="toggleSortOrder('DATE')" class="clickable">
                Date
                <span ng-if="state.sortBy == 'DATE'"><small ng-bind-html="sortIndicator('DATE')"></small></span>
            </th>
            <th>Title</th>
            <th ng-click="toggleSortOrder('AREA')" class="clickable">
                Area
                <span ng-if="state.sortBy == 'AREA'"><small ng-bind-html="sortIndicator('AREA')"></small></span>
            </th>
            <th>Action</th>
        </tr>
        <tr ng-repeat-start="message in messageList" ng-if="message.areaHeading">
            <td colspan="5"><h4 class="message-list-area-heading" render-areas="[message.areaHeading]"></h4></td>
        </tr>
        <tr ng-repeat-end style="cursor: pointer">
            <td nowrap message-details-link="message.id" message-list="messageList"><span>{{message.shortId}}</span></td>
            <td nowrap message-details-link="message.id" message-list="messageList">
                <render-message-dates msg="message"/>
            </td>
            <td message-details-link="message.id" message-list="messageList">{{message.descs[0].title}}</td>
            <td message-details-link="message.id" message-list="messageList"><span render-areas="message.areas"></span></td>
            <td>
                <msi-details-menu message-id="msg.id" msg="msg" messages="searchResult.messages" show-view-action="true" size="xs" style="float: right;"></msi-details-menu>
            </td>
        </tr>
    </table>

    <div class="row" ng-if="messageList.length < totalMessageNo">
        <div class="center" style="text-align: center">
            <button class="btn btn-primary load-more-btn" ng-click="loadMore()">Load More</button>
        </div>
    </div>
</div>

<div ng-include="'/app/layout/footer.html'"></div>
