<div class="input-group">
    <ui-select ng-if="!multiple" ng-model="tagData.tag">
        <ui-select-match placeholder="Select tag">
            {{tagData.tag.name}}
        </ui-select-match>
        <ui-select-choices repeat="tag in searchResult"
                           refresh="refreshTags($select.search)"
                           refresh-delay="100">
            <div>
                <span ng-bind-html="tag.name | highlight: $select.search"></span>
            </div>
        </ui-select-choices>
    </ui-select>


    <ui-select ng-if="multiple" multiple  ng-model="tagData.tags" >
        <ui-select-match placeholder="Select Tags">
            {{$item.name}}
        </ui-select-match>
        <ui-select-choices repeat="tag in searchResult"
                           refresh="refreshTags($select.search)"
                           refresh-delay="100">
            <div>
                <span ng-bind-html="tag.name | highlight: $select.search"></span>
            </div>

        </ui-select-choices>
    </ui-select>


    <span class="input-group-addon clickable" style="font-size: 12px" ng-click="openTagsDialog()"><span class="glyphicon glyphicon-tags"></span></span>
    <span class="input-group-addon clickable" style="font-size: 12px" ng-click="removeTag()"><span class="glyphicon glyphicon-trash"></span></span>
</div>
