
<div class="messages-details container-fluid">
    <div class="row">
        <div ng-if="messageList.length == 0">
            <div ng-include="'/app/messages/messages-empty-search-result.html'"></div>
        </div>

        <div ng-repeat="message in messageList" class="col-xs-11 col-sm-6 col-md-4 col-lg-3">

            <img class="map-image" ng-src="/rest/message-map-image/{{message.id}}.png" width="256" height="256"/>

            <div ng-if="message.descs[0].title">
                <span if="message.number">{{message.number}} - </span>
                {{message.descs[0].title}}
            </div>
        </div>
    </div>
</div>

<div ng-include="'/app/layout/footer.html'"></div>
