
<div class="attachment">
    <div ng-class="imageClass" ng-switch="handleClick">
        <a ng-switch-when="true" href ng-click="click()">
            <img ng-src="{{thumbnailUrl}}">
        </a>
        <a ng-switch-default href="{{fileUrl}}" target="_blank">
            <img ng-src="{{thumbnailUrl}}">
        </a>
    </div>
    <div ng-if="labelType == 'file-name'" class="attachment-label">
        {{attachment.fileName}}
    </div>
    <div ng-if="labelType == 'caption'" class="attachment-label">
        {{attachment.descs[0].caption}}
    </div>
</div>
