
<div class="btn-group message-details-menu">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
        ng-click="menuClicked()">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" style="right:0; left: auto" role="menu">
        <li ng-if="hasRole('editor')">
            <a href ng-click="edit()" ng-href="/#/editor/edit/{{messageId}}">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                <span translate>menu.action.edit</span>
            </a>
        </li>
        <li ng-if="hasRole('editor')">
            <a href ng-click="copy()">
                <span class="glyphicon glyphicon-duplicate"></span>&nbsp;
                <span translate>menu.action.copy</span>
            </a>
        </li>
        <li ng-if="hasRole('editor')" role="separator" class="divider"></li>
        <li>
            <a href ng-click="pdf()">
                <span class="glyphicon glyphicon-print"></span>&nbsp;
                <span translate>menu.action.print</span>
            </a>
        </li>
        <li ng-if="isLoggedIn" role="separator" class="divider"></li>
        <li ng-if="isLoggedIn">
            <a href ng-click="addToTagDialog()">
                <span class="glyphicon glyphicon-tags"></span>&nbsp;
                <span translate>menu.action.tag.add</span>
            </a>
        </li>
        <li ng-if="isLoggedIn && lastSelectedMessageTag">
            <a href ng-click="addToLastSelectedTag()">
                <span class="glyphicon glyphicon-tags"></span>&nbsp;
                {{ 'menu.action.tag.add_named' | translate : '{tag : "' + lastSelectedMessageTag + '"}' }}
            </a>
        </li>
        <li ng-repeat="tag in messageTags">
            <a href ng-click="removeFromTag(tag)">
                <span class="glyphicon glyphicon-tags"></span>&nbsp;
                {{ 'menu.action.tag.remove_named' | translate : '{tag : "' + tag.name + '"}' }}
            </a>
        </li>
    </ul>
</div>
