
<div class="view-mode-filter" ng-show="showFilter">

    <div class="row">


        <!-- Map Filter -->
        <view-mode-filter-panel state="state" filter-name="map" closable="false" class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
            <div class="map-extent">
                <span>&swarr; {{extentBottomLeft() | lonlat:{ decimals : 2, pp: true } }}</span>
                &nbsp;
                <span>&nearr; {{extentTopRight() | lonlat:{ decimals : 2, pp: true } }}</span>
            </div>
        </view-mode-filter-panel>


        <!-- Text Filter -->
        <view-mode-filter-panel state="state" filter-name="text" clear-filter="clearFilter(name)" class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
            <div class="btn-group full-width">
                <input id="query" type="search" class="form-control input-sm" placeholder="Search Terms" ng-model="state.text.query"
                        ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                        autocomplete="off" spellcheck="false">
                <span class="glyphicon glyphicon-remove clear-input"
                      ng-click="state.text.query = ''" ng-show="state.text.query != ''"></span>
            </div>
        </view-mode-filter-panel>


        <!-- Type Filter -->
        <view-mode-filter-panel state="state" filter-name="type" clear-filter="clearFilter(name)" class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
            <div class="btn-group" style="margin-right: 20px">
                <label class="btn btn-default btn-sm" ng-model="state.type.mainType" uib-btn-radio="''">All</label>
                <label class="btn btn-default btn-sm" ng-model="state.type.mainType" uib-btn-radio="'NW'">NW</label>
                <label class="btn btn-default btn-sm" ng-model="state.type.mainType" uib-btn-radio="'NM'">NM</label>
            </div>
            <div class="btn-group" ng-if="state.type.mainType == 'NW'">
                <label class="btn btn-default btn-sm" ng-model="state.type.LOCAL_WARNING" uib-btn-checkbox>Local</label>
                <label class="btn btn-default btn-sm" ng-model="state.type.COASTAL_WARNING" uib-btn-checkbox>Coastal</label>
                <label class="btn btn-default btn-sm" ng-model="state.type.SUBAREA_WARNING" uib-btn-checkbox>Subarea</label>
                <label class="btn btn-default btn-sm" ng-model="state.type.NAVAREA_WARNING" uib-btn-checkbox>Navarea</label>
            </div>
            <div class="btn-group" ng-if="state.type.mainType == 'NM'">
                <label class="btn btn-default btn-sm" ng-model="state.type.TEMPORARY_NOTICE" uib-btn-checkbox>Temp.</label>
                <label class="btn btn-default btn-sm" ng-model="state.type.PRELIMINARY_NOTICE" uib-btn-checkbox>Prelim.</label>
                <label class="btn btn-default btn-sm" ng-model="state.type.PERMANENT_NOTICE" uib-btn-checkbox>Perm.</label>
                <label class="btn btn-default btn-sm" ng-model="state.type.MISCELLANEOUS_NOTICE" uib-btn-checkbox>Misc.</label>
            </div>
        </view-mode-filter-panel>


        <!-- Status Filter -->
        <view-mode-filter-panel state="state" filter-name="status" clear-filter="clearFilter(name)" class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
            <div class="btn-group">
                <label class="btn btn-default btn-sm" ng-model="state.status.PUBLISHED" uib-btn-checkbox>Published</label>
                <label class="btn btn-default btn-sm" ng-model="state.status.IMPORTED" uib-btn-checkbox>Imported</label>
                <label class="btn btn-default btn-sm" ng-model="state.status.DRAFT" uib-btn-checkbox>Draft</label>
                <label class="btn btn-default btn-sm" ng-model="state.status.VERIFIED" uib-btn-checkbox>Verified</label>
                <label class="btn btn-default btn-sm" ng-model="state.status.CANCELLED" uib-btn-checkbox>Cancelled</label>
                <label class="btn btn-default btn-sm" ng-model="state.status.EXPIRED" uib-btn-checkbox>Expired</label>
                <label class="btn btn-default btn-sm" ng-model="state.status.DELETED" uib-btn-checkbox>Deleted</label>
            </div>
        </view-mode-filter-panel>


        <!-- Tag Filter -->
        <view-mode-filter-panel state="state" filter-name="tag" clear-filter="clearFilter(name)" class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
            <div class="input-group">
                <ui-select multiple id="tags" ng-model="state.tag.tags" >
                    <ui-select-match placeholder="Select Tags">
                        {{$item.tagId}}
                    </ui-select-match>
                    <ui-select-choices repeat="tag in tags"
                                       refresh="refreshTags($select.search)"
                                       refresh-delay="100">
                        <div>
                            <span ng-bind-html="tag.tagId | highlight: $select.search"></span>
                        </div>

                    </ui-select-choices>
                </ui-select>
                <span class="input-group-addon clickable" ng-click="openTagsDialog()"><span class="glyphicon glyphicon-tags"></span></span>
            </div>
        </view-mode-filter-panel>


        <!-- AtoN Filter -->
        <view-mode-filter-panel state="state" filter-name="aton" clear-filter="clearFilter(name)" class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
            <ui-select multiple id="atons" ng-model="state.aton.atons" >
                <ui-select-match placeholder="Select AtoNs">
                    {{$item.tags['seamark:ref']}}
                    <span ng-if="$item.tags['seamark:name']">{{$item.tags['seamark:name']}}</span>
                </ui-select-match>
                <ui-select-choices repeat="aton in atons"
                                   refresh="refreshAtons($select.search)"
                                   refresh-delay="100">
                    <div>
                        <span ng-bind-html="aton.tags['seamark:ref'] | highlight: $select.search"></span>
                        <small ng-bind-html="aton.tags['seamark:name'] | highlight: $select.search"></small>
                    </div>

                </ui-select-choices>
            </ui-select>
        </view-mode-filter-panel>


        <!-- Chart Filter -->
        <view-mode-filter-panel state="state" filter-name="chart" clear-filter="clearFilter(name)" class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
            <ui-select multiple id="charts" ng-model="state.chart.charts" >
                <ui-select-match placeholder="Select charts">
                    {{$item.chartNumber}}
                    <span ng-if="$item.internationalNumber">(INT {{$item.internationalNumber}})</span>
                </ui-select-match>
                <ui-select-choices repeat="chart in charts"
                                   refresh="refreshCharts($select.search)"
                                   refresh-delay="100">
                    <div>
                        <span ng-bind-html="chart.chartNumber | highlight: $select.search"></span>
                        <span ng-if="chart.internationalNumber">(INT {{chart.internationalNumber}})</span>
                        <small ng-bind-html="chart.name | highlight: $select.search"></small>
                    </div>

                </ui-select-choices>
            </ui-select>
        </view-mode-filter-panel>


        <!-- Area Filter -->
        <view-mode-filter-panel state="state" filter-name="area" clear-filter="clearFilter(name)" class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
            <ui-select multiple id="areas" ng-model="state.area.areas" >
                <ui-select-match placeholder="Select areas">
                    {{$item.descs[0].name}}
                </ui-select-match>
                <ui-select-choices repeat="area in areas"
                                   refresh="refreshAreas($select.search)"
                                   refresh-delay="100">
                    <div>
                        <span ng-bind-html="area.descs[0].name | highlight: $select.search"></span>
                        <small ng-if="area.parent">({{formatParents(area.parent)}})</small>
                    </div>

                </ui-select-choices>
            </ui-select>
        </view-mode-filter-panel>


        <!-- Category Filter -->
        <view-mode-filter-panel state="state" filter-name="category" clear-filter="clearFilter(name)" class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
            <ui-select multiple id="categories" ng-model="state.category.categories" >
                <ui-select-match placeholder="Select categories">
                    {{$item.descs[0].name}}
                </ui-select-match>
                <ui-select-choices repeat="category in categories"
                                   refresh="refreshCategories($select.search)"
                                   refresh-delay="100">
                    <div>
                        <span ng-bind-html="category.descs[0].name | highlight: $select.search"></span>
                        <small ng-if="category.parent">({{formatParents(category.parent)}})</small>
                    </div>

                </ui-select-choices>
            </ui-select>
        </view-mode-filter-panel>


        <!-- Date Filter -->
        <view-mode-filter-panel state="state" filter-name="date" clear-filter="clearFilter(name)" class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
            <div class="row">
                <div class="col-lg-6">
                    <date-time-picker id="fromDate" ng-model="state.date.fromDate" placeholder="From date" format="l"></date-time-picker>
                </div>
                <div class="col-lg-6">
                    <date-time-picker id="toDate" ng-model="state.date.toDate" placeholder="To date" format="l"></date-time-picker>
                </div>
            </div>
        </view-mode-filter-panel>


    </div>

</div>