
<div class="btn-group message-details-menu">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" style="right:0; left: auto" role="menu">
        <li ng-if="hasRole('editor')"><a href ng-click="edit()" ng-href="/#/editor/{{messageId}}">Edit...</a></li>
        <li ng-if="hasRole('editor')"><a href ng-click="manage()" ng-href="/#/editor/{{messageId}}">Manage...</a></li>
        <li><a href ng-click="pdf()">Generate PDF</a></li>
    </ul>
</div>
