
<div class="messages-list-grid container">

    <div class="row" ng-if="messageList.length < totalMessageNo"
         load-more-messages="messageList" total-message-no="totalMessageNo" max-size="maxSize" load-more="loadMore()" >
    </div>

    <div class="row">
        <div ng-if="messageList.length == 0">
            <div ng-include="'/app/messages/messages-empty-search-result.html'"></div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " ng-repeat-start="message in messageList" ng-if="message.areaHeading">
            <h4 class="message-list-area-heading" render-areas="[message.areaHeading]"></h4>
        </div>
        <div ng-repeat-end class="col-xs-11 col-sm-6 col-md-4 col-lg-3" style="margin-bottom: 20px">
            <div class="grid-item message-details-menu-parent message-selector-parent">
                <div message-details-link="message.id" message-list="messageList" selection="selection">
                    <img class="grid-map-image" ng-src="/rest/message-map-image/{{message.id}}.png" width="256" height="256"/>

                    <div class="grid-map-image-header">
                        <div ng-if="message.shortId"><span class="label label-message-id">{{message.shortId}}</span></div>
                        <span ng-if="message.descs[0].title">{{message.descs[0].title}}</span>
                        <span ng-if="message.descs[0].lang != language" style="color: darkgray;">
                            <flag lang="message.descs[0].lang" style="height: 10px;"></flag>
                        </span>
                    </div>
                    <div class="grid-map-image-details">
                        <div class="grid-map-image-date"
                             ng-if="message.descs[0].time || (message.dateIntervals && message.dateIntervals.length > 0)">
                            <small><i class="glyphicon glyphicon-time"></i> <render-message-dates msg="message"/></small>
                        </div>
                        <span ng-bind-html="message.descs[0].description"/>
                    </div>
                </div>
                <span class="select-btn" ng-click="toggleSelectMessage(message)" ng-class="{'message-selected' : isSelected(message)}">
                    <span class="glyphicon glyphicon-star"></span>
                </span>
                <div class="grid-map-image-menu">
                    <message-details-menu message-id="message.id" msg="message" messages="messageList" size="xs"></message-details-menu>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="messageList.length < totalMessageNo"
         load-more-messages="messageList" total-message-no="totalMessageNo" max-size="maxSize" load-more="loadMore()" >
    </div>
</div>

<div ng-include="'/app/layout/footer.html'"></div>
