
<div class="message-list-details container">

    <div class="row" ng-if="messageList.length < totalMessageNo"
         load-more-messages="messageList" total-message-no="totalMessageNo" max-size="maxSize" load-more="loadMore()" >
    </div>

    <div class="row">
        <div ng-if="messageList.length == 0">
            <div ng-include="'/app/messages/messages-empty-search-result.html'"></div>
        </div>

        <div>
            <table class="table table-condensed">
                <tr ng-repeat-start="message in messageList"  ng-if="message.areaHeading">
                    <td colspan="2" style="border: none">
                        <h4 class="message-list-area-heading">
                            <span render-areas="[message.areaHeading]"></span>
                            <span ng-if="isEditor" class="sort-by-area" ng-click="sortAreaMessages(message.areaHeading)">sort...</span>
                        </h4>
                    </td>
                </tr>
                <tr class="message-list-details-border" ng-repeat-end
                    render-message-details msg="message" message-list="messageList" selection="selection"></tr>
            </table>
        </div>

    </div>

    <div class="row" ng-if="messageList.length < totalMessageNo"
         load-more-messages="messageList" total-message-no="totalMessageNo" max-size="maxSize" load-more="loadMore()" >
    </div>

</div>

<div ng-include="'/app/layout/footer.html'"></div>
