
<div class="view-mode-menu">
    <ul style="padding-left: 0">

        <li class="view-mode-menu-btn">
            <span ui-sref="messages.grid" ui-sref-active="active">
                <span class="glyphicon glyphicon-th"></span> <span class="view-mode-menu-text" translate>view_mode.grid</span>
            </span>
        </li>

        <li class="view-mode-menu-btn">
            <span ui-sref="messages.details" ui-sref-active="active">
                <span class="glyphicon glyphicon-th-list"></span> <span class="view-mode-menu-text" translate>view_mode.details</span>
            </span>
        </li>

        <li class="view-mode-menu-btn">
            <span ui-sref="messages.table" ui-sref-active="active">
                <span class="glyphicon glyphicon-align-justify"></span> <span class="view-mode-menu-text" translate>view_mode.table</span>
            </span>
        </li>

        <li class="view-mode-menu-btn">
            <span ui-sref="messages.map" ui-sref-active="active">
                <span class="glyphicon glyphicon-globe"></span> <span class="view-mode-menu-text" translate>view_mode.map</span>
            </span>
        </li>

        <li class="view-mode-menu-btn">
            <span ui-sref="messages.selected" ui-sref-active="active">
                <span class="glyphicon glyphicon-star"></span>
                <span class="view-mode-menu-text" translate>view_mode.selection</span>
                <span class="badge" ng-if="selection.size() > 0">{{selection.size()}}</span>
            </span>
        </li>

        <li class="dropdown view-mode-menu-btn" style="padding: 0 10px">
            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-filter"></span>
                <span class="view-mode-menu-text" translate>menu.filter</span>
                <span class="caret"></span>
            </span>
            <ul class="dropdown-menu">
                <li ng-repeat="name in filterNames">
                    <a ng-click="enableFilter(name, true)" href ng-bind-html="'menu.filter.' + name | translate"></a>
                </li>
                <li role="separator" class="divider" ng-if="namedFilters.length > 0"></li>
                <li ng-repeat="filter in namedFilters">
                    <a href><span ng-click="applyNamedFilter(filter)">{{filter.name}}</span>
                        <span class="pull-right glyphicon glyphicon-trash" ng-click="removeNamedFilter(filter)"></span></a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a ng-if="isLoggedIn" ng-click="clearAllFilters()" href translate>menu.filter.clear</a></li>
                <li><a ng-if="isLoggedIn" ng-click="saveNamedFilter()" href translate>menu.filter.save</a></li>
            </ul>
        </li>

        <li class="dropdown view-mode-menu-btn" style="padding: 0 10px">
            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="view-mode-menu-text" translate>menu.action</span>
                <span class="caret"></span>
            </span>
            <ul class="dropdown-menu">
                <li>
                    <a href ng-click="pdf()">
                        <span class="glyphicon glyphicon-print"></span>&nbsp;
                        <span translate>menu.action.print</span>
                    </a>
                </li>
                <li ng-if="isLoggedIn && selection.size() > 0">
                    <a href ng-click="pdfForSelection()">
                        <span class="glyphicon glyphicon-print"></span>&nbsp;
                        <span translate>menu.action.print.selection</span>
                    </a>
                </li>
                <li ng-if="selection.size() > 0" role="separator" class="divider"></li>
                <li ng-if="selection.size() > 0">
                    <a href ng-click="addToTagDialog()">
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;
                        <span translate>menu.action.tag.add_selection</span>
                    </a>
                </li>
                <li ng-if="selection.size() > 0">
                    <a href ng-click="removeFromTagDialog()">
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;
                        <span translate>menu.action.tag.remove_selection</span>
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href ng-click="selectAll()" translate>menu.action.select.all</a></li>
                <li  ng-if="selection.size() > 0"><a href ng-click="clearSelection()" translate>menu.action.select.none</a></li>
                <li role="separator" class="divider"></li>
                <li><a href ng-click="exportMessages()">Export...</a></li>
                <li><a href ng-click="importMessages()">Import...</a></li>
                <li role="separator" class="divider"></li>
                <li><a href ng-click="sortAreaMessages()">Sort area...</a></li>
                <li><a href ng-click="toggleSortOrder('AREA')">Area <small ng-bind-html="sortIndicator('AREA')"></small></a></li>
                <li><a href ng-click="toggleSortOrder('ID')">ID <small ng-bind-html="sortIndicator('ID')"></small></a></li>
                <li><a href ng-click="toggleSortOrder('DATE')">Date <small ng-bind-html="sortIndicator('DATE')"></small></a></li>
            </ul>
        </li>

    </ul>
</div>
