
<span>
    <span class="message-publication" ng-bind-html="publication | toTrusted"></span>
    <span ng-if="showInternal" class="message-publication" ng-bind-html="internalPublication | toTrusted"></span>
    <a href ng-if="includeInternalPublications && !showInternal" ng-click="toggleShowInternal()" class="clickable" translate-language="{{lang}}" translate>
        msg.show_internal_publications
    </a>
    <a href ng-if="includeInternalPublications && showInternal" ng-click="toggleShowInternal()" class="clickable" translate-language="{{lang}}" translate>
        msg.hide_internal_publications
    </a>
</span>
