
<div class="row">
    <div class="col-sm-12 col-md-6"
         ng-repeat="promulgation in msg.promulgations" ng-if="promulgation.promulgate || allPromulgations">
        <div class="promulgation-view-header">
            <span ng-if="allPromulgations" class="glyphicon {{ 'glyphicon-' + (promulgation.promulgate ? 'check' : 'unchecked')}}"></span>
            {{promulgation.type.name}}
        </div>
        <div class="promulgation" ng-class="{ 'disabled-promulgation' : !promulgation.promulgate }" style="margin-bottom: 5px">
            <ng-include src="'/app/promulgation/' + promulgation.type.serviceId + '-view.html'"></ng-include>
        </div>
    </div>
</div>
