
<admin-page title="Overview">

    <p>The Admin pages are used to administer base data and settings for the Niord application. It has been divided into the following sections:</p>

    <dl class="dl-horizontal">

        <dt><a href ng-click="go('/charts');">Charts</a></dt>
        <dd>Configure the nautical charts.</dd>

        <dt><a href ng-click="go('/areas');">Areas</a></dt>
        <dd>Manage the list of areas used for grouping NW and NM messages.</dd>

        <dt><a href ng-click="go('/categories');">Categories</a></dt>
        <dd>Manage the list of categories used for grouping NW and NM messages.</dd>

        <dt ng-if="LEGACY_ADMIN_PAGE && hasRole('admin')"><a href ng-click="go('/legacy');">Integration</a></dt>
        <dd ng-if="LEGACY_ADMIN_PAGE && hasRole('admin')">Handle integration with the legacy systems.</dd>

        <dt ng-if="hasRole('admin')"><a href ng-click="go('/settings');">Settings</a></dt>
        <dd ng-if="hasRole('admin')">Manage the system settings.</dd>
    </dl>

</admin-page>

