
<admin-page admin-page-title="Areas">

    <div ng-controller="AreaAdminCtrl" ng-init="loadAreas()">

        <div class="row">
            <div class="col-md-6">
                <button href class="btn btn-primary btn-sm" ng-click="loadAreas()">
                    <span class="glyphicon glyphicon-refresh"></span> Reload
                </button>
                <button href class="btn btn-primary btn-sm" ng-click="newArea()">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
                <button href class="btn btn-primary btn-sm" ng-click="deleteArea()" ng-disabled="area == undefined">
                    <span class="glyphicon glyphicon-trash"></span> Delete...
                </button>
                <span class="btn-group">
                    <button href class="btn btn-primary btn-sm" ng-click="changeSiblingSortOrder(true)" title="Move Area Up"
                            ng-disabled="action == 'add' || !area || !areaForm.$pristine">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    </button>
                    <button href class="btn btn-primary btn-sm" ng-click="changeSiblingSortOrder(false)" title="Move Area Down"
                            ng-disabled="action == 'add' || !area || !areaForm.$pristine">
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    </button>
                </span>
                <span class="btn-group" style="margin-left: 5px;" uib-dropdown>
                    <button id="single-button" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="/rest/areas/all" target="_blank">Export...</a></li>
                        <li role="menuitem"><a href ng-click="uploadAreasDialog()">Import...</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="menuitem"><a href ng-click="recomputeTreeSortOrder()">Re-index areas</a></li>
                        <li role="menuitem"><a href ng-click="recomputePublishedMessagesSortOrder()">Re-index published messages</a></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="row">

            <!-- Area tree -->
            <div class="col-md-5 panel panel-default area-panel">
                <div class="form-group">
                    <div style="position: relative;">
                        <input type="text" class="form-control input-sm" placeholder="Filter Areas" ng-model="areaFilter" />
                        <span class="glyphicon glyphicon-remove clear-input" style="right: 22px"
                              ng-click="areaFilter = ''" ng-show="areaFilter != ''"></span>
                    </div>
                    <div entity-tree entities="areas"
                         filter="areaFilter"
                         flag-inactive="true"
                         entity-selected="selectArea(entity)"
                         entity-moved="moveArea(entity, parent)"
                         class="area-tree"></div>
                </div>
            </div>

            <!-- Area editor -->
            <form name="areaForm" id="areaForm" class="col-md-5 panel panel-default area-panel" role="form">
                <fieldset ng-if="editArea">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="checkbox" ng-model="editArea.active">&nbsp;&nbsp;Active
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="action == 'add'">
                        <label class="control-label" for="parent">Parent Area</label>
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="text" id="parent" ng-model="area.descs[0].name" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <div class="row">
                            <div class="col-sm-6" ng-repeat="desc in editArea.descs">
                                <input class="form-control input-sm" placeholder="Name" type="text" ng-model="desc.name" ng-required="$first"
                                       bg-flag="desc.lang">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">MRN</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <input class="form-control input-sm" placeholder="MRN" type="text" ng-model="editArea.mrn">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Type</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <select class="form-control input-sm" ng-model="editArea.type">
                                    <option value="">none</option>
                                    <option value="COUNTRY">Country</option>
                                    <option value="FIRING_AREA">Firing area</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Additional Editor Fields</label>
                        <div class="row">
                            <div class="col-sm-12">
                                <editor-fields-field editor-data="editArea"></editor-fields-field>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="defineMessageSorting">
                        <label class="control-label">Message Sorting</label>
                        <div class="row">
                            <div class="col-sm-4">
                                <select class="form-control input-sm" ng-model="editArea.messageSorting">
                                    <option value="">&lt;&lt;Area order&gt;&gt;</option>
                                    <option value="NS">North-South</option>
                                    <option value="SN">South-North</option>
                                    <option value="EW">East-West</option>
                                    <option value="WE">West-East</option>
                                    <option value="CW">Clockwise</option>
                                    <option value="CCW">Counter-clockwise</option>
                                </select>
                            </div>
                            <div class="col-sm-8" ng-if="editArea.messageSorting == 'CW' || editArea.messageSorting == 'CCW'"
                                style="padding-left:0">
                                <position-input lat="editArea.originLatitude" lon="editArea.originLongitude" decimals="2"></position-input>
                                <input type="number" min="0" max="360" step="1" ng-model="editArea.originAngle" placeholder="Angle"
                                       class="form-control form-control-inline input-sm no-spinner"
                                       style="width: 70px; height: 26px; margin-top: 5px">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Extent</label>
                        <gj-editor id="geometry-editor"
                                   class="geometry-editor"
                                   draw-controls="point,polyline,polygon,select,remove"
                                   edit-type="feature"
                                   feature-collection="areaFeatureCollection"
                                   on-save="geometrySaved(featureCollection)"></gj-editor>
                    </div>

                    <div class="form-group">
                        <button href class="btn btn-primary btn-sm" ng-click="saveArea()" ng-disabled="areaForm.$pristine || areaForm.$invalid">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Save
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</admin-page>

