
<admin-page admin-page-title="Charts" parent-page="admin">

    <div ng-controller="ChartsAdminCtrl" ng-init="loadCharts()">

        <p>Add, modify and manage charts.</p>

        <!-- Add/edit chart -->
        <div ng-if="chart !== undefined" style="margin-top: 20px">
            <form name="edit_form" class="form-horizontal">

                <div class="row">
                    <div class="form-controls col-sm-12 col-md-6 col-lg-8">

                        <div class="form-group">
                            <label for="active" class="col-sm-4">Active</label>
                            <div class="col-sm-8">
                                <input id="active" type="checkbox" ng-model="chart.active">&nbsp;&nbsp;Active
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="chartNumber" class="col-sm-4">Chart Number</label>
                            <div class="col-sm-8">
                                <input type="text" id="chartNumber" name="chartNumber" class="form-control input-sm"
                                       focus="focusMe" ng-model="chart.chartNumber" ng-disabled="editMode == 'edit'"
                                       autocapitalize="off" autocorrect="off" autocomplete="off" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="chartNumber" class="col-sm-4">Int. Number</label>
                            <div class="col-sm-8">
                                <input type="number" id="internationalNumber" name="internationalNumber" class="form-control input-sm"
                                       ng-model="chart.internationalNumber"
                                       autocapitalize="off" autocorrect="off" autocomplete="off"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-4">Name</label>
                            <div class="col-sm-8">
                                <input type="text" id="name" name="name" class="form-control input-sm"
                                       ng-model="chart.name"
                                       autocapitalize="off" autocorrect="off" autocomplete="off"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="scale" class="col-sm-4">Scale</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-addon input-sm">1&nbsp;:</div>
                                    <input type="number" id="scale" name="scale" class="form-control input-sm"
                                           ng-model="chart.scale"
                                           autocapitalize="off" autocorrect="off" autocomplete="off"/>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="horizontalDatum" class="col-sm-4">Horizontal Datum</label>
                            <div class="col-sm-8">
                                <input type="text" id="horizontalDatum" name="horizontalDatum" class="form-control input-sm"
                                       ng-model="chart.horizontalDatum"
                                       autocapitalize="off" autocorrect="off" autocomplete="off"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <gj-editor id="geometry-editor" class="geometry-editor"
                                   draw-controls="box,polygon,select,remove"
                                   edit-type="feature" feature-collection="chartFeatureCollection"></gj-editor>
                    </div>
                </div>

                <div style="margin-top: 20px;" class="row">
                    <div class="col-sm-offset-4">
                        <button type="submit" class="btn btn-default btn-sm" ng-click="loadCharts()">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="saveChart(chart)">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save Chart
                        </button>
                    </div>
                </div>
            </form>
        </div>


        <!-- List charts -->
        <div ng-show="chart === undefined">
            <div class="row">
                <div class="col-xs-8 col-sm-6 col-md-4">
                    <input class="form-control input-sm col-sm-2" ng-model="search" type="text" placeholder="Filter">
                    <span class="glyphicon glyphicon-remove clear-input" style="right: 22px"
                          ng-click="search = ''" ng-show="search != ''"></span>
                </div>
                <div class="col-xs-4 col-sm-6 col-md-8">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="addChart()">
                        <span class="glyphicon glyphicon-plus"></span> New Chart
                    </button>

                    <span class="btn-group" style="margin-left: 5px;" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                            <span class="glyphicon glyphicon-cog"></span>
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href="/rest/charts/all" target="_blank">Export...</a></li>
                            <li role="menuitem"><a href ng-click="uploadChartsDialog()">Import...</a></li>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="row" style="padding-top: 20px;">
                <div class="col-sm-12 col-md-8">
                    <table class='table table-condensed table-hover'>
                        <tr>
                            <th></th>
                            <th>Chart Number</th>
                            <th>Int. Number</th>
                            <th>Name</th>
                            <th>Scale</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="chart in charts">
                            <td><input type="checkbox" ng-model="chart.active" readonly disabled></td>
                            <td>{{chart.chartNumber}}</td>
                            <td>{{chart.internationalNumber}}</td>
                            <td>{{chart.name}}</td>
                            <td><span ng-if="chart.scale">1:{{chart.scale | numeral}}</span></td>
                            <td nowrap>
                                <a href ng-click="editChart(chart);" title="Edit Chart"><i class="glyphicon glyphicon-pencil"></i></a>
                                &nbsp;
                                <a href ng-click="deleteChart(chart);" title="Delete Chart"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                    </table>

                    <!-- Pagination -->
                    <div class="row">
                        <div class="col-sm-10">
                            <uib-pagination total-items="chartNo" items-per-page="pageSize" max-size="10"
                                            ng-model="currentPage" ng-change="pageChanged()"
                                            class="pagination pagination-sm" previous-text="&lsaquo;"  next-text="&rsaquo;"
                                            boundary-links="true" first-text="&laquo;" last-text="&raquo;">
                            </uib-pagination>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <ol-map class="charts-map" map-state="state.map">
                        <map-tile-layer name="OSM" visible="true" source="OSM"></map-tile-layer>
                        <map-charts-layer name="Charts" visible="true" charts="charts" fit-extent="true"></map-charts-layer>
                    </ol-map>
                </div>

            </div>
        </div>

    </div>

</admin-page>

