
<admin-page admin-page-title="Mailing lists" parent-page="sysadmin" parent-page-title="Sysadmin">

    <div ng-controller="MailingListAdminCtrl" ng-init="loadMailingLists()">

        <p>Manage mailing lists and their associated recipient users and contacts.</p>

        <!-- ************** Add/edit mailing list ************** -->
        <div ng-if="mailingList !== undefined && editMode !== 'recipients'" style="margin-top: 20px"
             ng-include="'/app/admin/admin-page-mailing-list-edit.html'">
        </div>


        <!-- ************** Manage mailing list recipients ************** -->
        <div ng-if="mailingList !== undefined && editMode === 'recipients'" style="margin-top: 20px"
             ng-include="'/app/admin/admin-page-mailing-list-recipients.html'">
        </div>


        <!-- ************** List mailing lists ************** -->
        <div ng-show="mailingList === undefined">
            <div class="row" ng-if="hasRole('sysadmin')">
                <div class="col-xs-4 col-sm-6 col-md-8">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="addMailingList()">
                        <span class="glyphicon glyphicon-plus"></span> New mailing list
                    </button>

                    <span class="btn-group" style="margin-left: 5px;" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                            <span class="glyphicon glyphicon-cog"></span>
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href="/rest/mailing-lists/all" target="_blank">Export...</a></li>
                            <li role="menuitem"><a href ng-click="uploadMailingListsDialog()">Import...</a></li>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="row" style="padding-top: 20px;">
                <div class="col-sm-12 col-md-10">
                    <table class='table table-condensed'>
                        <tr>
                            <th>Active</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>#Recipients</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="mailingList in mailingLists">
                            <td><input type="checkbox" ng-model="mailingList.active" disabled="disabled"></td>
                            <td>{{mailingList.mailingListId}}</td>
                            <td>{{mailingList.descs[0].name}}</td>
                            <td>
                                {{mailingList.recipientNo}}
                            </td>
                            <td nowrap align="right">
                                <a href ng-click="manageRecipients(mailingList);" title="Manage Recipients">
                                    <i class="fa fa-users"></i>
                                </a>
                                <span  ng-if="hasRole('sysadmin')">
                                    &nbsp;
                                    <a href ng-click="editMailingList(mailingList);" title="Edit Mailing list">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    &nbsp;
                                    <a href ng-click="copyMailingList(mailingList);" title="Copy Mailing list">
                                        <i class="glyphicon glyphicon-duplicate"></i>
                                    </a>
                                    &nbsp;
                                    <a href ng-click="deleteMailingList(mailingList);" title="Delete Mailing list">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

</admin-page>

