
<admin-page admin-page-title="Overview">

    <p>The Admin pages are used to administer base data and settings for the Niord application. It has been divided into the following sections:</p>

    <dl class="dl-horizontal">

        <dt><a href ui-sref="admin.charts">Charts</a></dt>
        <dd>Configure the nautical charts.</dd>

        <dt><a href ui-sref="admin.areas">Areas</a></dt>
        <dd>Manage the list of areas used for grouping NW and NM messages.</dd>

        <dt><a href ui-sref="admin.categories">Categories</a></dt>
        <dd>Manage the list of categories used for grouping NW and NM messages.</dd>

        <dt><a href ui-sref="admin.publications">Publications</a></dt>
        <dd>Manage the list of publications that can be assigned to NW and NM messages.</dd>

        <dt ng-if="hasResourceRole('manage-users', 'realm-management')"><a href ui-sref="admin.users">Users</a></dt>
        <dd ng-if="hasResourceRole('manage-users', 'realm-management')">Manage users and their group membership for the current domain.</dd>

        <dt ng-if="hasRole('sysadmin')"><a href ui-sref="admin.series">Message Series</a></dt>
        <dd ng-if="hasRole('sysadmin')">Manage the message series used for message series identifier.</dd>

        <dt ng-if="hasRole('sysadmin')"><a href ui-sref="admin.domains">Domains</a></dt>
        <dd ng-if="hasRole('sysadmin')">Manage the domains.</dd>

        <dt ng-if="adminIntegrationPageEnabled && hasRole('admin')"><a href ui-sref="admin.integration">Integration</a></dt>
        <dd ng-if="adminIntegrationPageEnabled && hasRole('admin')">Handle integration with the legacy systems.</dd>

        <dt ng-if="hasRole('admin')"><a href ui-sref="admin.batch">Batch Jobs</a></dt>
        <dd ng-if="hasRole('admin')">Monitor and manage batch jobs.</dd>

        <dt ng-if="hasRole('sysadmin')"><a href ui-sref="admin.dictionaries">Dictionaries</a></dt>
        <dd ng-if="hasRole('sysadmin')">Manage the dictionaries.</dd>

        <dt ng-if="hasRole('sysadmin')"><a href ui-sref="admin.settings">Settings</a></dt>
        <dd ng-if="hasRole('sysadmin')">Manage the system settings.</dd>
    </dl>

</admin-page>

