
<admin-page title="Batch Jobs">

    <div ng-controller="BatchAdminCtrl" ng-init="loadBatchStatus()">
        <p>Manage and monitoring of batch jobs</p>

        <div class="row">

            <!-- List of batch types -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="batch-types">
                    <div ng-repeat="batchType in batchStatus.types" class="batch-type"
                         ng-class="{'batch-type-selected' : batchType.name == batchName}"
                         ng-click="selectBatchType(batchType.name)">
                        <div style="font-weight: bold">{{batchType.name}}</div>
                        <div>
                            <small>{{batchType.instanceCount}} executions</small>
                            <small class="pull-right">{{batchType.runningExecutions}} running</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- List of batch type instances -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 batch-instances">
                <table class='table table-condensed'>
                    <tr>
                        <th>Instance</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat-start="execution in executions" ng-if="execution.instance" class="batch-instance-row">
                        <td>{{execution.instance.instanceId}}</td>
                        <td>{{execution.instance.name}}</td>
                        <td colspan="3">
                            <a ng-if="execution.instance.fileName"
                               class="batch-instance-download" target="_blank"
                               href="/rest/batch/instance/{{execution.instance.instanceId}}/download/{{execution.instance.fileName}}">
                                <img ng-src="/rest/batch/instance/{{execution.instance.instanceId}}/thumbnail.png" width="16" height="16">
                                {{execution.instance.fileName}}
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                        </td>
                    </tr>
                    <tr ng-repeat-end class="batch-execution-row">
                        <td></td>
                        <td>{{execution.startTime | formatDate}}</td>
                        <td>{{execution.endTime | formatDate}}</td>
                        <td>
                            <span class="label" ng-class="statusColor(execution)">
                                {{execution.batchStatus | lowercase}}
                            </span>
                        </td>
                        <td>
                            <button ng-if="execution.stoppable" class="btn btn-danger btn-xs"
                                    ng-click="stop(execution)">
                                stop
                            </button>
                            <button ng-if="execution.restartable" class="btn btn-primary btn-xs"
                                    ng-click="restart(execution)">
                                restart
                            </button>
                            <button ng-if="execution.abandonable" class="btn btn-default btn-xs"
                                    ng-click="abandon(execution)">
                                abandon
                            </button>
                        </td>
                    </tr>
                </table>

                <uib-pagination total-items="searchResult.total" items-per-page="pageSize"
                            ng-show="searchResult.total > pageSize"
                            ng-model="currentPage" ng-change="loadBatchInstances()"
                            class="pagination pagination-sm" previous-text="&lsaquo;"  next-text="&rsaquo;"
                            boundary-links="true" first-text="&laquo;" last-text="&raquo;">
                </uib-pagination>
            </div>

        </div>
    </div>

</admin-page>

