
<admin-page admin-page-title="Message Series">

    <div ng-controller="MessageSeriesAdminCtrl" ng-init="loadMessageSeries()">

        <p>Add, modify and manage message series.</p>

        <!-- Add/edit message series -->
        <div ng-if="series !== undefined" style="margin-top: 20px">
            <form name="edit_form" class="form-horizontal">

                <div class="row">
                    <div class="form-controls col-sm-12 col-md-6 col-lg-8">

                        <div class="form-group">
                            <label class="col-sm-4">Message Series ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" required
                                       focus="focusMe" ng-model="series.seriesId" ng-disabled="editMode == 'edit'" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">Message Type</label>
                            <div class="btn-group col-sm-8">
                                <label class="btn btn-default btn-sm" ng-model="series.mainType"
                                       ng-change="updateMrnFormat(false)" uib-btn-radio="'NW'">
                                    Navigational Warnings
                                </label>
                                <label class="btn btn-default btn-sm" ng-model="series.mainType"
                                       ng-change="updateMrnFormat(false)" uib-btn-radio="'NM'">
                                    Notices to Mariners
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">MRN Format</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-addon input-sm">{{mrnPrefix}}</div>
                                    <input type="text" id="mrnSuffix" class="form-control input-sm"
                                           ng-model="mrnSuffix" ng-change="mrnSuffixUpdated(mrnSuffix)" required
                                           autocapitalize="off" autocorrect="off" autocomplete="off"/>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            insert <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href ng-click="insertToken('mrnSuffix', '${full-year}')">Year (4 digits)</a></li>
                                            <li><a href ng-click="insertToken('mrnSuffix', '${year}')">Year (2 digits)</a></li>
                                            <li><a href ng-click="insertToken('mrnSuffix', '${week}')">Week</a></li>
                                            <li><a href ng-click="insertToken('mrnSuffix', '${number}')">Number (3 digits)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">Short Format</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" id="shortFormat" class="form-control input-sm"
                                           ng-model="series.shortFormat"
                                           autocapitalize="off" autocorrect="off" autocomplete="off"/>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            insert <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href ng-click="insertToken('shortFormat', '${full-year}')">Year (4 digits)</a></li>
                                            <li><a href ng-click="insertToken('shortFormat', '${year}')">Year (2 digits)</a></li>
                                            <li><a href ng-click="insertToken('shortFormat', '${week}')">Week</a></li>
                                            <li><a href ng-click="insertToken('shortFormat', '${number}')">Number (3 digits)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div style="margin-top: 20px;" class="row">
                    <div class="col-sm-offset-4">
                        <button type="submit" class="btn btn-default btn-sm" ng-click="loadMessageSeries()">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="saveMessageSeries(series)"
                                ng-disabled="edit_form.$pristine || edit_form.$invalid">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save Message Series
                        </button>
                    </div>
                </div>
            </form>
        </div>


        <!-- List message series -->
        <div ng-show="series === undefined">

            <div class="row">
                <div class="col-xs-8 col-sm-6 col-md-4">
                    <input class="form-control input-sm col-sm-2" ng-model="search" type="text" placeholder="Filter">
                    <span class="glyphicon glyphicon-remove clear-input" style="right: 22px"
                          ng-click="search = ''" ng-show="search != ''"></span>
                </div>
                <div class="col-xs-4 col-sm-6 col-md-8">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="addMessageSeries()">
                        <span class="glyphicon glyphicon-plus"></span> New Message Series
                    </button>
                </div>
            </div>

            <div class="row" style="padding-top: 20px;">
                <div class="col-sm-12 col-md-12">
                    <table class='table table-condensed table-hover'>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>MRN Format</th>
                            <th>Short Format</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="series in messageSeries | filter: { seriesId: search }">
                            <td>{{series.seriesId}}</td>
                            <td>{{series.mainType}}</td>
                            <td>{{series.mrnFormat}}</td>
                            <td>{{series.shortFormat}}</td>
                            <td nowrap align="right">
                                <a href ng-click="editMessageSeries(series);" title="Edit Message Series"><i class="glyphicon glyphicon-pencil"></i></a>
                                &nbsp;
                                <a href ng-click="copyMessageSeries(series);" title="Copy Message Series"><i class="glyphicon glyphicon-duplicate"></i></a>
                                &nbsp;
                                <a href ng-click="deleteMessageSeries(series);" title="Delete Message Series"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

</admin-page>

