
<div>
    <ul class="nav admin-nav-sidebar">
        <li ui-sref-active="active"><a href ui-sref="admin.overview">Overview</a></li>
        <li ui-sref-active="active"><a href ui-sref="admin.charts">Charts</a></li>
        <li ui-sref-active="active"><a href ui-sref="admin.areas">Areas</a></li>
        <li ui-sref-active="active"><a href ui-sref="admin.categories">Categories</a></li>
        <li ui-sref-active="active" ng-if="hasResourceRole('manage-users', 'realm-management')"><a href ui-sref="admin.users">Users</a></li>
        <li ui-sref-active="active" ng-if="hasRole('sysadmin')"><a href ui-sref="admin.series">Message Series</a></li>
        <li ui-sref-active="active" ng-if="hasRole('sysadmin')"><a href ui-sref="admin.domains">Domains</a></li>
        <li ui-sref-active="active" ng-if="adminIntegrationPageEnabled && hasRole('admin')"><a href ui-sref="admin.integration">Integration</a></li>
        <li ui-sref-active="active" ng-if="hasRole('admin')">
            <a href ui-sref="admin.batch">
                Batch Jobs
                &nbsp;<span uib-tooltip="{{batchStatus.runningExecutions}} running batch jobs" class="badge">{{batchStatus.runningExecutions}}</span>
            </a>
        </li>
        <li ui-sref-active="active" ng-if="hasRole('sysadmin')"><a href ui-sref="admin.dictionaries">Dictionaries</a></li>
        <li ui-sref-active="active" ng-if="hasRole('sysadmin')"><a href ui-sref="admin.settings">Settings</a></li>
    </ul>
</div>
