
<div class="row" ng-init="initFilter()">

    <div class="col-sm-12 col-md-6">
        <div class="mailing-list-header">Unselected</div>
        <div class="mailing-list-table">
            <table class='table table-condensed table-hover' style="margin-bottom: 0">
                <tr style="background-color: #eee">
                    <th>E-mail</th>
                    <th>Name</th>
                    <th width="60"></th>
                </tr>
                <tr ng-repeat="r in filteredData.availableRecipients">
                    <td>{{r.email}}</td>
                    <td>{{r.firstName + ' ' + r.lastName}}</td>
                    <td nowrap>
                        <a href ng-click="addRecipient(r)">
                            <i class="glyphicon glyphicon-plus"></i>
                            Add
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mailing-list-buttons row" style="margin-left: 0; margin-right: 0">
            <div class="col-sm-8">
                <input class="form-control input-xs col-sm-2" ng-model="filter.availableFilter"
                       type="text" placeholder="Filter"
                       ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
                <span class="glyphicon glyphicon-remove clear-input" style="right: 22px"
                      ng-click="filter.availableFilter = ''" ng-show="filter.availableFilter != ''"></span>
            </div>

            <div class="col-sm-4" style="text-align: right">
                <button class="btn btn-default btn-xs"
                        ng-click="addAllRecipients()">
                    Add All
                </button>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="mailing-list-header">Selected</div>
        <div class="mailing-list-table">
            <table class='table table-condensed table-hover' style="margin-bottom: 0">
                <tr style="background-color: #eee">
                    <th>E-mail</th>
                    <th>Name</th>
                    <th width="60"></th>
                </tr>
                <tr ng-repeat="r in filteredData.selectedRecipients">
                    <td>{{r.email}}</td>
                    <td>{{r.firstName + ' ' + r.lastName}}</td>
                    <td nowrap>
                        <a href ng-click="removeRecipient(r)">
                            <i class="glyphicon glyphicon-trash"></i>
                            Remove
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mailing-list-buttons row" style="margin-left: 0; margin-right: 0">
            <div class="col-sm-8">
                <input class="form-control input-xs col-sm-2" ng-model="filter.selectedFilter"
                       type="text" placeholder="Filter"
                       ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
                <span class="glyphicon glyphicon-remove clear-input" style="right: 22px"
                      ng-click="filter.selectedFilter = ''" ng-show="filter.selectedFilter != ''"></span>
            </div>

            <div class="col-sm-4" style="text-align: right">
                <button class="btn btn-default btn-xs"
                        ng-click="removeAllRecipients()">
                    Remove All
                </button>
            </div>
        </div>
    </div>
</div>
