<div>

    <div class="modal-header" style="text-align: center; padding: 5px 15px">
        <button type="button" class="close" ng-click="$dismiss('aborted')">x</button>
        <h4>Select Script Resource</h4>
    </div>

    <div class="modal-body" style="padding-bottom: 0" ng-init="loadScriptResources()">

        <div class="row">
            <div class="col-sm-12">
                <div style="position: relative">
                    <input type="text" id="filter" class="form-control input-sm" placeholder="Filter Script Resources"
                           ng-model="filter" autocomplete="off"/>
                    <span class="glyphicon glyphicon-remove clear-input" style="right: 22px"
                          ng-click="filter = ''" ng-show="filter != ''"></span>
                </div>

                <div>
                    <div class="script-resource-table">
                        <table class='table table-condensed table-hover'>
                            <tr>
                                <th>Path</th>
                            </tr>
                            <tr ng-repeat="r in resources | filter: { path: filter }">
                                <td class="clickable" ng-click="$close(r)">{{r.path}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 24px;">
            <div class="form-group col-xs-12" style="text-align: right">
                <button class="btn btn-default btn-sm" ng-click="$dismiss('aborted')">Close</button>
            </div>
        </div>
    </div>
</div>
