
<admin-page admin-page-title="Print Reports" parent-page="sysadmin" parent-page-title="Sysadmin">

    <div ng-controller="ReportsAdminCtrl" ng-init="loadReports()">

        <p>Add, modify and manage PDF print reports.</p>

        <form id="reportForm" name="reportForm" class="form-horizontal">

            <!-- Add/edit report -->
            <div ng-if="report !== undefined" style="margin-top: 20px">

                <div class="row">
                    <div class="form-controls col-sm-12 col-md-12 col-lg-8">

                        <div class="form-group">
                            <label class="col-sm-4">Report ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" required
                                       focus="focusMe" ng-model="report.reportId" ng-disabled="editMode == 'edit'" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" required
                                       ng-model="report.name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">Sort Order</label>
                            <div class="col-sm-8">
                                <input type="number" step="1" ng-model="report.sortOrder" style="width: 200px">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">Template</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm"
                                           pattern=".+\.(ftl|FTL)" required
                                           ng-model="report.templatePath" />
                                    <a class="input-group-addon clickable" style="font-size: 12px"
                                       href target="_blank"
                                       ui-sref="sysadmin.templates({ path: report.templatePath })">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">Domains</label>
                            <div class="col-sm-8">
                                <domain-field domain-data="report" multiple="true"></domain-field>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">Read-only Properties</label>
                            <div class="col-sm-8">
                                <json-data data="report.properties" json="reportProperties">
                                    <textarea class="form-control input-sm report-props" rows="3"
                                              ng-model="reportProperties"
                                              autocapitalize="off" autocorrect="off" autocomplete="off" ></textarea>
                                </json-data>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">Parameters</label>
                            <div class="col-sm-8">
                                <json-data data="report.params" json="reportParams">
                                    <textarea class="form-control input-sm report-props" rows="3"
                                              ng-model="reportParams"
                                              autocapitalize="off" autocorrect="off" autocomplete="off" ></textarea>
                                </json-data>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">Test</label>
                            <div class="col-sm-6">
                                <message-tags-field tag-data="testTagData" multiple="false"></message-tags-field>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-default btn-sm" style="width: 100%"
                                        ng-click="testReport(report)" ng-disabled="testTagData.tag === undefined">
                                    Test...
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div style="margin-top: 20px;" class="row">
                    <div class="col-sm-offset-4">
                        <button type="submit" class="btn btn-default btn-sm" ng-click="loadReports()">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="saveReport(report)"
                                ng-disabled="reportForm.$pristine || reportForm.$invalid">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save Report
                        </button>
                    </div>
                </div>
            </div>


            <!-- List reports -->
            <div ng-if="report === undefined">

                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-4">
                        <input class="form-control input-sm col-sm-2" ng-model="search" type="text" placeholder="Filter">
                        <span class="glyphicon glyphicon-remove clear-input" style="right: 22px"
                              ng-click="search = ''" ng-show="search != ''"></span>
                    </div>
                    <div class="col-xs-4 col-sm-6 col-md-8">
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="addReport()">
                            <span class="glyphicon glyphicon-plus"></span> New Report
                        </button>

                        <span class="btn-group" style="margin-left: 5px;" uib-dropdown>
                            <button id="single-button" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a href ng-click="exportReports()">Export...</a></li>
                                <li role="menuitem"><a href ng-click="uploadReportsDialog()">Import...</a></li>
                            </ul>
                        </span>
                    </div>
                </div>

                <div class="row" style="padding-top: 20px;">
                    <div class="col-sm-12 col-md-12">
                        <table class='table table-condensed table-hover'>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Order</th>
                                <th>Template Path</th>
                                <th>Domains</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="report in reports | filter: { reportId: search }">
                                <td>{{report.reportId}}</td>
                                <td>{{report.name}}</td>
                                <td>{{report.sortOrder}}</td>
                                <td>{{report.templatePath}}</td>
                                <td>
                                    <div ng-repeat="domain in report.domains">{{domain.domainId}}</div>
                                </td>
                                <td nowrap align="right">
                                    <a href ng-click="editReport(report);" title="Edit Report"><i class="glyphicon glyphicon-pencil"></i></a>
                                    &nbsp;
                                    <a href ng-click="deleteReport(report);" title="Delete Report"><i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </form>
    </div>

</admin-page>
