
<admin-page admin-page-title="Overview" parent-page="sysadmin" parent-page-title="Sysadmin">

    <p>The System Admin pages are used to administer system data and settings for the Niord application. It has been divided into the following sections:</p>

    <dl class="dl-horizontal">

        <dt><a href ui-sref="sysadmin.series">Message Series</a></dt>
        <dd>Manage the message series used for message series identifier.</dd>

        <dt><a href ui-sref="sysadmin.domains">Domains</a></dt>
        <dd>Manage the domains.</dd>

        <dt><a href ui-sref="sysadmin.promulgation">Promulgation Types</a></dt>
        <dd>Manage message promulgation types.</dd>

        <dt><a href ui-sref="sysadmin.schedules">Firing Schedules</a></dt>
        <dd>Manage the list of firing schedules.</dd>

        <dt><a href ui-sref="sysadmin.dictionaries">Dictionaries</a></dt>
        <dd>Manage the dictionaries.</dd>

        <dt><a href ui-sref="sysadmin.param-types">Parameter Types</a></dt>
        <dd>Manage the parameter types used for executing message templates.</dd>

        <dt><a href ui-sref="sysadmin.script-resources">Script Resources</a></dt>
        <dd>Manage the script resources (Freemarker & JavaScript) used for message templates, print reports and mails.</dd>

        <dt><a href ui-sref="sysadmin.categories">Categories</a></dt>
        <dd>Manage the list of categories used for grouping NW and NM messages and used for message templates.</dd>

        <dt><a href ui-sref="sysadmin.reports">Print Reports</a></dt>
        <dd>Manage the PDF print reports.</dd>

        <dt><a href ui-sref="sysadmin.mails">Mail Queue</a></dt>
        <dd>Search all pending and sent e-mails.</dd>

        <dt ng-if="adminIntegrationPageEnabled"><a href ui-sref="sysadmin.integration">Integration</a></dt>
        <dd ng-if="adminIntegrationPageEnabled">Handle integration with the legacy systems.</dd>

        <dt><a href ui-sref="sysadmin.settings">Settings</a></dt>
        <dd>Manage the system settings.</dd>

        <dt><a href ui-sref="sysadmin.batch">Batch Jobs</a></dt>
        <dd>Monitor and manage batch jobs.</dd>
    </dl>

</admin-page>

