
<admin-page admin-page-title="Message Series" parent-page="sysadmin" parent-page-title="Sysadmin">

    <div ng-controller="MessageSeriesAdminCtrl" ng-init="loadMessageSeries()">

        <p>Add, modify and manage message series.</p>

        <form id="seriesForm" name="seriesForm" class="form-horizontal">

            <!-- Add/edit message series -->
            <div ng-if="series !== undefined" style="margin-top: 20px">

                <div class="row">
                    <div class="form-controls col-sm-12 col-md-12 col-lg-8">

                        <div class="form-group">
                            <label class="col-sm-4">Message Series ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-sm" required
                                       focus="focusMe" ng-model="series.seriesId" ng-disabled="editMode == 'edit'" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">Main Type</label>
                            <div class="btn-group col-sm-8">
                                <label class="btn btn-default btn-sm" ng-model="series.mainType"
                                       ng-change="updateMainType()" uib-btn-radio="'NW'">
                                    Navigational Warnings
                                </label>
                                <label class="btn btn-default btn-sm" ng-model="series.mainType"
                                       ng-change="updateMainType()" uib-btn-radio="'NM'">
                                    Notices to Mariners
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">Restrict Types</label>
                            <div ng-if="series.mainType == 'NW'" class="btn-group col-sm-8">
                                <label class="btn btn-default btn-sm" ng-model="types['NW'].LOCAL_WARNING"
                                       uib-btn-checkbox translate>msg.type.LOCAL_WARNING</label>
                                <label class="btn btn-default btn-sm" ng-model="types['NW'].COASTAL_WARNING"
                                       uib-btn-checkbox translate>msg.type.COASTAL_WARNING</label>
                                <label class="btn btn-default btn-sm" ng-model="types['NW'].SUBAREA_WARNING"
                                       uib-btn-checkbox translate>msg.type.SUBAREA_WARNING</label>
                                <label class="btn btn-default btn-sm" ng-model="types['NW'].NAVAREA_WARNING"
                                       uib-btn-checkbox translate>msg.type.NAVAREA_WARNING</label>
                            </div>
                            <div ng-if="series.mainType == 'NM'" class="btn-group col-sm-8">
                                <label class="btn btn-default btn-sm" ng-model="types['NM'].TEMPORARY_NOTICE"
                                       uib-btn-checkbox translate>msg.type.TEMPORARY_NOTICE</label>
                                <label class="btn btn-default btn-sm" ng-model="types['NM'].PRELIMINARY_NOTICE"
                                       uib-btn-checkbox translate>msg.type.PRELIMINARY_NOTICE</label>
                                <label class="btn btn-default btn-sm" ng-model="types['NM'].PERMANENT_NOTICE"
                                       uib-btn-checkbox translate>msg.type.PERMANENT_NOTICE</label>
                                <label class="btn btn-default btn-sm" ng-model="types['NM'].MISCELLANEOUS_NOTICE"
                                       uib-btn-checkbox translate>msg.type.MISCELLANEOUS_NOTICE</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4">Number Sequence Type</label>
                            <div class="btn-group col-sm-8">
                                <label class="btn btn-default btn-sm" ng-model="series.numberSequenceType"
                                       uib-btn-radio="'YEARLY'" ng-change="updateShortFormat()">
                                    Yearly
                                </label>
                                <label class="btn btn-default btn-sm" ng-model="series.numberSequenceType"
                                       uib-btn-radio="'CONTINUOUS'" ng-change="updateShortFormat()">
                                    Continuous
                                </label>
                                <label class="btn btn-default btn-sm" ng-model="series.numberSequenceType"
                                       uib-btn-radio="'MANUAL'" ng-change="updateShortFormat()">
                                    Manual
                                </label>
                                <label class="btn btn-default btn-sm" ng-model="series.numberSequenceType"
                                       uib-btn-radio="'NONE'" ng-change="updateShortFormat()">
                                    None
                                </label>
                            </div>
                        </div>

                        <div class="form-group" ng-if="definesShortFormat(series)">
                            <label class="col-sm-4">Short Format</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" id="shortFormat" class="form-control input-sm"
                                           ng-model="series.shortFormat"
                                           autocapitalize="off" autocorrect="off" autocomplete="off"/>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            insert <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href ng-click="insertShortFormatToken('${year}')">Year</a></li>
                                            <li><a href ng-click="insertShortFormatToken('${year-2-digits}')">Year (2 digits)</a></li>
                                            <li><a href ng-click="insertShortFormatToken('${week}')">Week</a></li>
                                            <li><a href ng-click="insertShortFormatToken('${week-2-digits}')">Week (2 digits)</a></li>
                                            <li><a href ng-click="insertShortFormatToken('${number}')">Number</a></li>
                                            <li><a href ng-click="insertShortFormatToken('${number-3-digits}')">Number (3 digits)</a></li>
                                            <li><a href ng-click="insertShortFormatToken('${id}')">ID</a></li>
                                            <li><a href ng-click="insertShortFormatToken('${legacy-id}')">Legacy ID</a></li>
                                            <li ng-if="series.mainType == 'NM'"><a href ng-click="insertShortFormatToken('${t-or-p}')">T or P</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" ng-if="numberAssigned(series) && editMode == 'edit'">
                            <label class="col-sm-4">Next number ({{currentYear}})</label>
                            <div class="col-sm-8">
                                {{series.nextMessageNumber}}&nbsp;
                                <button class="btn btn-xs btn-default" title="Edit Next Message Series Number"
                                        ng-click="editNextNumber(series);" ng-disabled="seriesForm.$dirty">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </button>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-4">Additional Editor Fields</label>
                            <div class="col-sm-8">
                                <editor-fields-field editor-data="series"></editor-fields-field>
                            </div>
                        </div>

                    </div>
                </div>

                <div style="margin-top: 20px;" class="row">
                    <div class="col-sm-offset-4">
                        <button type="submit" class="btn btn-default btn-sm" ng-click="loadMessageSeries()">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="saveMessageSeries(series)"
                                ng-disabled="seriesForm.$pristine || seriesForm.$invalid">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save Message Series
                        </button>
                    </div>
                </div>
            </div>


            <!-- List message series -->
            <div ng-if="series === undefined">

                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-4">
                        <input class="form-control input-sm col-sm-2" ng-model="search" type="text" placeholder="Filter">
                        <span class="glyphicon glyphicon-remove clear-input" style="right: 22px"
                              ng-click="search = ''" ng-show="search != ''"></span>
                    </div>
                    <div class="col-xs-4 col-sm-6 col-md-8">
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="addMessageSeries()">
                            <span class="glyphicon glyphicon-plus"></span> New Message Series
                        </button>
                    </div>
                </div>

                <div class="row" style="padding-top: 20px;">
                    <div class="col-sm-12 col-md-12">
                        <table class='table table-condensed table-hover'>
                            <tr>
                                <th>ID</th>
                                <th>Type</th>
                                <th>Sequence</th>
                                <th>Short Format</th>
                                <th>Next Number ({{currentYear}})</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="series in messageSeries | filter: { seriesId: search }">
                                <td>{{series.seriesId}}</td>
                                <td>{{series.mainType}}</td>
                                <td>{{series.numberSequenceType | lowercase}}</td>
                                <td>{{series.shortFormat}}</td>
                                <td><span ng-if="numberAssigned(series)">{{series.nextMessageNumber}}</span></td>
                                <td nowrap align="right">
                                    <a href ng-click="editMessageSeries(series);" title="Edit Message Series"><i class="glyphicon glyphicon-pencil"></i></a>
                                    &nbsp;
                                    <a href ng-click="copyMessageSeries(series);" title="Copy Message Series"><i class="glyphicon glyphicon-duplicate"></i></a>
                                    &nbsp;
                                    <a href ng-click="deleteMessageSeries(series);" title="Delete Message Series"><i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </form>
    </div>

</admin-page>


<!-- ************************************************** -->
<!-- Dialog for updating the next message series number -->
<!-- ************************************************** -->
<script type="text/ng-template" id="nextMessageNumberDialog.html">
    <div class="modal-header">
        <h4 class="modal-title">Next Message Number</h4>
    </div>
    <div class="modal-body">

        <div class="container-fluid">

            <div ng-show="series.numberSequenceType == 'YEARLY'" class="form-group row">
                <label class="col-sm-4">Year</label>
                <div class="col-sm-8">
                    <select id="year" name="year" class="form-control input-sm" style="width: 120px"
                            ng-model="data.year" ng-options="year for year in data.years">
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Next number</label>
                <div class="col-sm-8">
                    <div class="input-group" style="width: 120px">
                        <input type="number" class="form-control input-sm"
                               min="0" step="1" required
                               focus="focusMe" ng-model="data.nextNumber"/>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-default" ng-click="computeNextNumber()"
                                    uib-tooltip="Compute next number">
                                <span class="glyphicon glyphicon-cog"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss('aborted')">Cancel</button>
        <button class="btn btn-primary" ng-click="updateNextNumber()">Update</button>
    </div>
</script>
