
<admin-page admin-page-title="Categories" parent-page="admin">

    <div ng-controller="CategoryAdminCtrl" ng-init="loadCategories()">

        <div class="row">
            <div class="col-md-6">
                <button href class="btn btn-primary btn-sm" ng-click="loadCategories()">
                    <span class="glyphicon glyphicon-refresh"></span> Reload
                </button>
                <button href class="btn btn-primary btn-sm" ng-click="newCategory()"
                    ng-disabled="editCategory && editCategory.type == 'TEMPLATE'">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
                <button href class="btn btn-primary btn-sm" ng-click="deleteCategory()" ng-disabled="category == undefined">
                    <span class="glyphicon glyphicon-trash"></span> Delete...
                </button>
                <span class="btn-group" style="margin-left: 5px;" uib-dropdown>
                    <button id="single-button" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="/rest/categories/all" target="_blank">Export...</a></li>
                        <li role="menuitem"><a href ng-click="uploadCategoriesDialog()">Import...</a></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="row">

            <!-- Category tree -->
            <div class="col-sm-5 col-md-4 panel panel-default category-panel">
                <div class="form-group">
                    <div style="position: relative;">
                        <input type="text" class="form-control input-sm" placeholder="Filter Categories" ng-model="categoryFilter" />
                        <span class="glyphicon glyphicon-remove clear-input" style="right: 22px"
                              ng-click="categoryFilter = ''" ng-show="categoryFilter != ''"></span>
                    </div>
                    <div entity-tree
                         entities="categories"
                         filter="categoryFilter"
                         flag-inactive="true"
                         flag-template="true"
                         entity-selected="selectCategory(entity)"
                         entity-moved="moveCategory(entity, parent)"
                         class="category-tree"></div>
                </div>
            </div>

            <!-- Category editor -->
            <form name="categoryForm" id="categoryForm" class="col-md-6 panel panel-default category-panel" role="form">
                <fieldset ng-if="editCategory">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="checkbox" ng-model="editCategory.active">&nbsp;&nbsp;Active
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="action == 'add'">
                        <label class="control-label" for="parent">Parent Category</label>
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="text" id="parent" ng-model="category.descs[0].name" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <div class="row">
                            <div class="col-sm-6" ng-repeat="desc in editCategory.descs">
                                <input class="form-control input-sm" placeholder="Name" type="text" ng-model="desc.name" ng-required="$first"
                                       bg-flag="desc.lang">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">MRN</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <input class="form-control input-sm" placeholder="MRN" type="text" ng-model="editCategory.mrn">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Additional Editor Fields</label>
                        <div class="row">
                            <div class="col-sm-12">
                                <editor-fields-field editor-data="editCategory"></editor-fields-field>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">AtoN filter</label>
                        <div class="row">
                            <div class="col-sm-12">
                                <input class="form-control input-sm" placeholder="AtoN filter" type="text" ng-model="editCategory.atonFilter">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Type</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="btn-group">
                                    <label class="btn btn-default btn-sm"
                                           ng-model="editCategory.type" uib-btn-radio="'CATEGORY'">
                                        Category
                                    </label>
                                    <label class="btn btn-default btn-sm"
                                           ng-model="editCategory.type" uib-btn-radio="'TEMPLATE'">
                                        Template
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="editCategory.type == 'TEMPLATE'">
                        <label class="control-label">Domains</label>
                        <div class="row">
                            <div class="col-sm-12">
                                <domain-field domain-data="editCategory" multiple="true"></domain-field>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="editCategory.type == 'TEMPLATE'">
                        <label class="control-label">Standard Template Fields</label>
                        <div class="row">
                            <div class="col-sm-12">
                                <std-template-fields-field template-data="editCategory"></std-template-fields-field>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="editCategory.type == 'TEMPLATE'">
                        <label class="control-label">Template Parameters</label>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="category-template-params">
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>
                                            <div class="pull-right">
                                                <button ng-click="addTemplateParam()" class="btn btn-default btn-xs">
                                                    <span class="glyphicon glyphicon-plus"></span> Add
                                                </button>
                                            </div>
                                        </th>
                                    </tr>
                                    <tbody ng-sortable="paramsSortableCfg">
                                        <tr ng-repeat="param in editCategory.templateParams">
                                            <td><span class="glyphicon glyphicon-move move-btn"></span></td>
                                            <td>{{param.paramId}}</td>
                                            <td>{{param.descs[0].name}}</td>
                                            <td>{{param.type}}</td>
                                            <td align="right">
                                                <a href title="Edit parameter"
                                                   ng-click="editTemplateParam(param)">
                                                    <span class="glyphicon glyphicon-pencil"></span></a>
                                                &nbsp;
                                                <a href  title="Delete parameter"
                                                   ng-click="deleteTemplateParam($index)">
                                                    <span class="glyphicon glyphicon-trash"></span></a>
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="editCategory.type == 'TEMPLATE'">
                        <label class="control-label">Script Resources</label>
                        <div class="row">
                            <div class="col-sm-12">
                                <script-resources-field
                                        path-data="editCategory"
                                        multiple="true"
                                        paths-changed="setDirty()">
                                </script-resources-field>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="editCategory.type == 'TEMPLATE'">
                        <label class="control-label">Example Template Message</label>
                        <div class="row">
                            <div class="col-sm-8">
                                <message-id-field reference="editCategory"></message-id-field>
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-default btn-sm" style="width: 100%"
                                        ng-click="executeTemplate(editCategory)" ng-disabled="editCategory.messageId === undefined">
                                    Test...
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <button href class="btn btn-primary btn-sm" ng-click="saveCategory()" ng-disabled="categoryForm.$pristine || categoryForm.$invalid">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Save
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</admin-page>



<!-- ************************************************** -->
<!-- Dialog for displaying result of executing template -->
<!-- ************************************************** -->
<script type="text/ng-template" id="templateCategoryResultDialog.html">
    <div class="modal-header">
        <h4 class="modal-title">Template Result</h4>
    </div>
    <div class="modal-body">

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="message-status-lang">
                        <span ng-repeat="lang in modelLanguages" ng-click="previewLanguage(lang)"
                              class="message-status-lang-btn pointer" ng-class="{'preview-lang-selected' : previewLang == lang}">
                            <img ng-src="/img/flags/{{lang}}.png" height="14"/>
                            {{'lang.' + lang | translate}}
                        </span>
                    </div>

                    <table ng-if="message.id" class='table table-condensed'>
                        <tr render-message-details
                            msg="previewMessage"
                            language="previewLang"
                            format="details"
                            show-promulgation="true"
                            show-details-menu="false"></tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss('cancelled')">Close</button>
    </div>
</script>
