<div>

    <div class="modal-body" style="padding-bottom: 0">


        <uib-tabset class="framed-tabs">


            <!-- ***** Template selection ***** -->
            <uib-tab active="selectTab" select="selectOperation('select')">
                <tab-heading>
                    <span class="glyphicon glyphicon-search"></span>
                    <span translate ng-if="type == 'TEMPLATE'">template.select_template</span>
                    <span translate ng-if="type != 'TEMPLATE'">template.select_category</span>
                </tab-heading>

                <div class="row" style="margin-top: 10px; margin-bottom: 20px">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <input class="form-control input-sm col-sm-2" ng-model="params.name"
                               type="text" id="templateFilter" placeholder="{{'term.name' | translate}}" tabindex="0"
                               ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
                        <span class="glyphicon glyphicon-remove clear-input" style="right: 22px"
                              ng-click="params.name = ''" ng-show="params.name != ''"></span>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <categories-field category-data="params" domain="domain" multiple="false"
                                            placeholder="{{'template.parent_category' | translate}}"></categories-field>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4" ng-if="atons.length > 0">
                        <span class="selected-atons-btn">
                            {{atons.length}} {{'menu.atons' | translate}} &nbsp;
                            <span class="glyphicon glyphicon-remove" style="cursor: pointer;"
                                  ng-click="clearAtons()"></span>
                        </span>
                    </div>
                </div>

                <div class="row" style="font-size: 11px">

                    <div class="col-sm-12 col-md-6">
                        <div class="template-dialog-header" translate>template.categories</div>
                        <div class="template-table">
                            <table class='table table-condensed' style="margin-bottom: 0">
                                <tr style="background-color: #eee">
                                    <th translate>term.name</th>
                                    <th width="20"><span class="glyphicon glyphicon-play text-success"></span></th>
                                    <th translate>template.parent_category</th>
                                </tr>
                                <tr ng-repeat="t in searchResult" ng-class="{ 'bg-primary' : focusedCategory && t.id == focusedCategory.id }"
                                    class="selected-template" tabindex="0">
                                    <td style="cursor: pointer; white-space: nowrap" ng-click="focusCategory(t)">
                                        <span ng-if="t.descs && t.descs.length > 0">{{t.descs[0].name}}</span>
                                    </td>
                                    <td ng-click="focusCategory(t)">
                                        <span ng-if="t.type == 'TEMPLATE'" class="glyphicon glyphicon-play text-success"></span>
                                    </td>
                                    <td style="cursor: pointer; white-space: nowrap; overflow-x: hidden" ng-click="focusCategory(t)">
                                        <span ng-if="t.parent" style="color: darkgray">({{formatParents(t.parent)}})</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="template-buttons">
                            <button class="btn btn-default btn-xs"
                                    ng-click="selectCategory(focusedCategory)"
                                    ng-disabled="!categoryFocused() || categorySelected(focusedCategory)">
                                <span translate>term.add_selected</span>
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="template-dialog-header" translate>template.selected_categories</div>
                        <div class="selected-template-table">
                            <table class='table table-condensed' style="margin-bottom: 0">
                                <tr style="background-color: #eee">
                                    <th width="20"></th>
                                    <th translate>term.name</th>
                                    <th width="20"><span class="glyphicon glyphicon-play text-success"></span></th>
                                    <th translate>template.parent_category</th>
                                </tr>
                                <tbody ng-sortable="categorySortableCfg">
                                    <tr ng-repeat="t in message.categories" ng-class="{ 'bg-primary' : focusedCategory && t.id == focusedCategory.id }"
                                        class="selected-template" tabindex="0">
                                        <td>
                                            <span class="glyphicon glyphicon-move move-btn"></span>
                                        </td>
                                        <td style="cursor: pointer; white-space: nowrap" ng-click="focusCategory(t)">
                                            <span ng-if="t.descs && t.descs.length > 0">{{t.descs[0].name}}</span>
                                        </td>
                                        <td ng-click="focusCategory(t)">
                                            <span ng-if="t.type == 'TEMPLATE'" class="glyphicon glyphicon-play text-success"></span>
                                        </td>
                                        <td style="cursor: pointer; white-space: nowrap; overflow-x: hidden" ng-click="focusCategory(t)">
                                            <span ng-if="t.parent" style="color: darkgray">({{formatParents(t.parent)}})</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="template-buttons">
                            <button class="btn btn-default btn-xs"
                                    ng-click="unselectCategory(focusedCategory)"
                                    ng-disabled="!categoryFocused() || !categorySelected(focusedCategory)">
                                <span translate>term.remove_selected</span>
                            </button>
                            <button class="btn btn-default btn-xs"
                                    ng-click="clearCategorySelection()" ng-disabled="!categoriesSelected()">
                                <span translate>term.remove_all</span>
                            </button>
                        </div>


                        <div ng-if="exampleMessage" class="template-dialog-header" style="margin-top: 30px">
                            <span translate>template.sample_message</span>
                            <span ng-if="focusedCategory !== undefined">({{focusedCategory.descs[0].name}})</span>
                        </div>
                        <div ng-if="exampleMessage" style="border: 1px solid lightgray">
                            <table class='table table-condensed' style="margin-bottom: 0">
                                <tr render-message-details
                                    msg="exampleMessage"
                                    format="details"
                                    show-promulgation="true"
                                    show-details-menu="false"></tr>
                            </table>
                        </div>
                    </div>
                </div>

            </uib-tab>


            <!-- ***** Template execution ***** -->
            <uib-tab active="executeTab" disable="focusedCategory === undefined"  select="selectOperation('execute')">
                <tab-heading>
                    <span class="glyphicon glyphicon-play"></span>
                    <span translate>template.execute</span>
                </tab-heading>

                <div>

                </div>

            </uib-tab>


        </uib-tabset>

        <div ng-if="operationSelected('select')" class="row" style="margin-top: 10px;">
            <div class="form-group col-xs-12" style="text-align: right;">
                <button class="btn btn-default btn-sm pull-left" ng-click="$dismiss('aborted')" translate>term.cancel</button>

                <button class="btn btn-primary btn-sm" style="width: 100px"
                        ng-click="useSelectedCategories()">OK</button>

                <button class="btn btn-success btn-sm"
                        ng-click="selectOperation('execute')" ng-disabled="!categoriesSelected()">
                    <span class="glyphicon glyphicon-play"></span>
                    <span translate>template.execute</span>
                </button>
            </div>
        </div>

        <div ng-if="operationSelected('execute')" class="row" style="margin-top: 10px;">
            <div class="form-group col-xs-12" style="text-align: right;">
                <button class="btn btn-default btn-sm pull-left" ng-click="$dismiss('aborted')" translate>term.cancel</button>

                <button class="btn btn-primary btn-sm" style="width: 100px"
                        ng-click="messageSelected()">OK</button>
            </div>
        </div>
    </div>
</div>


