
<div class="row" ng-controller="TemplateExecutionDialogCtrl">

    <div class="col-sm-12 col-md-7">


        <form method="post" name="editForm" id="editForm">
            <div class="editor-fields" style="margin-bottom: 0; padding-top: 0">

                <!-- ******************************************** -->
                <!-- ** >>>> Message Preamble Header           ** -->
                <!-- ******************************************** -->
                <div class="row template-dialog-param-group" style="margin-top: 0;">
                    <div class="col-sm-12">General</div>
                </div>

                <!-- ********************* -->
                <!-- ** Type            ** -->
                <!-- ********************* -->
                <template-dialog-param-field field-title-key="msg.field.type" ng-if="showStdTemplateField['type']">

                    <div class="btn-group" ng-if="message.mainType == 'NW'">
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'LOCAL_WARNING'"
                                tabindex="201" translate>msg.type.LOCAL_WARNING</button>
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'COASTAL_WARNING'"
                                tabindex="202"  translate>msg.type.COASTAL_WARNING</button>
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'SUBAREA_WARNING'"
                                tabindex="203"  translate>msg.type.SUBAREA_WARNING</button>
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'NAVAREA_WARNING'"
                                tabindex="204"  translate>msg.type.NAVAREA_WARNING</button>
                    </div>
                    <div class="btn-group" ng-if="message.mainType == 'NM'">
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'TEMPORARY_NOTICE'"
                                tabindex="205"  translate>msg.type.TEMPORARY_NOTICE</button>
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'PRELIMINARY_NOTICE'"
                                tabindex="206"  translate>msg.type.PRELIMINARY_NOTICE</button>
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'PERMANENT_NOTICE'"
                                tabindex="207"  translate>msg.type.PERMANENT_NOTICE</button>
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'MISCELLANEOUS_NOTICE'"
                                tabindex="208"  translate>msg.type.MISCELLANEOUS_NOTICE</button>
                    </div>
                </template-dialog-param-field>


                <!-- ********************* -->
                <!-- ** Message ID      ** -->
                <!-- ********************* -->
                <template-dialog-param-field field-title-key="msg.field.id" ng-if="showStdTemplateField['id']">

                    <table class="editor-field-value-table">
                        <tr>
                            <th>Message series</th>
                            <td>
                                <select class="form-control input-sm" style="width: 200px"
                                        tabindex="301"
                                        ng-model="message.messageSeries"
                                        ng-options="series.seriesId for series in messageSeries">
                                </select>
                            </td>
                        </tr>
                    </table>

                </template-dialog-param-field>


                <!-- ********************* -->
                <!-- ** Publish Date    ** -->
                <!-- ********************* -->
                <template-dialog-param-field field-title-key="msg.field.publish_date" ng-if="showStdTemplateField['publish_date']">

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <date-time-picker ng-model="message.publishDateFrom" placeholder="Publish From" format="'lll z'"
                                              readonly="message.status != 'DRAFT' && message.status != 'VERIFIED'"
                                              tab-index="601"></date-time-picker>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <date-time-picker ng-model="message.publishDateTo" placeholder="Publish To" format="'lll z'"
                                              readonly="message.status != 'DRAFT' && message.status != 'VERIFIED'  && message.status != 'PUBLISHED'"
                                              tab-index="601"></date-time-picker>
                        </div>
                    </div>

                </template-dialog-param-field>


                <!-- ********************* -->
                <!-- ** Areas           ** -->
                <!-- ********************* -->
                <template-dialog-param-field field-title-key="msg.field.areas" ng-if="showStdTemplateField['areas']">

                    <div class="row">
                        <div class="col-sm-12">
                            <areas-field id="areas" area-data="message" multiple="true" domain="domain"></areas-field>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-6" ng-repeat="desc in message.descs">
                            <input class="form-control input-sm" placeholder="Vicinity" type="text"
                                   tabindex="704"
                                   ng-model="desc.vicinity" bg-flag="desc.lang"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
                        </div>
                    </div>

                </template-dialog-param-field>



                <!-- ******************************************** -->
                <!-- ** >>>> Templates                         ** -->
                <!-- ******************************************** -->
                <div ng-repeat="template in templates" ng-init="templateIndex = $index">

                    <div class="row template-dialog-param-group">
                        <div class="col-sm-12">{{template.descs[0].name}}</div>
                    </div>


                    <!-- ********************* -->
                    <!-- ** Event dates     ** -->
                    <!-- ********************* -->
                    <template-dialog-param-field field-title-key="msg.field.event_dates" ng-if="showStdTemplateField['event_dates']">

                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-condensed editor-date-interval-table">
                                    <tr>
                                        <th>All-day</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>
                                            <div class="pull-right">
                                                <button ng-click="addPartEventDate(message.parts[templateIndex])" class="btn btn-default btn-xs">
                                                    <span class="glyphicon glyphicon-plus"></span> Add
                                                </button>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr ng-repeat="di in message.parts[templateIndex].eventDates" class="evt-date" >
                                        <td width="60" style="padding-top: 10px" align="center">
                                            <input type="checkbox" ng-model="di.allDay">
                                        </td>
                                        <td width="220">
                                            <date-time-picker ng-model="di.fromDate" placeholder="From date"
                                                              time="di.allDay ? '00:00:00' : undefined" format="di.allDay ? 'll' : 'lll z'"></date-time-picker>
                                        </td>
                                        <td width="220">
                                            <date-time-picker ng-model="di.toDate" placeholder="To date"
                                                              time="di.allDay ? '23:59:59' : undefined" format="di.allDay ? 'll' : 'lll z'"></date-time-picker>
                                        </td>
                                        <td width="*" style="padding-top: 12px" nowrap>
                                            <a href ng-click="deletePartEventDate(message.parts[templateIndex], di);"
                                               title="Delete Interval"><span class="glyphicon glyphicon-trash"></span></a>
                                            &nbsp;
                                            <a href ng-click="copyPartEventDate(message.parts[templateIndex], di, 0);"
                                               title="Duplicate Interval"><span class="glyphicon glyphicon-duplicate"></span></a>
                                            &nbsp;
                                            <a href ng-click="copyPartEventDate(message.parts[templateIndex], di, 1);"
                                               title="Duplicate Interval + 1 day"><span class="glyphicon glyphicon-duplicate">+</span></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </template-dialog-param-field>


                    <!-- ********************* -->
                    <!-- ** Positions       ** -->
                    <!-- ********************* -->
                    <template-dialog-param-field field-title-key="msg.field.positions" ng-if="showStdTemplateField['positions']">

                        <div class="row">
                            <div class="col-sm-12">
                                <gj-editor id="position-editor"
                                           class="template-message-map"
                                           edit-type="message"
                                           feature-collection="message.parts[$index].geometry"
                                           show-wms-layer="true"
                                           on-save="computeAreas()"></gj-editor>
                            </div>
                        </div>

                    </template-dialog-param-field>

                    <!-- ********************* -->
                    <!-- ** Template Params ** -->
                    <!-- ********************* -->
                    <template-dialog-param-field ng-repeat="param in template.templateParams"
                                                 field-title="{{param.descs[0].name}}"
                                                 mandatory="param.mandatory">

                        <div class="row">
                            <div class="col-sm-12">

                                <template-input-field
                                        template-param="param"
                                        template-data="templateData"
                                        index="templateIndex"
                                        message="message"
                                        param-type-map="paramTypeMap"
                                        nested="false">
                                </template-input-field>

                            </div>
                        </div>

                    </template-dialog-param-field>

                    <!-- ********************* -->
                    <!-- ** Markings        ** -->
                    <!-- ********************* -->
                    <template-dialog-param-field field-title="Markings"
                                                 ng-if="showStdTemplateField['markings'] && paramTypeMap['marking_type_list'] && paramTypeMap['marking_bearing']">

                        <div class="row" ng-init="templateData[templateIndex].markings = []">
                            <div class="col-sm-12">
                                <table class="table table-condensed editor-date-interval-table">
                                    <tr>
                                        <th>Type</th>
                                        <th>Light Char.</th>
                                        <th>
                                            Dist. (m)
                                        </th>
                                        <th colspan="2">
                                            Bearing
                                            <div class="pull-right">
                                                <button ng-click="addMarking(templateData[templateIndex].markings)" class="btn btn-default btn-xs">
                                                    <span class="glyphicon glyphicon-plus"></span> Add
                                                </button>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr ng-repeat="m in templateData[templateIndex].markings">
                                        <td>
                                            <select class="form-control input-sm"
                                                    ng-model="m.type"
                                                    ng-options="val as val.descs[0].value for val in paramTypeMap['marking_type_list'].values"
                                                    required>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" style="width: 100px"
                                                   ng-model="m.lightCharacter"
                                                   ng-remote-validate="/rest/templates/validate-light-character"
                                                   ng-remote-method="POST"
                                                   ng-disabled="!m.type || m.type.key.indexOf('light') == -1">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control input-sm" style="width: 60px"
                                                   ng-model="m.distance">
                                        </td>
                                        <td>
                                            <select class="form-control input-sm"  style="width: 40px"
                                                    ng-model="m.bearing"
                                                    ng-options="val as val.descs[0].value for val in paramTypeMap['marking_bearing'].values">
                                            </select>
                                        </td>
                                        <td width="*" style="padding-top: 12px">
                                            <a href ng-click="deleteMarking(templateData[templateIndex].markings, m);"
                                               title="Delete Interval"><span class="glyphicon glyphicon-trash"></span></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </template-dialog-param-field>

                </div>

            </div>

        </form>

    </div>

    <div class="col-sm-12 col-md-5">
        <div class="message-status-lang" style="text-align: center;">
            <span style="text-align: left">
                <span style="font-weight: bold; color: white">Preview</span> &nbsp;
                <span ng-repeat="lang in modelLanguages" ng-click="previewLanguage(lang)"
                      style="padding-top: 4px; padding-bottom: 4px"
                      class="message-status-lang-btn pointer"
                      ng-class="{'preview-lang-selected' : previewLang == lang}">
                    <img ng-src="/img/flags/{{lang}}.png" height="14"/>
                    {{'lang.' + lang | translate}}
                </span>
            </span>
        </div>

        <table ng-if="previewMessage" class='table table-condensed'>
            <tr render-message-details
                msg="previewMessage"
                language="previewLang"
                format="details"
                show-promulgation="true"
                show-details-menu="false"></tr>
        </table>
    </div>
</div>
