
<div class="row field-editor">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <div class="template-dialog-param-field-label">
            <span ng-if="fieldTitleKey" translate>{{fieldTitleKey}}</span>
            <span ng-if="fieldTitle" translate>{{fieldTitle}}</span>
            <span ng-if="mandatory" class="template-param-mandatory">*</span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
        <div class="template-dialog-param-field-value row">
            <div class="{{valueClass}}" ng-transclude></div>
        </div>
    </div>
</div>
