<div>

    <div class="modal-body" style="padding-bottom: 0">


        <uib-tabset class="framed-tabs">


            <!-- ****************************** -->
            <!-- ***** Template selection ***** -->
            <!-- ****************************** -->
            <uib-tab active="selectTab" select="selectOperation('select')">
                <tab-heading>
                    <span class="glyphicon glyphicon-search"></span>
                    <span translate ng-if="type == 'TEMPLATE'">template.select_template</span>
                    <span translate ng-if="type != 'TEMPLATE'">template.select_category</span>
                </tab-heading>

                <ng-include src="'/app/template/template-dialog-select-tab.html'"></ng-include>

            </uib-tab>



            <!-- ****************************** -->
            <!-- ***** Template execution ***** -->
            <!-- ****************************** -->
            <uib-tab ng-if="executable" active="executeTab" disable="!categoriesSelected()"  select="selectOperation('execute')">
                <tab-heading>
                    <span class="glyphicon glyphicon-play"></span>
                    <span translate>template.execute</span>
                </tab-heading>

                <ng-include src="'/app/template/template-dialog-execute-tab.html'"></ng-include>

            </uib-tab>


        </uib-tabset>



        <!-- ****************************** -->
        <!-- ***** Button Panel       ***** -->
        <!-- ****************************** -->

        <div ng-if="operationSelected('select')" class="row" style="margin-top: 10px;">
            <div class="form-group col-xs-12" style="text-align: right;">

                <button class="btn btn-default btn-sm pull-left" ng-click="$dismiss('aborted')" translate>term.cancel</button>

                <button ng-if="executable" class="btn btn-success btn-sm"
                        ng-click="selectOperation('execute')" ng-disabled="!categoriesSelected()">
                    <span class="glyphicon glyphicon-play"></span>
                    <span translate>template.execute</span>
                </button>

                <button class="btn btn-primary btn-sm" style="width: 100px"
                        ng-click="useSelectedCategories()">OK</button>
            </div>
        </div>

        <div ng-if="executable && operationSelected('execute')" class="row" style="margin-top: 10px;">
            <div class="form-group col-xs-12" style="text-align: right;">
                <button class="btn btn-default btn-sm pull-left" ng-click="$dismiss('aborted')" translate>term.cancel</button>

                <button class="btn btn-success btn-sm"
                        ng-click="refreshPreviewMessage()" ng-disabled="!categoriesSelected()">
                    <span class="glyphicon glyphicon-refresh"></span>
                    <span>Refresh Preview</span>
                </button>

                <button class="btn btn-primary btn-sm" style="width: 100px"
                        ng-click="messageSelected()">OK</button>
            </div>
        </div>
    </div>
</div>


