<!DOCTYPE html>
<html data-framework="angularjs">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Navigational Warnings and Notices to Mariners</title>
    <link rel="icon" href="/img/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">

    <link rel="stylesheet" type="text/css" href="/ext/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/ext/bootstrap-3.3.5/css/bootstrap-theme.min.css">

</head>
<body  data-ng-controller="GlobalCtrl">

    <h1>test</h1>

    <div data-ng-if="isLoggedIn()">
        <a href data-ng-click="logout()">Log out</a>
    </div>

    <div data-ng-if="!isLoggedIn()">
        <a href data-ng-click="login()">Log in</a>
    </div>

    <h2>User Profile</h2>
    <a href data-ng-click="loadUserProfile()">Load</a><br>
    <div>Profile: {{userProfile | json}}</div>


    <script type="text/javascript" src="/ext/jquery-2.1.4/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/ext/angularjs-1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="/ext/angularjs-1.4.8/angular-route.min.js"></script>
    <script type="text/javascript" src="/ext/angularjs-1.4.8/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/ext/angular-bootstrap-0.14.3/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script type="text/javascript" src="/ext/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/ext/keycloak-js-adapter-dist-1.9.1.Final/keycloak.js"></script>

    <script type="text/javascript" src="/test.js"></script>
</body>
</html>
