<div>

    <div class="modal-header" style="text-align: center; padding: 5px 15px">
        <button type="button" class="close" ng-click="$dismiss('aborted')">x</button>
        <h4>Select Area</h4>
    </div>

    <div class="modal-body print" style="padding-bottom: 0">

        <div class="row">
            <div class="form-group">
                <label class="col-sm-12">Select area with a geometry</label>
                <div class="col-sm-12">
                    <areas-field id="area" area-data="data" multiple="false" domain="domain" geometry="true"></areas-field>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 24px;">
            <div class="form-group col-xs-12" style="text-align: right">
                <button class="btn btn-default btn-sm" ng-click="$dismiss('aborted')">Cancel</button>
                &nbsp;
                <button id="printBtn" class="btn btn-primary btn-sm" ng-click="areaSelected()">Select</button>
            </div>
        </div>
    </div>
</div>
