
<div class="editor-contents container" ng-controller="EditorHistoryCtrl">
    <h3 class="page-header">
        History

        <span class="pull-right">
            <a ng-href="{{backToListUrl}}" ng-if="backToListUrl"
               class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-arrow-left"></span> <span translate>editor.back_to_list</span>
            </a>
            <a href ng-click="clearMessage()" ng-if="message"
               style="margin-left: 5px"
               class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-remove"></span> <span translate>editor.clear</span>
            </a>
        </span>
    </h3>

    <div class="empty-search-result" ng-if="!message.created">
        <p>No persisted message selected</p>
    </div>

    <div ng-if="message.created">
        <div style="margin: 20px 0 30px 0;">
            <ul>
                <li>
                    Select single revision to see the associated data.
                </li>
                <li>Select two revisions to see
                    <span style="background-color: #fcff7f">changes</span>,
                    <span style="background-color: #8bff7f">additions</span>
                    and <span style="background-color: #fd7f7f">deletions</span>
                    from the oldest to the newest revision.
                </li>
            </ul>
        </div>

        <div class="row">

            <!-- History List -->
            <div class="col-sm-12 col-md-6">
                <table class='table table-condensed message-history-table'>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Revision</th>
                        <th>Date</th>
                        <th>User</th>
                        <th>Status</th>
                    </tr>
                    <tr ng-repeat="hist in messageHistory" >
                        <td>
                            <input type="checkbox" ng-model="hist.selected"
                                   ng-if="hist.selected || selectedHistory.length < 2"
                                   ng-change="updateSelection()">
                        </td>
                        <td>{{hist.version}}</td>
                        <td>{{hist.created | formatDate}}</td>
                        <td>{{hist.user == null ? 'System' : hist.user}}</td>
                        <td>{{hist.status}}</td>
                    </tr>
                </table>
            </div>


            <!-- History Details -->
            <div class="col-sm-12 col-md-6">

                <div ng-if="selectedHistory.length == 0" class="message-history-header">
                    No revision selected
                </div>

                <div ng-if="selectedHistory.length == 1" class="message-history-header">
                    Revision #{{selectedHistory[0].version}}
                </div>

                <div ng-if="selectedHistory.length == 2" class="message-history-header">
                    Comparing revision #{{selectedHistory[0].version}} and #{{selectedHistory[1].version}}
                </div>

                <div class="message-history-json json-diff" history-json-diff="selectedHistory"></div>

                <div ng-if="historyAttachments" class="message-history-attachments">
                    <span class="attachment-list" ng-repeat="att in historyAttachments">
                        <message-attachment attachment="att" size="32"></message-attachment>
                    </span>
                </div>
            </div>

        </div>

    </div>

</div>
