
<div ng-controller="AtonDetailsCtrl"></div>
<div ng-controller="MessageDetailsCtrl"></div>

<div class="editor-page" ng-controller="EditorCtrl">

    <h1>Editor</h1>

    <div ng-repeat="fc in featureCollections">
        <div>
            <a href ng-click="editFeatureCollection($index)">Open</a>
            <a href ng-click="updateFeatureCollection(fc)">Update</a>
            <a href ng-click="newFeatureCollection(fc)">Save Copy</a>
            <a href ng-click="openThumbnail(fc)">Image</a>
        </div>

        <gj-editor id="gj-editor-{{$index}}" class="editor-locations"
                   edit-type="message" feature-collection="fc"></gj-editor>

    </div>

</div>

<div ng-include="'app/layout/footer.html'"></div>

