
<div class="editor-contents container">
    <h3 class="page-header">Message Editor</h3>

    <div ng-if="!message || !message.mainType" style="margin-top: 10px">
        <button class="btn btn-sm btn-primary" ng-if="canCreateMessage('NW')" ng-click="createMessage('NW')"
                ng-disabled="selection.isEmpty()">New NW</button>
        <button class="btn btn-sm btn-primary" ng-if="canCreateMessage('NM')" ng-click="createMessage('NM')"
                ng-disabled="selection.isEmpty()">New NM</button>
    </div>


    <form ng-if="message && message.mainType" method="post" name="editForm" id="editForm">
        <div class="editor-fields" style="margin-bottom: 40px;">

            <!-- ********************* -->
            <!-- ** Type            ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="type" field-title="msg.field.type" field-valid="fieldValid(fieldId)">

                <editor-field-value-viewer>
                    {{message.mainType}}
                    <span ng-if="message.type">({{'msg.type.' + message.type | translate}})</span>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12 col-md-6 col-lg-4">
                    <div class="btn-group" ng-if="message.mainType == 'NW' || supportsNw(true)">
                        <label class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'LOCAL_WARNING'" translate>msg.type.LOCAL_WARNING</label>
                        <label class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'COASTAL_WARNING'" translate>msg.type.COASTAL_WARNING</label>
                        <label class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'SUBAREA_WARNING'" translate>msg.type.SUBAREA_WARNING</label>
                        <label class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'NAVAREA_WARNING'" translate>msg.type.NAVAREA_WARNING</label>
                    </div>
                    <div class="btn-group" ng-if="message.mainType == 'NM' || supportsNm(true)">
                        <label class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'TEMPORARY_NOTICE'" translate>msg.type.TEMPORARY_NOTICE</label>
                        <label class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'PRELIMINARY_NOTICE'" translate>msg.type.PRELIMINARY_NOTICE</label>
                        <label class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'PERMANENT_NOTICE'" translate>msg.type.PERMANENT_NOTICE</label>
                        <label class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'MISCELLANEOUS_NOTICE'" translate>msg.type.MISCELLANEOUS_NOTICE</label>
                    </div>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Original Info   ** -->
            <!-- ********************* -->
            <editor-field ng-if="message.mainType == 'NM'" edit-mode="editMode" field-id="orig_info" field-title="msg.field.orig_info">

                <editor-field-value-viewer>
                    <div ng-if="message.originalInformation">&#9733;</div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <button type="button" class="btn btn-sm btn-default" ng-model="message.originalInformation"
                            uib-btn-checkbox uib-btn-checkbox-true="true" uib-btn-checkbox-false="false">
                        <span class="glyphicon glyphicon-star"></span>
                    </button>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Message ID      ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="id" field-title="msg.field.id" field-valid="fieldValid(fieldId)">

                <editor-field-value-viewer>
                    <span class="label label-message-id" style="font-size: 11px">{{message.shortId}}</span>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <table class="editor-field-value-table">
                        <tr>
                            <th>Message series</th>
                            <td>
                                <select class="form-control input-sm" style="width: 200px"
                                        ng-model="message.messageSeries"
                                        ng-options="series.seriesId for series in messageSeries">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Short ID</th>
                            <td><span class="label label-message-id" style="font-size: 11px">{{message.shortId}}</span></td>
                        </tr>
                        <tr>
                            <th>MRN</th>
                            <td>{{message.mrn}}</td>
                        </tr>
                    </table>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Title line      ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="title" field-title="msg.field.title">

                <editor-field-value-viewer>
                    <div ng-if="message.descs.length > 0">
                        <strong>{{message.descs[0].title}}</strong>
                        <span ng-if="message.descs[0].lang != language" style="color: darkgray;">
                            <img ng-src="/img/flags/{{message.descs[0].lang}}.png" style="height: 12px; opacity: 0.5;"/>
                        </span>
                    </div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-sm btn-default" ng-model="message.autoTitle"
                                    uib-btn-checkbox uib-btn-checkbox-true="true" uib-btn-checkbox-false="false">
                                <span class="glyphicon glyphicon-lock"></span> Auto-generate
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-12 col-md-8" ng-repeat="desc in message.descs">
                            <input class="form-control input-sm" placeholder="Title" type="text"
                                   ng-model="desc.title" bg-flag="desc.lang" ng-disabled="message.autoTitle">
                        </div>
                    </div>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** References      ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="references" field-title="msg.field.references">

                <editor-field-value-viewer>
                    <div ng-repeat="ref in message.references">
                        <a href ng-click="referenceClicked(ref.messageId)">{{ref.messageId}}</a>
                        <span ng-switch="ref.type">
                            <span ng-switch-when="REPETITION" translate>msg.reference.repetition</span>
                            <span ng-switch-when="CANCELLATION" translate>msg.reference.cancelled</span>
                            <span ng-switch-when="UPDATE" translate>msg.reference.updated</span>
                        </span>
                        <span ng-if="ref.description">{{ref.description}}</span>
                    </div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12 col-md-8">
                    <table class="table table-condensed" style="margin-bottom: 0;">
                        <tr ng-repeat="ref in message.references">
                            <td><a href ng-click="referenceClicked(ref.messageId)">{{ref.messageId}}</a></td>
                            <td>
                                <span ng-switch="ref.type">
                                    <span ng-switch-when="REFERENCE" translate>msg.reference.reference</span>
                                    <span ng-switch-when="REPETITION" translate>msg.reference.repetition</span>
                                    <span ng-switch-when="CANCELLATION" translate>msg.reference.cancelled</span>
                                    <span ng-switch-when="UPDATE" translate>msg.reference.updated</span>
                                </span>
                            </td>
                            <td>{{ref.description}}</td>
                            <td><a href ng-click="deleteReference(ref);" title="Delete Reference"><i class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                        <tr>
                            <td>
                                <message-id-field reference="newRef"></message-id-field>
                            </td>
                            <td>
                                <select class="form-control input-sm" ng-model="newRef.type">
                                    <option value="REFERENCE" translate>msg.reference.reference</option>
                                    <option value="REPETITION" translate>msg.reference.repetition</option>
                                    <option value="CANCELLATION" translate>msg.reference.cancelled</option>
                                    <option value="UPDATE" translate>msg.reference.updated</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control input-sm" placeholder="Description"
                                       ng-model="newRef.description" />
                            </td>
                            <td><a href ng-click="addReference();" title="Add Reference" ng-show="newRef.messageId">
                                <i class="glyphicon glyphicon-plus" style="margin-top: 5px;"></i></a></td>
                        </tr>
                    </table>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Time            ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="time" field-title="msg.field.time" field-valid="fieldValid(fieldId)">

                <editor-field-value-viewer>
                    <render-message-dates msg="message"></render-message-dates>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    TBD
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Areas           ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="areas" field-title="msg.field.areas" field-valid="fieldValid(fieldId)">

                <editor-field-value-viewer>
                    <span ng-repeat="area in message.areas"><span ng-if="$index > 0">,</span> {{area.descs[0].name}}</span>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12 col-md-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <ui-select multiple id="areas" ng-model="message.areas" ng-change="updateTitleLine()">
                                <ui-select-match placeholder="Select areas">
                                    {{$item.descs[0].name}}
                                </ui-select-match>
                                <ui-select-choices repeat="area in areas"
                                                   refresh="refreshAreas($select.search)"
                                                   refresh-delay="100">
                                    <div>
                                        <span ng-bind-html="area.descs[0].name | highlight: $select.search"></span>
                                        <small ng-if="area.parent">({{formatParents(area.parent)}})</small>
                                    </div>

                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-sm-4">
                            <button href class="btn btn-default btn-sm" ng-disabled="!message.areas || message.areas.length == 0"
                                    ng-click="copyAreaLocations()">Copy Locations</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-6" ng-repeat="desc in message.descs">
                            <input class="form-control input-sm" placeholder="Vicinity" type="text"
                                   ng-model="desc.vicinity" bg-flag="desc.lang"
                                   ng-change="updateTitleLine()"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
                        </div>
                    </div>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Positions       ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="positions" field-title="msg.field.positions">

                <editor-field-value-viewer>
                    <div ng-if="featureCoordinates.length > 0">
                        <span class="glyphicon glyphicon-map-marker" style="color: darkgray"></span>
                        <a href ng-if="showCoordinates" ng-click="toggleShowCoordinates()" class="clickable" translate>msg.hide_positions</a>
                        <a href ng-if="!showCoordinates" ng-click="toggleShowCoordinates()" class="clickable" translate>msg.show_positions</a>
                    </div>
                    <div ng-if="showCoordinates">
                        <div ng-repeat="featureCoords in featureCoordinates">
                            <div ng-if="featureCoords.name" class="message-details-position-names">{{featureCoords.name}}</div>
                            <ol class="message-details-positions" start="{{featureCoords.startIndex}}">
                                <li ng-repeat="c in featureCoords.coords">
                                    <span>{{c | lonlat:{ decimals : 3, pp: true } }}<span ng-if="c.name">, {{c.name}}</span></span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-8 ">
                            <gj-editor id="position-editor"
                                       class="editor-locations"
                                       edit-type="message"
                                       feature-collection="message.geometry"
                                       on-save="geometrySaved(featureCollection)"></gj-editor>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">

                            <div class="editor-map-image-thumbnail">
                                <img ng-src="/rest/message-map-image/{{message.repoPath}}/image.png?{{imgCacheBreaker}}" width="256" height="256"/>

                                <div class="editor-map-image-menu text-center">
                                    <div class="btn-group" uib-dropdown>
                                        <button type="button" class="btn btn-sm btn-default" uib-dropdown-toggle>
                                            <span class="glyphicon glyphicon-camera"></span>
                                            Thumbnail
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                            <li role="menuitem"><a href ng-click="messageThumbnailDialog()">Select thumbnail...</a></li>
                                            <li role="menuitem"><a href ng-click="uploadMessageThumbnailDialog()">Upload thumbnail...</a></li>
                                            <li role="menuitem"><a href ng-click="clearMessageThumbnail()">Clear thumbnail</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Charts          ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="charts" field-title="msg.field.charts">

                <editor-field-value-viewer>
                    <span ng-repeat="chart in message.charts"><span ng-if="$index > 0">,</span>
                        {{chart.chartNumber}}<span ng-if="chart.internationalNumber"> (INT {{chart.internationalNumber}})</span></span>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12 col-md-10">
                    <div class="row">
                        <div class="col-sm-6 col-md-8">
                            <ui-select multiple id="charts" ng-model="message.charts" >
                                <ui-select-match placeholder="Select charts">
                                    {{$item.chartNumber}}
                                    <span ng-if="$item.internationalNumber">(INT {{$item.internationalNumber}})</span>
                                </ui-select-match>
                                <ui-select-choices repeat="chart in charts"
                                                   refresh="refreshCharts($select.search)"
                                                   refresh-delay="100">
                                    <span ng-bind-html="chart.chartNumber | highlight: $select.search"></span>
                                    <span ng-if="chart.internationalNumber">(INT {{chart.internationalNumber}})</span>
                                    <small ng-bind-html="chart.name | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <button href class="btn btn-default btn-sm" ng-disabled="message.geometry.features.length == 0"
                                    ng-click="computeCharts()">Compute from Locations</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-6 col-md-4">
                            <input type="text" class="form-control input-sm" placeholder="Horizontal Datum"
                                   ng-model="message.horizontalDatum" />
                        </div>
                    </div>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Categories      ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="categories" field-title="msg.field.categories">

                <editor-field-value-viewer>
                    <span ng-repeat="category in message.categories"><span ng-if="$index > 0">,</span> {{category.descs[0].name}}</span>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12 col-md-6">
                    <ui-select multiple id="categories" ng-model="message.categories" >
                        <ui-select-match placeholder="Select category">
                            {{$item.descs[0].name}}
                        </ui-select-match>
                        <ui-select-choices repeat="category in categories"
                                           refresh="refreshCategories($select.search)"
                                           refresh-delay="100">
                            <div>
                                <span ng-bind-html="category.descs[0].name | highlight: $select.search"></span>
                                <small ng-if="category.parent">({{formatParents(category.parent)}})</small>
                            </div>

                        </ui-select-choices>
                    </ui-select>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Subject         ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="subject" field-title="msg.field.subject">

                <editor-field-value-viewer>
                    <div ng-if="message.descs.length > 0">
                        {{message.descs[0].subject}}
                    </div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-6" ng-repeat="desc in message.descs">
                            <input class="form-control input-sm" placeholder="Subject" type="text"
                                   ng-model="desc.subject" bg-flag="desc.lang"
                                   ng-change="updateTitleLine()"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"/>
                        </div>
                    </div>
                </editor-field-value-editor>

            </editor-field>

            <!-- ********************* -->
            <!-- ** Description     ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="description" field-title="msg.field.description">

                <editor-field-value-viewer>
                    <div ng-if="message.descs.length > 0" ng-bind-html="message.descs[0].description"></div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-6" ng-repeat="desc in message.descs"  id="tinymce-{{desc.lang}}">
                            <textarea class="editor-description" ui-tinymce="tinymceOptions"
                                      ng-model="desc.description" bg-flag="desc.lang"></textarea>
                            <flag lang="desc.lang" class="editor-description-flag"></flag>
                        </div>
                    </div>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Attachments     ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="attachments" field-title="msg.field.attachments">

                <editor-field-value-viewer>
                    <div ng-if="message.attachments.length > 0">
                        <span ng-repeat="att in message.attachments"><span ng-if="$index > 0">,</span>
                            {{att.fileName}}
                        </span>
                    </div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    TBD
                </editor-field-value-editor>

            </editor-field>

        </div>

        <!-- Save and revert buttons -->
        <div id="save" class="row editor-section">
            <button href class="btn btn-primary btn-sm" ng-click="saveMessage()" ng-disabled="editForm.$pristine || editForm.$invalid || messageSaving">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save Message
            </button>
            <button href class="btn btn-default btn-sm" ng-click="init()" ng-if="initId">
                <span class="glyphicon glyphicon-refresh"></span> Reload Message
            </button>
        </div>


    </form>


    <div style="font-size: 10px;margin-top: 50px;">DEBUG:<br>{{message | json}}</div>


</div>
