
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="editor-field-label" ng-click="toggleEditField()"
             ng-class="{ 'editor-field-label-editing' : editMode[fieldId] }">
            <span class="glyphicon glyphicon-pencil" ng-if="editMode[fieldId]"></span>&nbsp;
            <span translate>{{fieldTitle}}</span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-10">
        <div class="editor-field-value"
             ng-class="{ 'editor-field-value-editing' : editMode[fieldId] }"
             ng-transclude></div>
    </div>
</div>
