<div class="editor-contents container" xmlns="http://java.sun.com/jsf/facelets" xmlns="http://www.w3.org/1999/html">
    <h3 class="page-header">
        Editor
        <span ng-if="canSaveMessage" class="glyphicon glyphicon-floppy-disk editor-dirty" uib-tooltip="Unsaved changes"></span>

        <span class="pull-right">
            <a ng-href="{{backToListUrl}}" ng-if="backToListUrl"
               class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-arrow-left"></span> <span translate>editor.back_to_list</span>
            </a>
            <a href ng-click="clearMessage()" ng-if="message"
               style="margin-left: 5px"
               class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-remove"></span> <span translate>editor.clear</span>
            </a>
        </span>
    </h3>

    <div ng-if="!message || !message.mainType" style="margin-top: 10px;">
        <div style="border: 1px solid lightgray; padding: 10px; width: 400px">
            <div ng-if="canCreateMessage('NW')">
                <button class="btn btn-sm btn-primary new-msg-btn"  ng-click="createMessage('NW')"
                        translate>editor.new_nw</button>

            </div>
            <div ng-if="canCreateMessage('NW')" style="display: inline-block">
                <template-field class="new-msg-btn" main-type="NW" type="TEMPLATE"
                                message-updated="templateExecuted(message)"
                                placeholder="{{'editor.new_nw_template' | translate}}"></template-field>
            </div>
            <div ng-if="canCreateMessage('NM')">
                <button class="btn btn-sm btn-primary new-msg-btn"  ng-click="createMessage('NM')"
                        translate>editor.new_nm</button>

            </div>
            <div ng-if="canCreateMessage('NM')" style="display: inline-block">
                <template-field class="new-msg-btn" main-type="NM" type="TEMPLATE"
                                message-updated="templateExecuted(message)"
                                placeholder="{{'editor.new_nm_template' | translate}}"></template-field>
            </div>
        </div>

        <div ng-include="'/app/editor/recently-edited-messages.html'"></div>
    </div>


    <div ng-if="message && message.mainType && !editable()" class="col-sm-12 col-md-8 col-lg-9">
        <div class="empty-search-result">
            <p>Message not editable</p>
        </div>
        <table ng-if="message.id" class='table table-condensed'>
            <tr render-message-details msg="message" format="details" show-details-menu="false"></tr>
        </table>
    </div>


    <form ng-if="message && message.mainType && editable()" method="post" name="editForm" id="editForm" ng-init="focusEditor()">
        <div class="editor-fields" style="margin-bottom: 40px;">

            <!-- ******************************************** -->
            <!-- ** >>>> Message Preamble Header           ** -->
            <!-- ******************************************** -->
            <div class="row editor-fields-group">
                <div class="col-xs-4 col-sm-4 col-md-2">
                    <div class="editor-field-group-label" translate>editor.section.preamble</div>
                </div>
            </div>


            <!-- ********************* -->
            <!-- ** Original Info   ** -->
            <!-- ********************* -->
            <editor-field ng-if="showField('orig_info')" edit-mode="editMode" field-id="orig_info" field-title="msg.field.orig_info"
                          tab-index="100">

                <editor-field-value-viewer>
                    <div ng-if="message.originalInformation">&#9733;</div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <button type="button" class="btn btn-sm btn-default" ng-model="message.originalInformation"
                            uib-btn-checkbox uib-btn-checkbox-true="true" uib-btn-checkbox-false="false"
                            tabindex="101">
                        <span class="glyphicon glyphicon-star"></span>
                    </button>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Type            ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="type" field-title="msg.field.type" field-valid="fieldValid(fieldId)"
                          tab-index="200">

                <editor-field-value-viewer>
                    <span ng-if="message.type">{{'msg.type.' + message.type | translate}} {{message.mainType}}</span>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12 col-md-6 col-lg-4">
                    <div class="btn-group" ng-if="message.mainType == 'NW' || supportsNw(true)">
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'LOCAL_WARNING'"
                               tabindex="201" translate>msg.type.LOCAL_WARNING</button>
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'COASTAL_WARNING'"
                               tabindex="202"  translate>msg.type.COASTAL_WARNING</button>
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'SUBAREA_WARNING'"
                               tabindex="203"  translate>msg.type.SUBAREA_WARNING</button>
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'NAVAREA_WARNING'"
                               tabindex="204"  translate>msg.type.NAVAREA_WARNING</button>
                    </div>
                    <div class="btn-group" ng-if="message.mainType == 'NM' || supportsNm(true)">
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'TEMPORARY_NOTICE'"
                               tabindex="205"  translate>msg.type.TEMPORARY_NOTICE</button>
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'PRELIMINARY_NOTICE'"
                               tabindex="206"  translate>msg.type.PRELIMINARY_NOTICE</button>
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'PERMANENT_NOTICE'"
                               tabindex="207"  translate>msg.type.PERMANENT_NOTICE</button>
                        <button class="btn btn-default btn-sm" ng-model="message.type" uib-btn-radio="'MISCELLANEOUS_NOTICE'"
                               tabindex="208"  translate>msg.type.MISCELLANEOUS_NOTICE</button>
                    </div>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Message ID      ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="id" field-title="msg.field.id" field-valid="fieldValid(fieldId)"
                          tab-index="300">

                <editor-field-value-viewer>
                    <message-id-badge msg="message"></message-id-badge>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <table class="editor-field-value-table">
                        <tr>
                            <th>Message series</th>
                            <td>
                                <select class="form-control input-sm" style="width: 200px"
                                        tabindex="301"
                                        ng-model="message.messageSeries"
                                        ng-options="series.seriesId for series in messageSeries">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>UID</th>
                            <td>{{message.id}}</td>
                        </tr>
                        <tr ng-if="messageNumberEditable()">
                            <th>Number</th>
                            <td>
                                <div>
                                    <input class="form-control input-sm" placeholder="Message Number"
                                           type="number" step="1" tabindex="302"
                                           ng-model="message.number"
                                           ng-change="adjustEditableMessage()"
                                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"/>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="numberSequenceType() != 'NONE'">
                            <th>Short ID</th>
                            <td>
                                <message-id-badge ng-if="!shortIdEditable()" msg="message"></message-id-badge>
                                <div ng-if="shortIdEditable()">
                                    <input class="form-control input-sm" placeholder="Short ID"
                                           type="text" tabindex="303"
                                           autocapitalize="off" autocorrect="off" autocomplete="off"
                                           ng-model="message.shortId"/>
                                </div>
                            </td>
                        </tr>
                    </table>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Title line      ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="title" field-title="msg.field.title"
                          tab-index="400">

                <editor-field-value-viewer>
                    <div ng-if="message.descs.length > 0">
                        <strong>{{message.descs[0].title}}</strong>
                        <span ng-if="message.descs[0].lang != language" style="color: darkgray;">
                            <img ng-src="/img/flags/{{message.descs[0].lang}}.png" style="height: 12px; opacity: 0.5;"/>
                        </span>
                        <span ng-if="message.autoTitle" class="glyphicon glyphicon-lock" style="color: lightgray"></span>
                    </div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-12">
                            <input type="checkbox" ng-model="message.autoTitle"
                                    tabindex="401"> <span translate="editor.auto_generate"></span>
                            </input>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-12 col-md-8" ng-repeat="desc in message.descs">
                            <input class="form-control input-sm" placeholder="Title" type="text"
                                   tabindex="402"
                                   ng-model="desc.title" bg-flag="desc.lang" ng-disabled="message.autoTitle">
                        </div>
                    </div>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** References      ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="references" field-title="msg.field.references"
                          tab-index="500">

                <editor-field-value-viewer>
                    <div ng-repeat="ref in message.references">
                        <a href ng-click="referenceClicked(ref.messageId)">{{ref.messageId}}</a><render-reference-type ref="ref"></render-reference-type>
                    </div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <table class="table table-condensed editor-reference-table">
                        <tr>
                            <th>Message</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>
                                <div class="pull-right">
                                    <button ng-click="addReference()" class="btn btn-default btn-xs" tabindex="501">
                                        <span class="glyphicon glyphicon-plus"></span> Add
                                    </button>
                                </div>
                            </th>
                        </tr>
                        <tbody ng-sortable="referencesSortableCfg">
                            <tr ng-repeat="ref in message.references" ng-init="refIndex = $index">
                                <td width="30%">
                                    <message-id-field class="ref-field" tab-index="502 + refIndex * 5" reference="ref"></message-id-field>
                                </td>
                                <td width="120">
                                    <select class="form-control input-sm" ng-model="ref.type"
                                            tabindex="{{503 + refIndex * 5}}">
                                        <option value="REFERENCE" translate>msg.reference.reference</option>
                                        <option value="REPETITION" translate>msg.reference.repetition</option>
                                        <option value="REPETITION_NEW_TIME" translate>msg.reference.repetition_new_time</option>
                                        <option value="CANCELLATION" translate>msg.reference.cancellation</option>
                                        <option value="UPDATE" translate>msg.reference.update</option>
                                    </select>
                                </td>
                                <td width="*">
                                    <div ng-repeat="desc in ref.descs">
                                        <input class="form-control input-sm" placeholder="Description" type="text"
                                               tabindex="{{504 + refIndex * 5}}"
                                               ng-model="desc.description" bg-flag="desc.lang"/>
                                    </div>
                                </td>
                                <td style="width: 50px; padding-top: 12px" nowrap>
                                    <a href ng-click="deleteReference(ref);" title="Delete Reference"><i class="glyphicon glyphicon-trash"></i></a>
                                    &nbsp;
                                    <a href><span class="glyphicon glyphicon-move move-btn"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Publish Date    ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="publish_date" field-title="msg.field.publish_date" field-valid="fieldValid(fieldId)"
                          tab-index="600">

                <editor-field-value-viewer>
                    <div ng-if="message.publishDateFrom || message.publishDateTo">
                        <span ng-if="message.publishDateFrom">{{message.publishDateFrom | formatDate : 'lll z'}}</span>
                        <span ng-if="message.publishDateFrom || message.publishDateTo">&nbsp;-&nbsp;</span>
                        <span ng-if="message.publishDateTo">{{message.publishDateTo | formatDate : 'lll z'}}</span>
                    </div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <date-time-picker ng-model="message.publishDateFrom" placeholder="Publish From" format="'lll z'"
                                              readonly="message.status != 'DRAFT' && message.status != 'VERIFIED'"
                                              tab-index="601"></date-time-picker>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <date-time-picker ng-model="message.publishDateTo" placeholder="Publish To" format="'lll z'"
                                              readonly="message.status != 'DRAFT' && message.status != 'VERIFIED'  && message.status != 'PUBLISHED'"
                                              tab-index="601"></date-time-picker>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="col-xs-6 col-sm-6 col-md-4" style="text-align: right; margin-top: 8px">
                            <span translate>msg.field.follow_up_date</span>:
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <date-time-picker ng-model="message.followUpDate" placeholder="Follow-up date"
                                              format="'ll'" time="'00:00:00'"
                                              readonly="message.status != 'DRAFT' && message.status != 'VERIFIED'  && message.status != 'PUBLISHED'"
                                              tab-index="602"></date-time-picker>
                        </div>
                    </div>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Areas           ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="areas" field-title="msg.field.areas" field-valid="fieldValid(fieldId)"
                          tab-index="700">

                <editor-field-value-viewer>
                    <span ng-repeat="area in message.areas"><span ng-if="$index > 0">,</span>
                        {{area.descs[0].name}}</span>
                    <span ng-if="message.descs.length > 0 && message.descs[0].vicinity">
                        <span ng-if="message.areas.length > 0">, </span>
                        {{message.descs[0].vicinity}}
                    </span>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12 col-md-10">
                    <div class="row">
                        <div class="col-sm-6">
                            <areas-field id="areas" area-data="message" multiple="true" domain="domain"
                                         tab-index="701"
                                         area-changed="adjustEditableMessage()"></areas-field>
                        </div>
                        <div class="col-sm-6">
                            <button href class="btn btn-default btn-sm" ng-disabled="!message.areas || message.areas.length == 0"
                                    tabindex="702"
                                    ng-click="copyAreaLocations()">Copy Locations</button>
                            <button href class="btn btn-default btn-sm" ng-disabled="!definesGeometry()"
                                    tabindex="703"
                                    ng-click="computeAreas()">Compute from Locations</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-6" ng-repeat="desc in message.descs">
                            <input class="form-control input-sm" placeholder="Vicinity" type="text"
                                   tabindex="704"
                                   ng-model="desc.vicinity" bg-flag="desc.lang"
                                   ng-change="adjustEditableMessage()"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
                        </div>
                    </div>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Categories      ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="categories" field-title="msg.field.categories"
                          tab-index="900">

                <editor-field-value-viewer>
                    <span ng-repeat="category in message.categories"><span ng-if="$index > 0">,</span> {{category.descs[0].name}}</span>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12 col-md-6">
                    <template-field id="categories"
                                    message="message"
                                    tab-index="901"
                                    placeholder="{{'msg.field.categories' | translate}}"
                                    categories-updated="setDirty()"
                                    message-updated="templateExecuted(message)">
                    </template-field>
                </editor-field-value-editor>

            </editor-field>


            <!-- ******************************************** -->
            <!-- ** >>>> Message Parts                     ** -->
            <!-- ******************************************** -->
            <div ng-repeat="part in message.parts">

                <!-- ******************************************** -->
                <!-- ** >>>> Message Parts Header              ** -->
                <!-- ******************************************** -->
                <div class="row editor-fields-group">
                    <div class="col-xs-4 col-sm-4 col-md-2">
                        <span ng-click="addMessagePart($index)" ng-if="isEditor"
                              class="glyphicon glyphicon-plus-sign pointer editor-fields-group-btn"></span>
                        <span ng-click="removeMessagePart($index)" ng-if="isEditor"
                              class="glyphicon glyphicon-minus-sign pointer editor-fields-group-btn"></span>
                        <span ng-if="isEditor && $index > 0" ng-click="moveMessagePart($index, true)"
                              class="glyphicon glyphicon-arrow-up pointer editor-fields-group-btn"></span>
                        <span ng-if="isEditor && $index < message.parts.length - 1" ng-click="moveMessagePart($index, false)"
                              class="glyphicon glyphicon-arrow-down pointer editor-fields-group-btn"></span>
                        <span class="pull-right editor-field-group-label">
                            {{ 'editor.section.message_part' | translate : '{part : "' + (part.index + 1) + '"}' }}
                        </span>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-10">
                        <table style="height: 100%; margin: -4px 0">
                            <tr>
                                <td ng-click="setPartType(part, 'DETAILS')"
                                      class="part-type-btn" ng-class="{'part-type-selected': part.type == 'DETAILS'}">
                                    <i class="fa fa-file-text"></i>
                                    <span translate>msg.field.details</span>
                                </td>
                                <td ng-click="setPartType(part, 'TIME')"
                                              class="part-type-btn" ng-class="{'part-type-selected': part.type == 'TIME'}">
                                    <i class="fa fa-clock-o"></i>
                                    <span translate>msg.field.time</span>
                                </td>
                                <td ng-click="setPartType(part, 'POSITIONS')"
                                    class="part-type-btn" ng-class="{'part-type-selected': part.type == 'POSITIONS'}">
                                    <i class="fa fa-map-marker"></i>
                                    <span translate>msg.field.positions</span>
                                </td>
                                <td ng-click="setPartType(part, 'PROHIBITION')" ng-if="showPartType(part, 'prohibition')"
                                              class="part-type-btn" ng-class="{'part-type-selected': part.type == 'PROHIBITION'}">
                                    <i class="fa fa-warning"></i>
                                    <span translate>msg.field.prohibition</span>
                                </td>
                                <td ng-click="setPartType(part, 'SIGNALS')" ng-if="showPartType(part, 'signals')"
                                              class="part-type-btn" ng-class="{'part-type-selected': part.type == 'SIGNALS'}">
                                    <i class="fa fa-flag"></i>
                                    <span translate>msg.field.signals</span>
                                </td>
                                <td ng-click="setPartType(part, 'NOTE')"
                                              class="part-type-btn" ng-class="{'part-type-selected': part.type == 'NOTE'}">
                                    <i class="fa fa-sticky-note"></i>
                                    <span translate>msg.field.note</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


                <!-- ********************* -->
                <!-- ** Event dates     ** -->
                <!-- ********************* -->
                <editor-field ng-if="showPartEventDatesField(part)"
                              edit-mode="editMode" index="part.index" field-id="event_dates" field-title="msg.field.event_dates" field-valid="fieldValid(fieldId)"
                              tab-index="1002 + part.index * 20">

                    <editor-field-value-viewer>
                        <div ng-if="part.eventDates.length > 0">
                            <span class="glyphicon glyphicon-time" style="color: darkgray"></span>
                            <a href ng-if="part.showTime" ng-click="toggleShowTime(part)" class="clickable" translate>msg.hide_time</a>
                            <a href ng-if="!part.showTime" ng-click="toggleShowTime(part)" class="clickable" translate>msg.show_time</a>
                        </div>
                        <div ng-if="part.showTime">
                            <render-event-dates part="part"></render-event-dates>
                        </div>
                    </editor-field-value-viewer>

                    <editor-field-value-editor value-class="col-sm-12">
                        <table class="table table-condensed editor-date-interval-table">
                            <tr>
                                <th>All-day</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>
                                    <div class="pull-right">
                                        <button ng-click="addPartEventDate(part)" class="btn btn-default btn-xs"
                                                tabindex="{{1003 + part.index * 20}}">
                                            <span class="glyphicon glyphicon-plus"></span> Add
                                        </button>
                                    </div>
                                </th>
                            </tr>
                            <tr ng-repeat="di in part.eventDates" class="evt-date" >
                                <td width="60" style="padding-top: 10px" align="center">
                                    <input type="checkbox" ng-model="di.allDay"
                                           tabindex="{{1004 + part.index * 20}}">
                                </td>
                                <td width="220">
                                    <date-time-picker ng-model="di.fromDate" placeholder="From date"
                                                      tab-index="1004 + part.index * 20"
                                                      time="di.allDay ? '00:00:00' : undefined" format="di.allDay ? 'll' : 'lll z'"></date-time-picker>
                                </td>
                                <td width="220">
                                    <date-time-picker ng-model="di.toDate" placeholder="To date"
                                                      tab-index="1004 + part.index * 20"
                                                      time="di.allDay ? '23:59:59' : undefined" format="di.allDay ? 'll' : 'lll z'"></date-time-picker>
                                </td>
                                <td width="*" style="padding-top: 12px" nowrap>
                                    <a href ng-click="deletePartEventDate(part, di);" title="Delete Interval"><span class="glyphicon glyphicon-trash"></span></a>
                                    &nbsp;
                                    <a href ng-click="copyPartEventDate(part, di, 0);" title="Duplicate Interval"><span class="glyphicon glyphicon-duplicate"></span></a>
                                    &nbsp;
                                    <a href ng-click="copyPartEventDate(part, di, 1);" title="Duplicate Interval + 1 day">
                                        <span class="glyphicon glyphicon-duplicate">+</span></a>
                                </td>
                            </tr>
                        </table>
                    </editor-field-value-editor>

                </editor-field>


                <!-- ********************* -->
                <!-- ** Positions       ** -->
                <!-- ********************* -->
                <editor-field ng-if="showPartPositionField(part)"
                              edit-mode="editMode" index="part.index" field-id="positions" field-title="msg.field.positions"
                              tab-index="1006 + part.index * 20">

                    <editor-field-value-viewer>
                        <div ng-if="part.serializedCoordinates.length > 0">
                            <span class="glyphicon glyphicon-map-marker" style="color: darkgray"></span>
                            <a href ng-if="part.showCoordinates" ng-click="toggleShowCoordinates(part)" class="clickable" translate>msg.hide_positions</a>
                            <a href ng-if="!part.showCoordinates" ng-click="toggleShowCoordinates(part)" class="clickable" translate>msg.show_positions</a>
                        </div>
                        <div ng-if="part.showCoordinates">
                            <div ng-repeat="featureCoords in part.serializedCoordinates">
                                <table class="positions">
                                    <tr ng-if="featureCoords.name">
                                        <th colspan="3">{{featureCoords.name}}</th>
                                    </tr>
                                    <tr ng-repeat="c in featureCoords.coords">
                                        <td nowrap>{{featureCoords.startIndex + $index}})</td>
                                        <td nowrap>{{c | lonlat:{ decimals : 3, pp: true } }}</td>
                                        <td>{{c.name}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </editor-field-value-viewer>

                    <editor-field-value-editor value-class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <gj-editor id="position-editor"
                                           class="editor-locations"
                                           tab-index="1007 + part.index * 20"
                                           edit-type="message"
                                           feature-collection="part.geometry"
                                           show-wms-layer="true"
                                           on-save="geometrySaved(featureCollection)"></gj-editor>
                            </div>
                        </div>
                    </editor-field-value-editor>

                </editor-field>


                <!-- ********************* -->
                <!-- ** Subject         ** -->
                <!-- ********************* -->
                <editor-field ng-if="part.type == 'DETAILS'"
                              edit-mode="editMode" index="part.index" field-id="subject" field-title="msg.field.subject"
                              tab-index="1008 + part.index * 20">
                    <editor-field-value-viewer>
                        <div ng-if="part.descs.length > 0">
                            {{part.descs[0].subject}}
                            <span ng-if="part.hideSubject" class="glyphicon glyphicon-eye-close" style="color: lightgray"></span>
                        </div>
                    </editor-field-value-viewer>

                    <editor-field-value-editor value-class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12" style="margin-bottom: 10px">
                                <input type="checkbox" ng-model="part.hideSubject"
                                       tabindex="{{1009 + part.index * 20}}"> <span translate="editor.hide_subject"></span>
                                </input>
                            </div>
                            <div class="col-sm-12 col-md-6" ng-repeat="desc in part.descs">
                                <input class="form-control input-sm" placeholder="Subject" type="text"
                                       tabindex="{{1010 + part.index * 20}}"
                                       autocapitalize="off" autocorrect="off" autocomplete="off"
                                       ng-model="desc.subject" bg-flag="desc.lang"
                                       ng-change="adjustEditableMessage()"
                                       ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"/>
                            </div>
                        </div>
                    </editor-field-value-editor>

                </editor-field>


                <!-- ********************* -->
                <!-- ** Description     ** -->
                <!-- ********************* -->
                <editor-field edit-mode="editMode" index="part.index" field-id="description" field-title="msg.field.description"
                              tab-index="1011 + part.index * 20">

                    <editor-field-value-viewer>
                        <div class="message-description" ng-if="part.descs.length > 0" ng-bind-html="part.descs[0].details | toTrusted"></div>
                    </editor-field-value-viewer>

                    <editor-field-value-editor value-class="col-sm-12">
                        <div class="row" style="margin-top: 10px">
                            <div class="col-sm-12 col-md-6" ng-repeat="desc in part.descs"  id="tinymce-{{part.index}}-{{desc.lang}}">
                                <textarea class="editor-description" ui-tinymce="tinymceOptions"
                                          tabindex="{{1012 + part.index * 20}}"
                                          ng-model="desc.details" bg-flag="desc.lang"></textarea>
                                <flag lang="desc.lang" class="editor-description-flag"></flag>
                            </div>
                        </div>
                    </editor-field-value-editor>

                </editor-field>

            </div>

            <!-- ******************************************** -->
            <!-- ** >>>> Misc. Fields Header               ** -->
            <!-- ******************************************** -->
            <div class="row editor-fields-group">
                <div class="col-xs-4 col-sm-4 col-md-2">
                    <div class="editor-field-group-label" translate>editor.section.misc</div>
                </div>
            </div>


            <!-- ********************* -->
            <!-- ** Attachments     ** -->
            <!-- ********************* -->
            <editor-field ng-if="showField('attachments')" edit-mode="editMode" field-id="attachments" field-title="msg.field.attachments"
                          tab-index="1200">

                <editor-field-value-viewer>
                    <div ng-if="message.attachments.length > 0">
                        <span class="glyphicon glyphicon-paperclip" style="color: darkgray">{{message.attachments.length}}:</span>
                        <span ng-repeat="att in message.attachments"><span ng-if="$index > 0">,</span>
                            {{att.fileName}}
                        </span>
                    </div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">

                    <div class="editor-attachments">
                        <div class="editor-file-upload">
                            <file-upload url="attachmentUploadUrl"
                                         drop-text="or drop file here"
                                         multiple="true"
                                         auto-upload="true"
                                         remove-after-upload="true"
                                         tab-index="1201"
                                         success="attachmentsUploaded(result)"
                                         error="attachmentsUploadError(status, statusText)"></file-upload>
                        </div>


                        <div ng-if="message.attachments.length > 0">
                            <table class="table table-condensed editor-attachment-table">
                                <tr>
                                    <th>Icon</th>
                                    <th>Caption</th>
                                    <th>Display</th>
                                    <th>Size</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="att in message.attachments">
                                    <td width="70">
                                        <message-attachment attachment="att" size="32"></message-attachment>
                                    </td>
                                    <td>
                                        <div ng-repeat="desc in att.descs">
                                            <input class="form-control input-sm" placeholder="Caption" type="text"
                                                   tabindex="{{1202 + $index * 5}}"
                                                   ng-model="desc.caption" bg-flag="desc.lang"/>
                                        </div>
                                    </td>
                                    <td width="180">
                                        <select class="form-control input-sm" ng-model="att.display" ng-if="canDisplayAttachment(att)"
                                                tabindex="{{1203 + $index * 5}}"
                                                ng-change="attachmentDisplayUpdated(att)">
                                            <option value="">&lt;none&gt;</option>
                                            <option value="ABOVE">Above message</option>
                                            <option value="BELOW">Below message</option>
                                            <option value="SEPARATE_PAGE">Separate page (PDF)</option>
                                        </select>
                                    </td>
                                    <td width="100">
                                        <input type="text" class="form-control input-sm" placeholder="Width"
                                               tabindex="{{1204 + $index * 5}}"
                                               ng-if="canDisplayAttachment(att) && att.display" ng-model="att.width"
                                               pattern="\d+(\.\d*)?(em|px|%|cm|mm|in|pt|pc)">
                                        <input type="text" class="form-control input-sm" placeholder="Height"
                                               tabindex="{{1205 + $index * 5}}"
                                               ng-if="canDisplayAttachment(att) && att.display" ng-model="att.height"
                                               pattern="\d+(\.\d*)?(em|px|%|cm|mm|in|pt|pc)">
                                    </td>
                                    <td width="30">
                                        <a href ng-click="deleteAttachment(att);" title="Delete Attachment"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Promulgation    ** -->
            <!-- ********************* -->
            <editor-field ng-if="message.promulgations" edit-mode="editMode" field-id="promulgation" field-title="msg.field.promulgation"
                          tab-index="1600">

                <editor-field-value-viewer>
                    <span ng-repeat="promulgation in message.promulgations" style="margin-right: 20px">
                        <span class="glyphicon {{ 'glyphicon-' + (promulgation.promulgate ? 'check' : 'unchecked')}}"></span>
                        {{promulgation.type.name}}
                    </span>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <uib-tabset class="promulgations">
                                <uib-tab ng-repeat="promulgation in message.promulgations">
                                    <uib-tab-heading>
                                        <input type="checkbox" ng-model="promulgation.promulgate"
                                               ng-click="$event.stopPropagation(); setDirty();" tabindex="1601">
                                        {{promulgation.type.name}}
                                    </uib-tab-heading>
                                    <div class="promulgation" ng-class="{ 'disabled-promulgation' : !promulgation.promulgate }">
                                        <ng-include src="'/app/promulgation/' + promulgation.type.serviceId + '-edit.html'"></ng-include>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Charts          ** -->
            <!-- ********************* -->
            <editor-field edit-mode="editMode" field-id="charts" field-title="msg.field.charts"
                          tab-index="2000">

                <editor-field-value-viewer>
                    <span render-charts="message.charts"></span>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-8">
                            <charts-field tab-index="2001" id="charts" chart-data="message" multiple="true"></charts-field>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <button href class="btn btn-default btn-sm" ng-disabled="message.charts && message.charts.length == 0"
                                    tabindex="2002"
                                    ng-click="sortCharts()">Sort</button>
                            <button href class="btn btn-default btn-sm" ng-disabled="!definesGeometry()"
                                    tabindex="2003"
                                    ng-click="computeCharts()">Compute from Locations</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-6 col-md-4">
                            <input type="text" class="form-control input-sm" placeholder="Horizontal Datum"
                                   tabindex="2004"
                                   ng-model="message.horizontalDatum" />
                        </div>
                    </div>
                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Publication     ** -->
            <!-- ********************* -->
            <editor-field ng-if="showField('publication')" edit-mode="editMode" field-id="publication" field-title="msg.field.publication"
                          tab-index="2100">

                <editor-field-value-viewer>
                    <render-message-publication msg="message"></render-message-publication>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">

                    <div class="row">
                        <div class="col-sm-12">External Publications</div>
                        <div class="col-sm-12 col-md-6" ng-repeat="desc in message.descs"  id="external-publication-{{desc.lang}}">
                                <textarea class="editor-publication" ui-tinymce="publicationTinymceOptions"
                                          tabindex="2101"
                                          ng-model="desc.publication" bg-flag="desc.lang"></textarea>
                            <flag lang="desc.lang" class="editor-description-flag"></flag>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-12">Internal Publications</div>
                        <div class="col-sm-12 col-md-6" ng-repeat="desc in message.descs"  id="internal-publication-{{desc.lang}}">
                                <textarea class="editor-publication" ui-tinymce="publicationTinymceOptions"
                                          tabindex="2102"
                                          ng-model="desc.internalPublication" bg-flag="desc.lang"></textarea>
                            <flag lang="desc.lang" class="editor-description-flag"></flag>
                        </div>
                    </div>

                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Source          ** -->
            <!-- ********************* -->
            <editor-field ng-if="showField('source')" edit-mode="editMode" field-id="source" field-title="msg.field.source"
                          tab-index="2200">

                <editor-field-value-viewer>
                    <div ng-if="message.descs.length > 0">
                        {{message.descs[0].source}}
                    </div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">

                    <div class="row">
                        <div class="col-xs-12 col-md-sm-8 col-md-9 col-lg-10" ng-repeat="desc in message.descs">
                            <input class="form-control input-sm" placeholder="Source" type="text"
                                   tabindex="2202"
                                   autocapitalize="off" autocorrect="off" autocomplete="off"
                                   ng-model="desc.source" bg-flag="desc.lang"/>
                        </div>
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <button href class="btn btn-default btn-sm"
                                    tabindex="2203"
                                    ng-click="addSource()">Add sources...</button>
                        </div>
                    </div>

                </editor-field-value-editor>

            </editor-field>


            <!-- ********************* -->
            <!-- ** Layout          ** -->
            <!-- ********************* -->
            <editor-field ng-if="showField('layout')" edit-mode="editMode" field-id="layout" field-title="msg.field.layout"
                          tab-index="2300">

                <editor-field-value-viewer>
                    <div> </div>
                </editor-field-value-viewer>

                <editor-field-value-editor value-class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="editor-map-image-thumbnail">
                                <img ng-src="{{thumbnailPath()}}" width="256" height="256"/>

                                <div class="editor-map-image-menu text-center">
                                    <div class="btn-group" uib-dropdown>
                                        <button tabindex="2301" type="button" class="btn btn-sm btn-default" uib-dropdown-toggle>
                                            <span class="glyphicon glyphicon-camera"></span>
                                            Thumbnail
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                            <li role="menuitem"><a href ng-click="messageThumbnailDialog()">Select thumbnail...</a></li>
                                            <li role="menuitem"><a href ng-click="uploadMessageThumbnailDialog()">Upload thumbnail...</a></li>
                                            <li role="menuitem"><a href ng-click="clearMessageThumbnail()">Clear thumbnail</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="checkbox" ng-model="message.separatePage" tabindex="2302">
                            Start message on new page in PDF reports
                        </div>
                    </div>
                </editor-field-value-editor>

            </editor-field>
        </div>

        <!-- Save and revert buttons -->
        <div id="save" class="row editor-section">
            <button class="btn btn-primary btn-sm"
                    tabindex="3000"
                    ng-if="isEditor"
                    ng-click="saveMessage()" ng-disabled="!canSaveMessage || messageSaving">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                <span translate>editor.save_msg</span>...
            </button>
            <button class="btn btn-default btn-sm"
                    tabindex="3001"
                    ng-click="init()" ng-if="initId">
                <span class="glyphicon glyphicon-refresh"></span>
                <span translate>editor.reload_msg</span>...
            </button>
        </div>


    </form>

</div>
