
<div class="editor-contents container" ng-controller="EditorCommentsCtrl">
    <h3 class="page-header">
        Comments

        <span class="pull-right">
            <a ng-href="{{backToListUrl}}" ng-if="backToListUrl"
               class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-arrow-left"></span> Back to list
            </a>
            <a href ng-click="clearMessage()" ng-if="message"
               style="margin-left: 5px"
               class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-remove"></span> Clear
            </a>
        </span>
    </h3>

    <div class="empty-search-result" ng-if="!message.created">
        <p>No persisted message selected</p>
    </div>

    <div ng-if="message.created" class="row">

        <!-- Comment List -->
        <div class="col-sm-12 col-md-6 col-lg-6">
            <table class='table table-condensed message-comments-table'>
                <tr>
                    <th>Date</th>
                    <th>Submitter</th>
                    <th>Ack. date</th>
                    <th>Ack. by</th>
                </tr>
                <tr ng-if="comments.length == 0">
                    <td colspan="4" align="center">No comments</td>
                </tr>
                <tr ng-repeat="comment in comments" class="pointer"
                    ng-click="selectComment(comment)"
                    ng-class="{ 'message-comment-selected' : isSelected(comment), 'message-comment-acknowledged' : comment.acknowledgeDate !== undefined }">
                    <td>{{comment.created | formatDate:'ll'}}</td>
                    <td>{{comment.user}}</td>
                    <td>{{comment.acknowledgeDate | formatDate:'ll'}}</td>
                    <td>{{comment.acknowledgedBy}}</td>
                </tr>
            </table>
        </div>

        <!-- Comment Viewer / Editor -->
        <div class="col-sm-12 col-md-6 col-lg-6">

            <div ng-if="!comment" style="text-align: center">
                <button class="btn btn-sm btn-primary" ng-click="newComment()">
                    <span class="glyphicon glyphicon-pencil"></span> New Comment
                </button>
            </div>

            <div ng-if="canEditComment()">
                <form name="commentForm" id="commentForm">
                    <div>
                        <textarea id="comment" class="message-comment-editor" ui-tinymce="commentTinymceOptions"
                                  ng-model="comment.comment" required></textarea>
                    </div>
                    <div style="margin-top: 10px;">
                        <email-address-field email-data="comment" field="emailAddresses"
                                    title="E-mail comment to"></email-address-field>
                    </div>
                    <div style="margin-top: 20px;">
                        <span ng-if="comment.id && !comment.acknowledgeDate">
                            <button class="btn btn-sm btn-success" ng-click="acknowledge()">
                                Acknowledge
                            </button>
                        </span>
                        <span class="pull-right">
                            <button class="btn btn-sm btn-default" ng-click="cancel()">
                                Cancel
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="saveComment()"
                                    ng-disabled="commentForm.$pristine || commentForm.$invalid">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                <span ng-if="canSaveComment(false)">Save Comment</span>
                                <span ng-if="canSaveComment(true)">Save and Send Comment</span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>

            <div ng-if="comment && !canEditComment()">
                <div class="message-comment">
                    <span ng-bind-html="comment.comment | toTrusted"></span>
                </div>
                <div style="margin-top: 10px;">
                    <span ng-if="comment.id && !comment.acknowledgeDate">
                        <button class="btn btn-sm btn-success" ng-click="acknowledge()">
                            Acknowledge
                        </button>
                    </span>
                    <span class="pull-right">
                        <button class="btn btn-sm btn-default" ng-click="cancel()">
                            Cancel
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
