
<div class="editor-contents container" ng-controller="EditorStatusCtrl">
    <h3 class="page-header">
        Status

        <a ng-href="{{backToListUrl}}" ng-if="backToListUrl"
           class="btn btn-default btn-xs pull-right">
            <span class="glyphicon glyphicon-arrow-left"></span> Back to list
        </a>
    </h3>

    <div class="empty-search-result" ng-if="!message.created">
        <p>No persisted message selected</p>
    </div>

    <div class="row" ng-if="message.created">

        <div class="col-sm-12 col-md-8 col-lg-9">
            <div class="message-status-lang">
                <span ng-repeat="lang in modelLanguages" ng-click="previewLanguage(lang)"
                      class="message-status-lang-btn pointer" ng-class="{'preview-lang-selected' : previewLang == lang}">
                    <img ng-src="/img/flags/{{lang}}.png" height="14"/>
                    {{'lang.' + lang | translate}}
                </span>
            </div>

            <table ng-if="message.id" class='table table-condensed'>
                <tr render-message-details msg="previewMessage" language="previewLang" format="details" show-details-menu="false"></tr>
            </table>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="panel panel-default message-status-panel">
                <p>
                    Status:
                    <strong>{{message.status}}</strong>
                </p>

                <div style="margin-top: 20px;">
                    <button href class="btn btn-primary btn-sm message-status-action"
                            ng-click="publish()" ng-if="message.status == 'VERIFIED'">
                        <span class="glyphicon glyphicon-send"></span> Publish Message...
                    </button>
                </div>
                <div>
                    <button href class="btn btn-primary btn-sm message-status-action"
                            ng-click="verify()" ng-if="message.status == 'DRAFT'">
                        <span class="glyphicon glyphicon-ok"></span> Verify Message...
                    </button>
                </div>
                <div>
                    <button href class="btn btn-default btn-sm message-status-action"
                            ng-click="deleteDraft()"
                            ng-if="message.status == 'DRAFT' || message.status == 'VERIFIED'">
                        <span class="glyphicon glyphicon-trash"></span> Delete Message...
                    </button>
                </div>
                <div>
                    <button href class="btn btn-default btn-sm message-status-action"
                            ng-click="cancel()" ng-if="message.status == 'PUBLISHED'">
                        <span class="glyphicon glyphicon-trash"></span> Cancel Message...
                    </button>
                </div>
                <div>
                    <button href class="btn btn-default btn-sm message-status-action"
                            ng-click="copy()">
                        <span class="glyphicon glyphicon-duplicate"></span> Copy Message...
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Cancel Message dialog -->
<script type="text/ng-template" id="cancelMessage.html">
    <form name="copy_form">
        <p>Please confirm cancellation</p>
        <div>
            <input type="checkbox" ng-model="modalOptions.cancelOptions.createCancelMessage"> Create cancellation message
        </div>
    </form>
</script>
