<div>

    <div class="modal-header" style="text-align: center; padding: 5px 15px">
        <button type="button" class="close" ng-click="$dismiss('aborted')">x</button>
        <h4>Update Message Publication</h4>
    </div>

    <div class="modal-body print" style="padding-bottom: 0">

        <div class="row">
            <div class="col-sm-12" style="padding: 10px 20px;">

                <table class="table table-condensed editor-publication-table">
                    <tr>
                        <td width="240">
                            <publication-field class="pub-field" publication-data="pub" init-id="publicationId"></publication-field>
                        </td>
                        <td width="*">
                            <div>
                                <input ng-if="hasPublicationParams(pub)"
                                       class="form-control input-sm" placeholder="Comma-separated parameters" type="text"
                                       ng-model="pub.parameters"/>
                            </div>
                            <div ng-if="pub.publication.messagePublicationLink">
                                <input class="form-control input-sm" placeholder="Publication link" type="text"
                                       ng-model="pub.link"/>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>


        <div class="row" style="margin-top: 10px;">
            <div class="form-group col-xs-12" style="text-align: right">
                <button class="btn btn-default btn-sm" ng-click="$dismiss('aborted')">Cancel</button>
                <button class="btn btn-primary btn-sm"
                        ng-disabled="!pub.publication" ng-click="updatePublication()">Update Publication</button>
            </div>
        </div>
    </div>
</div>
