<div>

    <div class="modal-header" style="text-align: center; padding: 5px 15px">
        <button type="button" class="close" ng-click="$dismiss('aborted')">x</button>
        <h4>Import Geometry</h4>
    </div>

    <div class="modal-body print" style="padding-bottom: 0">

        <uib-tabset class="framed-tabs">
            <uib-tab>
                <tab-heading>
                    From Area
                </tab-heading>

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-12">Select area with a geometry</label>
                        <div class="col-sm-12">
                            <areas-field id="area" area-data="data" multiple="false" domain="domain" geometry="true"
                                area-changed="areaSelected()">
                            </areas-field>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab>
                <tab-heading>
                    From Text
                </tab-heading>

                <div class="row">
                    <div class="col-sm-12">
                        <textarea ng-model="data.geometryText" class="form-control input-sm geometry-text-editor"  wrap="off"
                                  ng-class="{ 'geometry-text-invalid': !geometryTextValid() }"
                                  ng-change="geometryTextChanged()"
                                  ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
                        </textarea>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>

        <div class="row" style="margin-top: 24px;">
            <div class="form-group col-xs-12" style="text-align: right">
                <button class="btn btn-default btn-sm" ng-click="$dismiss('aborted')">Cancel</button>
                &nbsp;
                <button id="printBtn" class="btn btn-primary btn-sm" ng-click="import()"
                        ng-disabled="features.length == 0">Import</button>
            </div>
        </div>
    </div>
</div>
