<div>

    <div class="modal-header" style="text-align: center; padding: 5px 15px">
        <button type="button" class="close" ng-click="$dismiss('aborted')">x</button>
        <h4>Compare messages</h4>
    </div>

    <div class="modal-body print" style="padding-bottom: 0">

        <div class="row">
            <div class="form-group">
                <label class="col-sm-6 col-md-4 col-lg-2" style="padding-top: 6px">Message 1</label>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <message-id-field reference="reference1" deleted="true"></message-id-field>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="form-group">
                <label class="col-sm-6 col-md-4 col-lg-2" style="padding-top: 6px">Message 2</label>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <message-id-field reference="reference2" deleted="true"></message-id-field>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="form-group">
                <label class="col-sm-6 col-md-4 col-lg-2" style="padding-top: 6px">Language</label>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="btn-group">
                        <label class="btn btn-default btn-sm"
                               ng-repeat="lang in modelLanguages"
                               ng-model="langData.language" uib-btn-radio="lang">
                                <img ng-src="/img/flags/{{lang}}.png" height="14"/>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <uib-tabset class="framed-tabs" style="margin-top: 20px">
            <uib-tab active="true">
                <tab-heading>
                    Side-by-side
                </tab-heading>
                <div class="row">
                    <div class="col-sm-6">
                        <div style="border-bottom: 1px solid lightgray; font-weight: bold;">Message 1</div>
                    </div>
                    <div class="col-sm-6">
                        <div style="border-bottom: 1px solid lightgray; font-weight: bold;">Message 2</div>
                    </div>

                    <div id="message1" class="col-sm-6">
                        <table ng-if="message1" class='table table-condensed'>
                            <tr render-message-details msg="message1" format="details" show-details-menu="false"
                                compact="true" language="langData.language"></tr>
                        </table>
                    </div>
                    <div id="message2" class="col-sm-6">
                        <table ng-if="message2" class='table table-condensed'>
                            <tr render-message-details msg="message2" format="details" show-details-menu="false"
                                compact="true" language="langData.language"></tr>
                        </table>
                    </div>
                </div>
            </uib-tab>


            <uib-tab>
                <tab-heading>
                    Changes
                </tab-heading>
                <div ng-if="message1 && message2" class="row" style="margin-top: 10px">
                    <div class="col-sm-12">
                        Comparing message 1 to message 2 with
                        <span style="background-color: #8bff7f">additions</span>
                        and <span style="background-color: #fd7f7f">deletions</span>.
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div id="message-diff" ng-bind-html="messageDiff | toTrusted"></div>
                    </div>
                </div>
            </uib-tab>


            <uib-tab>
                <tab-heading>
                    Data
                </tab-heading>

                <div ng-if="message1 && message2" class="row" style="margin-top: 10px">
                    <div class="col-sm-12">
                        Comparing message 1 to message 2 with
                        <span style="background-color: #fcff7f">changes</span>,
                        <span style="background-color: #8bff7f">additions</span>
                        and <span style="background-color: #fd7f7f">deletions</span>.
                    </div>
                </div>

                <div class="message-history-json json-diff"  style="margin-top: 20px" history-json-diff="messageData"></div>
            </uib-tab>
        </uib-tabset>


        <div class="row" style="margin-top: 24px;">
            <div class="form-group col-xs-12" style="text-align: right">
                <button class="btn btn-default btn-sm pull-left" ng-click="swapMessages()">Swap messages</button>
                <button class="btn btn-primary btn-sm" ng-click="$dismiss('aborted')">Close</button>
            </div>
        </div>
    </div>
</div>
