<div>

    <div class="modal-header" style="text-align: center; padding: 5px 15px">
        <button type="button" class="close" ng-click="$dismiss('aborted')">x</button>
        <h4>Compare messages</h4>
    </div>

    <div class="modal-body print" style="padding-bottom: 0">

        <div class="row">
            <div class="form-group">
                <label class="col-sm-6 col-md-4 col-lg-2" style="padding-top: 6px">Compare with</label>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <message-id-field reference="reference"></message-id-field>
                </div>
            </div>
        </div>


        <div ng-if="compareMessage" class="row" style="margin-top: 20px">
            <div class="col-sm-12">
                Comparing messages with
                <span style="background-color: #fcff7f">changes</span>,
                <span style="background-color: #8bff7f">additions</span>
                and <span style="background-color: #fd7f7f">deletions</span>.
            </div>
        </div>


        <div class="message-history-json json-diff"  style="margin-top: 20px" history-json-diff="selectedHistory"></div>


        <div class="row" style="margin-top: 24px;">
            <div class="form-group col-xs-12" style="text-align: right">
                <button class="btn btn-primary btn-sm" ng-click="$dismiss('aborted')">Close</button>
            </div>
        </div>
    </div>
</div>
