<div>

    <div class="modal-header" style="text-align: center; padding: 5px 15px">
        <button type="button" class="close" ng-click="$dismiss('aborted')">x</button>
        <h4>Edit Geometry</h4>
    </div>

    <div class="modal-body print" style="padding-bottom: 0">

        <div class="row" ng-if="data.message">
            <div class="col-sm-12" style="color: darkred; text-align: center; padding: 10px">
                <span class="glyphicon glyphicon-warning-sign"></span>
                {{data.message}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="padding: 10px 20px">
                This editor allows you to edit a subset of GeoJSON as plain text.
                <div ng-if="!data.showExamples" ><a href ng-click="data.showExamples = true">Show Examples</a></div>
                <div ng-if="data.showExamples" ><a href ng-click="data.showExamples = false">Hide Examples</a></div>
                <div ng-if="data.showExamples" style="border: 1px solid lightgray; margin: 20px; padding: 5px 10px; font-size: 11px">
                    Simple point:
                    <pre style="font-size: 11px">56N 11 30.23E</pre>
                    Named polygon + line-string with named coordinates:
                    <pre style="font-size: 11px">Polygon, da: ES D 139 Bornholm Ø., en: ES D 139 Bornholm E.<br>54° 54.967'N 015° 49.961'E<br>54° 54.969'N 015° 15.029'E<br>55° 03.006'N 015° 15.029'E<br>55° 19.930'N 015° 49.942'E<br>54° 54.967'N 015° 49.961'E
                    <br>LineString<br>1) 54° 53.397'N 009° 53.071'E, da: kyst, en: coast<br>2) 54° 53.982'N 009° 52.170'E, da: kyst, en: coast</pre>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <textarea ng-model="data.geometryText" class="form-control input-sm geometry-text-editor" wrap="off"
                          ng-class="{ 'geometry-text-invalid': !geometryTextValid() }"
                          ng-change="geometryTextChanged()"
                          ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }">
                </textarea>
            </div>
        </div>

        <div class="row" style="margin-top: 24px;">
            <div class="form-group col-xs-12" style="text-align: right">
                <button class="btn btn-default btn-sm" ng-click="$dismiss('aborted')">Cancel</button>
                &nbsp;
                <button id="printBtn" class="btn btn-primary btn-sm" ng-click="import()"
                        ng-disabled="features.length == 0">Save Geometry</button>
            </div>
        </div>
    </div>
</div>
