
<div class="aton-selection container-fluid">

    <div class="row">

        <!-- Selection List -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
            <div ng-sortable="atonSortableCfg" class="row aton-feature-collection-panel">

                <div ng-if="featureCollection.features.length == 0" style="text-align: center">
                    <div class="empty-search-result">
                        <p>No AtoN's selected</p>
                    </div>
                </div>

                <div ng-repeat="feature in featureCollection.features" class="col-xs-12 col-sm-12 col-md-11 col-lg-6">
                    <span class="feature-aton">
                        <aton-list-details aton="feature.properties.aton" selection="selection" selectable="true"
                                           draggable="true" editable="true" aton-edited="atonEdited(aton)"></aton-list-details>
                    </span>
                </div>
            </div>
        </div>


        <!-- Selection Map -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding: 10px;">

            <div class="aton-btn-panel">
                <div>
                    <span class="hidden-xs">Template&nbsp;</span>
                    <select class="input-xs" ng-model="feature.geometry.template" style="color: #333"
                            ng-options="template.id as template.descs[0].name for template in templates">
                        <option value=""></option>
                    </select>
                </div>
                <div style="margin-top: 10px">
                    <button class="btn btn-sm btn-default" ng-click="clearSelection()"
                            ng-disabled="selection.isEmpty()">Clear selection</button>&nbsp;&nbsp;
                    <button class="btn btn-sm btn-primary" ng-if="canCreateMessage('NW')" ng-click="createMessage('NW')"
                            ng-disabled="selection.isEmpty()">New NW</button>
                    <button class="btn btn-sm btn-primary" ng-if="canCreateMessage('NM')" ng-click="createMessage('NM')"
                            ng-disabled="selection.isEmpty()">New NM</button>
                </div>
            </div>

            <ol-map class="aton-selection-map">
                <map-tile-layer name="OSM" visible="true" layer-switcher="false" source="OSM"></map-tile-layer>
                <map-tile-layer name="WMS" visible="false" layer-switcher="wmsLayerEnabled" source="WMS"
                                source-properties="{ url: '/wms/', params: {'LAYERS': 'cells', 'TRANSPARENT': 'TRUE'}, crossOrigin: ''}"></map-tile-layer>
                <map-open-sea-map-layer name="OpenSeaMap" visible="false" layer-switcher="openSeaMapLayerEnabled"></map-open-sea-map-layer>
                <map-message-details-layer name="Messages" visible="true" layer-switcher="false" feature-collection="featureCollection" fit-extent="true"></map-message-details-layer>
                <map-layer-switcher></map-layer-switcher>
            </ol-map>

        </div>

    </div>
</div>

<div ng-include="'/app/layout/footer.html'"></div>
