
<div>
    <div class="modal-header" style="text-align: center; padding: 5px 15px">
        <button type="button" class="close" ng-click="$dismiss('aborted')">x</button>
        <span style="font-size: 14px"><img ng-src="{{aton.iconUrl}}" width="30" style="margin-top: -5px"> &nbsp; Aid to Navigation</span>
    </div>

    <div class="modal-body">

        <form name="atonDetailsForm">

            <div style="text-align: center">
                <div id="aton-details-image" class="aton-svg-image"></div>
            </div>

            <div class="form-controls aton-details-editor">

                <table class="osm-tags">
                    <tr>
                        <th class="osm-pos">position</th>
                        <td class="osm-pos" colspan="2">
                            <input latitude  type="text" ng-model="aton.lat" required
                                   ng-class="{'changed' : changed('lat')}"
                                   class="form-control form-control-inline input-sm" style="width: 100px">
                            <input longitude type="text" ng-model="aton.lon" required
                                   ng-class="{'changed' : changed('lon')}"
                                   class="form-control form-control-inline input-sm" style="width: 100px">
                        </td>
                    </tr>
                    <tr ng-repeat="(k, v) in aton.tags">
                        <th class="osm-tag">
                            <edit-tag-in-place value="k" aton="aton"></edit-tag-in-place>
                        </th>
                        <td class="osm-tag">
                            <edit-tag-in-place value="v" for-key="k" aton="aton"></edit-tag-in-place>
                        </td>
                        <td class="osm-tag-btns" nowrap>
                            <a href ng-click="deleteAtonTag(k)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th class="osm-tag">
                            <edit-tag-in-place value="newTag.k" aton="aton"></edit-tag-in-place>
                        </th>
                        <td class="osm-tag">
                            <edit-tag-in-place value="newTag.v" for-key="newTag.k" aton="aton"></edit-tag-in-place>
                        </td>
                        <td class="osm-tag-btns" nowrap>
                            <a href ng-click="addNewAtonTag()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </td>
                    </tr>
                </table>


            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button class="btn pull-left" ng-click="revert()" ng-disabled="!changed()">Revert</button>
        <button class="btn" ng-click="$dismiss('aborted')">Cancel</button>
        <button class="btn btn-primary" ng-click="save()" ng-disabled="atonDetailsForm.$pristine || atonDetailsForm.$invalid">Save</button>
    </div>
</div>

