
<div>
    <div class="modal-header" style="text-align: center; padding: 5px 15px">
        <button type="button" class="close" ng-click="$dismiss('aborted')">x</button>
        <span style="font-size: 14px"><img ng-src="{{aton.iconUrl}}" width="30" style="margin-top: -5px"> &nbsp; Aid to Navigation</span>
    </div>

    <div class="modal-body">

        <form name="atonDetailsForm">

            <div style="text-align: center">
                <div id="aton-details-image" class="aton-svg-image"></div>
            </div>

            <div class="form-controls aton-details-editor">


                <!-- Non-editable presentation -->
                <table ng-if="!editable" class="osm-tags">
                    <tr>
                        <th class="osm-tag-info">AtoN UID</th>
                        <td class="osm-tag-info">{{aton.tags['seamark:ref']}}</td>
                    </tr>
                    <tr>
                        <th class="osm-tag-info border-b">position</th>
                        <td class="osm-tag-info border-b">{{aton | lonlat:{ decimals : 2, pp: true } }}</td>
                    </tr>
                    <tr ng-repeat="tag in tags" ng-if="tag.k != 'seamark:ref'">
                        <th class="osm-tag border-lrb">{{tag.k}}</th>
                        <td class="osm-tag border-lrb">{{tag.v}}</td>
                    </tr>
                </table>


                <!-- Editable presentation -->
                <table ng-if="editable" class="osm-tags">
                    <tr>
                        <th class="osm-tag-info">AtoN UID</th>
                        <td class="osm-tag-info" colspan="2">{{aton.tags['seamark:ref']}}</td>
                    </tr>
                    <tr>
                        <th class="osm-tag-info border-b">position</th>
                        <td class="osm-tag-info border-b" colspan="2">
                            <input latitude  type="text" ng-model="aton.lat" required
                                   ng-class="{'changed' : changed('lat')}"
                                   ng-change="atonUpdated()"
                                   class="form-control form-control-inline input-sm" style="width: 100px; height: 26px">
                            <input longitude type="text" ng-model="aton.lon" required
                                   ng-change="atonUpdated()"
                                   ng-class="{'changed' : changed('lon')}"
                                   class="form-control form-control-inline input-sm" style="width: 100px; height: 26px">
                        </td>
                    </tr>
                    <tr ng-repeat="tag in tags" ng-if="tag.k != 'seamark:ref'">
                        <th class="osm-tag border-lrb">
                            <aton-tag-editor mode="in-place" tag="tag" attr="k" aton="aton"></aton-tag-editor>
                        </th>
                        <td class="osm-tag border-lrb">
                            <aton-tag-editor mode="in-place" tag="tag" attr="v" aton="aton"></aton-tag-editor>
                        </td>
                        <td class="osm-tag-btns border-lrb" nowrap>
                            <a href ng-click="deleteAtonTag($index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th class="osm-tag">
                            <aton-tag-editor mode="standard" tag="newTag" attr="k" aton="aton" placeholder="Key"></aton-tag-editor>
                        </th>
                        <td class="osm-tag">
                            <aton-tag-editor mode="standard" tag="newTag" attr="v" aton="aton" placeholder="value"></aton-tag-editor>
                        </td>
                        <td class="osm-tag-btns" nowrap>
                            <a href ng-click="addNewAtonTag()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="osm-tag" colspan="2">
                            <ui-select multiple id="nodeTypes" ng-model="selcetedNodeTypes.names" >
                                <ui-select-match placeholder="Merge with AtoN type">
                                    {{$item}}
                                </ui-select-match>
                                <ui-select-choices repeat="type in nodeTypeNames"
                                                   refresh="refreshNodeTypeNames($select.search)"
                                                   refresh-delay="100"
                                                   position="up">
                                    <div>{{type}}</div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td class="osm-tag-btns" nowrap>
                            <a href ng-click="mergeWithNodeType()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </td>
                    </tr>
                </table>


            </div>

        </form>
    </div>

    <div ng-if="!editable" class="modal-footer">
        <button class="btn btn-sm" ng-click="$dismiss('aborted')">Close</button>
        <button ng-if="selectable" class="btn btn-sm btn-primary" ng-click="$close(aton)">Select</button>
    </div>

    <div ng-if="editable" class="modal-footer">
        <button class="btn pull-left" ng-click="revert()" ng-disabled="!changed()">Revert</button>
        <button class="btn" ng-click="$dismiss('aborted')">Cancel</button>
        <button class="btn btn-primary" ng-click="save()" ng-disabled="atonDetailsForm.$pristine || atonDetailsForm.$invalid">Save</button>
    </div>
</div>

