
<div class="view-mode-menu">
    <ul style="padding-left: 0">

        <li class="view-mode-menu-btn">
            <span ui-sref="atons.grid" ui-sref-active="active">
                <span class="glyphicon glyphicon-th"></span>
                <span class="view-mode-menu-text" translate>view_mode.grid</span>
            </span>
        </li>

        <li class="view-mode-menu-btn">
            <span ui-sref="atons.map" ui-sref-active="active">
                <span class="glyphicon glyphicon-globe"></span>
                <span class="view-mode-menu-text" translate>view_mode.map</span>
            </span>
        </li>

        <li class="view-mode-menu-btn">
            <span ui-sref="atons.selected" ui-sref-active="active">
                <span class="glyphicon glyphicon-star"></span>
                <span class="view-mode-menu-text" translate>view_mode.selection</span>
                <span class="badge" ng-if="selection.size() > 0">{{selection.size()}}</span>
            </span>
        </li>

        <li class="dropdown view-mode-menu-btn" style="padding: 0 10px">
            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-filter"></span>
                <span class="view-mode-menu-text" translate>menu.filter</span>
                <span class="caret"></span>
            </span>
            <ul class="dropdown-menu">
                <li ng-repeat="name in filterNames">
                    <a ng-click="enableFilter(name, true)" href ng-bind-html="'menu.filter.' + name | translate"></a>
                </li>
            </ul>
        </li>

        <li class="dropdown view-mode-menu-btn" style="padding: 0 10px">
            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="view-mode-menu-text" translate>menu.action</span>
                <span class="caret"></span>
            </span>
            <ul class="dropdown-menu">
                <li><a href ng-click="selectAll()" translate>menu.action.select.all</a></li>
                <li><a href ng-click="clearSelection()" translate>menu.action.select.none</a></li>
            </ul>
        </li>

    </ul>
</div>
