
<div class="aton-selection container-fluid">

    <div class="row">

        <!-- Selection List -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
            <div ng-sortable="atonSortableCfg" class="row aton-feature-collection-panel">

                <div ng-if="featureCollection.features.length == 0" style="text-align: center">
                    <h4>No AtoN's selected</h4>
                </div>

                <div ng-repeat="feature in featureCollection.features" class="col-xs-12 col-sm-12 col-md-11 col-lg-6">
                    <span class="feature-aton">
                        <aton-list-details aton="feature.properties.aton" selection="selection" selectable="true" draggable="true" editable="true"></aton-list-details>
                    </span>
                </div>
            </div>
        </div>


        <!-- Selection Map -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding: 10px;">

            <div class="aton-btn-panel">
                <div>
                    <span class="hidden-xs">Template&nbsp;</span>
                    <select class="input-xs" ng-model="feature.geometry.template" style="color: #333">
                        <option value=""></option>
                        <option value="1">Buoy unlit</option>
                        <option value="2">Buoy missing</option>
                        <option value="2">Buoy off station</option>
                        <option value="3">Buoy off withdrawn</option>
                    </select>
                </div>
                <div style="margin-top: 10px">
                    <button class="btn btn-sm btn-primary">New NW</button>
                    <button class="btn btn-sm btn-primary">New NM</button>
                </div>
            </div>

            <ol-map class="aton-selection-map">
                <map-tile-layer name="OSM" visible="true" layer-switcher="false" source="OSM"></map-tile-layer>
                <map-tile-layer name="WMS" visible="false" layer-switcher="wmsLayerEnabled" source="WMS"
                                source-properties="{ url: '/wms/', params: {'LAYERS': 'cells', 'TRANSPARENT': 'TRUE'}, crossOrigin: ''}"></map-tile-layer>
                <map-message-details-layer name="Messages" visible="true" layer-switcher="false" feature-collection="featureCollection" fit-extent="true"></map-message-details-layer>
                <map-layer-switcher></map-layer-switcher>
            </ol-map>

        </div>

    </div>
</div>

<div ng-include="'/app/layout/footer.html'"></div>
