
<div class="atons">

    <div class="atons-grid container-fluid">
        <div class="row">
            <div ng-if="atons.length == 0">
                <div ng-include="'/app/atons/atons-empty-search-result.html'"></div>
            </div>
            <div ng-repeat="aton in atons" class="col-xs-11 col-sm-6 col-md-4 col-lg-3">
                <aton-list-details aton="aton" selection="selection"></aton-list-details>
            </div>
        </div>
    </div>

    <div ng-include="'/app/layout/footer.html'"></div>
</div>
