

<div class="schedule" ng-controller="ScheduleCtrl">

    <div ng-include="'/app/schedule/schedule-filter.html'"></div>

    <div class="container schedule-content">

        <h3 class="page-header">
            Schedule

            <span class="pull-right">
                <table>
                    <tr>
                        <td>
                            <a href ng-click="offsetDate(-1)">
                                <span class="glyphicon glyphicon-triangle-left" title="Previous day"></span>
                            </a>
                        </td>
                        <td>
                            <date-time-picker id="fromDate" ng-model="state.date" placeholder="Date" style="width: 200px"
                                              time="'00:00:00'" format="'l'" size="md"></date-time-picker>
                        </td>
                        <td>
                            <a href ng-click="offsetDate(1)">
                                <span class="glyphicon glyphicon-triangle-right" title="Next day"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </span>
        </h3>

        <table class='table table-condensed table-hover' ng-if="firingAreas.length > 0">
            <tr style="background-color: lightgray">
                <th width="*">Name</th>
                <th width="300" style="text-align: center">Time</th>
                <th width="30"></th>
            </tr>
            <tr ng-repeat-start="area in firingAreas" ng-if="area.areaHeading">
                <td colspan="3"><h4 class="message-list-area-heading" render-areas="[area.areaHeading]"></h4></td>
            </tr>
            <tr ng-repeat-end>
                <td>
                    {{area.descs[0].name}}
                </td>
                <td>
                    <time-schedule-editor area="area" date="state.date"></time-schedule-editor>
                </td>
                <td>
                    <button class="btn btn-default btn-xs" ng-click="edit(area)"
                        ng-disabled="area.editing">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>
        </table>

    </div>

    <div ng-include="'app/layout/footer.html'"></div>
</div>

