<div class="input-group">

    <ui-select ng-if="!multiple" ng-model="seriesData.series" >
        <ui-select-match placeholder="Select Message Series">
            {{seriesData.series.seriesId}}
        </ui-select-match>
        <ui-select-choices repeat="series in searchResult"
                           refresh="refreshMessageSeries($select.search)"
                           refresh-delay="100">
            <div>
                <span ng-bind-html="series.seriesId | highlight: $select.search"></span>
            </div>

        </ui-select-choices>
    </ui-select>


    <ui-select ng-if="multiple" multiple ng-model="seriesData.series" >
        <ui-select-match placeholder="Select Message Series">
            {{$item.seriesId}}
        </ui-select-match>
        <ui-select-choices repeat="series in searchResult"
                           refresh="refreshMessageSeries($select.search)"
                           refresh-delay="100">
            <div>
                <span ng-bind-html="series.seriesId | highlight: $select.search"></span>
            </div>

        </ui-select-choices>
    </ui-select>

    <span class="input-group-addon clickable" style="font-size: 12px" ng-click="removeMessageSeries()"><span class="glyphicon glyphicon-trash"></span></span>
</div>
