<div class="input-group">
    <ui-select ng-model="publicationData.publication" ng-change="publicationUpdated()">
        <ui-select-match placeholder="Select Publication">
            {{publicationData.publication.descs[0].name}}
            <span class="base-data-inactive" ng-if="!publicationData.publication.active">(inactive)</span>
        </ui-select-match>
        <ui-select-choices repeat="p in publications"
                           refresh="refreshPublications($select.search)"
                           refresh-delay="200">
            <div>
                <span ng-bind-html="p.descs[0].name | highlight: $select.search"></span>
                <span class="base-data-inactive" ng-if="!p.active">(inactive)</span>
            </div>

        </ui-select-choices>
    </ui-select>

    <span class="input-group-addon clickable" style="font-size: 12px" ng-click="removePublication()"><span class="glyphicon glyphicon-trash"></span></span>
</div>