
<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">

        <navtex-field navtex-data="promulgation.text"></navtex-field>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
        <div>Transmitter</div>
        <span ng-repeat="(name, val) in promulgation.transmitters">
            <input type="checkbox" ng-model="promulgation.transmitters[name]"/> {{name}} &nbsp;
        </span>

        <div style="margin-top: 20px;">Priority</div>
        <select class="form-control input-sm"
                style="width: 100px"
                ng-model="promulgation.priority">
            <option value="NONE">None</option>
            <option value="ROUTINE">Routine</option>
            <option value="IMPORTANT">Important</option>
            <option value="VITAL">Vital</option>
        </select>
    </div>
</div>
<div>
    <button class="btn btn-default btn-xs"
            ng-click="generatePromulgation(promulgation)">Generate</button>
    <button class="btn btn-default btn-xs" id="formatNavtexBtn"
            onclick="formatNavtex()">Format</button>
</div>

<script type="application/javascript">
    function formatNavtex() {
        var scope = angular.element($("#formatNavtexBtn")).scope();
        $.ajax({
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            url: "/rest/promulgation/navtex/reformat-navtex",
            data: JSON.stringify(scope.promulgation),
            dataType: "json",
            success: function (promulgation) {
                scope.promulgation.text = promulgation.text;
                scope.$$phase || scope.$apply();
            }
        });
    }
</script>
