
<div class="form-group">
    <label class="col-sm-4">Transmitters</label>
    <div class="col-sm-8">

        <button id="transmitters" class="btn btn-default btn-sm"
                onclick="editTransmitters()">Manage...</button>

        <script type="application/javascript">
            function editTransmitters() {
                var scope = angular.element($("#transmitters")).scope();
                scope.openDialog({
                    templateUrl: 'transmitters.html',
                    controller: function ($scope, $rootScope, $modalInstance, $http, typeId) {
                        var restUrl = '/rest/promulgation/navtex/transmitters/' + encodeURIComponent(typeId);
                        $scope.editMode = 'edit';
                        $scope.typeId = typeId;
                        $scope.transmitter = undefined;
                        $scope.transmitters = [];
                        $scope.loadTransmitters =  function () {
                            $scope.transmitter = undefined;
                            $http.get(restUrl + '/all?lang=' + $rootScope.language)
                                .success(function (transmitters) {
                                    $scope.transmitters = transmitters;
                                })
                        };
                        $scope.editTransmitter = function (transmitter) {
                            $scope.transmitter = angular.copy(transmitter);
                            $scope.editMode = 'edit';
                        };
                        $scope.addTransmitter = function () {
                            $scope.transmitter = {
                                promulgationType: { typeId: typeId },
                                name: '',
                                active: true,
                                areas: [] };
                            $scope.editMode = 'add';
                        };
                        $scope.saveTransmitter = function (transmitter) {
                            if ($scope.editMode === 'add') {
                                $http.post(restUrl + '/transmitter/', transmitter)
                                    .success($scope.loadTransmitters);
                            } else {
                                $http.put(restUrl + '/transmitter/' + encodeURIComponent(transmitter.name), transmitter)
                                    .success($scope.loadTransmitters);
                            }
                        };
                        $scope.deleteTransmitter = function (transmitter) {
                            $http.delete(restUrl + '/transmitter/' + encodeURIComponent(transmitter.name))
                                .success($scope.loadTransmitters);
                        };
                        $scope.loadTransmitters();
                    },
                    size: 'md',
                    resolve: {
                        typeId: function () { return scope.promulgationType.typeId; }
                    }
                });
            }
        </script>

    </div>
</div>

<script type="text/ng-template" id="transmitters.html">
    <div class="modal-header">
        <h4 class="modal-title">Transmitters</h4>
    </div>
    <div class="modal-body">

        <div class="container-fluid">

            <form class="form-horizontal">

                <!-- Edit transmitter -->
                <div ng-if="transmitter !== undefined" style="margin-top: 20px">

                    <div class="row">
                        <div class="form-controls col-sm-12">

                            <div class="form-group">
                                <label class="col-sm-4">Active</label>
                                <div class="col-sm-8">
                                    <input type="checkbox" ng-model="transmitter.active" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" required
                                           ng-model="transmitter.name" ng-disabled="editMode == 'edit'" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4">Areas</label>
                                <div class="col-sm-8">
                                    <areas-field area-data="transmitter" multiple="true"></areas-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top: 20px;" class="row">
                        <div class="col-sm-offset-4">
                            <button type="submit" class="btn btn-default btn-sm" ng-click="loadTransmitters()">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary btn-sm" ng-click="saveTransmitter(transmitter)">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                Save
                            </button>
                        </div>
                    </div>
                </div>


                <!-- List transmitters -->
                <div ng-if="transmitter === undefined">

                    <div class="row" style="padding-top: 20px;">
                        <div class="col-sm-12">
                            <table class='table table-condensed table-hover'>
                                <tr>
                                    <th>Active</th>
                                    <th>Name</th>
                                    <th>Areas</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="transmitter in transmitters">
                                    <td><input type="checkbox" ng-model="transmitter.active" disabled="disabled"></td>
                                    <td>{{transmitter.name}}</td>
                                    <td>
                                        <div ng-repeat="area in transmitter.areas">{{area.descs[0].name}}</div>
                                    </td>
                                    <td nowrap align="right">
                                        <a href ng-click="editTransmitter(transmitter)" title="Edit Transmitter"><i class="glyphicon glyphicon-pencil"></i></a>
                                        &nbsp;
                                        <a href ng-click="deleteTransmitter(transmitter)" title="Delete Transmitter"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left" ng-click="addTransmitter()">Add transmitter</button>
        <button class="btn btn-primary" ng-click="$dismiss('aborted')">Close</button>
    </div>
</script>