
<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <textarea class="navtex" cols="40"
                  ng-model="promulgation.text" lang-flag="'en'" spellcheck="false">
        </textarea>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
        <div>Transmitter</div>
        <span ng-repeat="(name, val) in promulgation.transmitters">
            <input type="checkbox" ng-model="promulgation.transmitters[name]"/> {{name}} &nbsp;
        </span>

        <div style="margin-top: 20px;">Priority</div>
        <select class="form-control input-sm"
                style="width: 100px"
                ng-model="promulgation.priority">
            <option value="NONE">None</option>
            <option value="ROUTINE">Routine</option>
            <option value="IMPORTANT">Important</option>
            <option value="VITAL">Vital</option>
        </select>
    </div>
</div>
<div>
    <button class="btn btn-default btn-xs"
            ng-click="generatePromulgation('navtex')">Generate</button>
</div>
