
<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">

        <navtex-field navtex-data="promulgation.text"></navtex-field>

        <div style="margin-top: 5px">
            <button class="btn btn-default btn-xs"
                    ng-click="generatePromulgation(promulgation)" translate>term.generate</button>

            <button class="btn btn-default btn-xs" id="formatSafetyNetBtn"
                    onclick="formatSafetyNet()" translate>term.format</button>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
        <table>
            <tr>
                <td>Area</td>
                <td>
                    <span ng-repeat="a in promulgation.areas">
                        <input type="radio" ng-model="promulgation.areaName" ng-value="a.name"/> {{a.name}} &nbsp;
                    </span>
                    <span ng-if="promulgation.promulgate && !promulgation.areaName && (!promulgation.areas || promulgation.areas.length === 0)"
                          class="editor-field-invalid">Undefined</span>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 10px" translate>term.priority</td>
                <td style="padding-top: 10px">
                    <select class="form-control input-xs"
                            style="width: 200px; margin-left: 5px"
                            ng-model="promulgation.priority">
                        <option value="SAFETY">Safety</option>
                        <option value="URGENCY">Urgency</option>
                    </select>
                </td>
            </tr>
            <tr ng-if="message.status == 'PUBLISHED'">
                <td style="padding-top: 10px">SafetyNET ID&nbsp;</td>
                <td style="padding-top: 10px">
                    <input class="form-control input-xs"
                            style="width: 200px"
                            uib-tooltip="The actual ID assigned to the message by the SafetyNET authority, e.g.'130/17'"
                            ng-model="promulgation.safetyNetId">
                </td>
            </tr>
        </table>
    </div>
</div>

<script type="application/javascript">
    function formatSafetyNet() {
        var scope = angular.element($("#formatSafetyNetBtn")).scope();
        $.ajax({
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            url: "/rest/promulgation/safetynet/reformat-safetynet",
            data: JSON.stringify(scope.promulgation),
            dataType: "json",
            success: function (promulgation) {
                scope.promulgation.text = promulgation.text;
                scope.$$phase || scope.$apply();
            }
        });
    }
</script>
