/**
 * Admin CSS styles
 */

.admin-page {
    background-color: white;
    position: relative;
}


.admin-sidebar {
    display: none;
}
@media (min-width: 768px) {
    .admin-sidebar {
        position: absolute;
        bottom: 0;
        top: 0;
        display: block;
        padding: 20px;
        background-color: #eee;
        border-right: 1px solid #ddd;
    }
}

/* Sidebar navigation */
.admin-nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.admin-nav-sidebar > li > a {
    padding: 5px 20px;

}

.admin-nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}

.admin-nav-sidebar > .active > a:hover {
    background-color: #428bca;
}

.admin-nav-sidebar > .active > a:visited {
    background-color: #428bca;
}

.admin-main {
    padding: 0 20px 20px 20px;
    min-height: 460px;
}

.admin-breadcrumbs .breadcrumb {
    background-color: #ffffff;
}

.admin-content {
    padding-top: 0;
}

@media (min-width: 768px) {
    .admin-main {
        padding-right: 40px;
        padding-left: 40px;
    }

    .admin-breadcrumbs {
        display: none;
    }

    .admin-content {
        padding-top: 20px;
    }
}


/** Batch admin page **/

.batch-types {
    border: 1px solid lightgray;
    background-color: #eee;
    min-height: 200px;
    max-height: 350px;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.batch-instances {
    font-size: 12px;
}

.batch-type {
    cursor: pointer;
    background-color: white;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.batch-type-selected {
    background-color: darkred;
    color: #eee;
}

tr.batch-execution-row td {
    color: #999;
    font-size: 12px;
    border-top: 1px dashed #eee!important;
}

tr.batch-execution-row td div.progress {
    margin-bottom: 2px;
    margin-top: 2px;
    height: 8px;
}

.batch-log-content {
    width: 100%;
    height: 400px;
    font-size: 10px;
    font-family: "Courier New", serif;
    color: black;
}

.batch-log-files {
    width: 100%;
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 10px;
}

.batch-log-files label {
    font-size: 10px;
}

.batch-javascript-editor {
    width: 100%;
    min-height: 300px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 4px rgba(50, 50, 50, 0.5);
}


/** Charts admin page **/

.charts-map {
    width: 100%;
    height: 340px;
    background-color: #b5d0d0;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
}

.geometry-editor {
    width: 100%;
    height: 200px;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
    margin: 0 20px 0 0;
}


/** Area admin page **/

.area-panel {
    font-size: 12px;
    margin: 10px;
    padding: 10px 20px 0 20px;
}

.area-tree {
    margin-top: 10px;
    max-height: 600px;
    min-height: 200px;
    overflow-y: scroll;
    border: 1px solid lightgray;
}

@media (min-width: 1000px) {
    .area-tree {
        margin-top: 10px;
        max-height: 600px;
        min-height: 400px;
        overflow-y: scroll;
        border: 1px solid lightgray;
    }
}

.area-tree ul.fancytree-container {
    border: none;
}

/** Category admin page **/

.category-panel {
    font-size: 12px;
    margin: 10px;
    padding: 10px 20px 0 20px;
}

.category-tree {
    margin-top: 10px;
    max-height: 600px;
    min-height: 200px;
    overflow-y: scroll;
    border: 1px solid lightgray;
}

@media (min-width: 1000px) {
    .category-tree {
        margin-top: 10px;
        max-height: 600px;
        min-height: 400px;
        overflow-y: scroll;
        border: 1px solid lightgray;
    }
}

.category-tree ul.fancytree-container {
    border: none;
}

table.category-templates {
    width: 100%;
    font-size: 12px;
    border: 1px solid lightgray;
}

table.category-templates tr th {
    border-bottom: 1px solid lightgray;
    padding: 2px 5px;
}

table.category-templates tr td {
    padding: 2px 5px;
}

/** Users and Groups admin page **/

.user-group-tree {
    margin-top: 10px;
    max-height: 300px;
    min-height: 200px;
    overflow-y: scroll;
    border: 1px solid lightgray;
}

@media (min-width: 1000px) {
    .user-group-tree {
        margin-top: 10px;
        max-height: 400px;
        min-height: 200px;
        overflow-y: scroll;
        border: 1px solid lightgray;
    }
}

.user-group-tree ul.fancytree-container {
    border: none;
}

.user-group-membership {
    font-size: 12px;
    margin-bottom: 0;
}

/** Publications admin page **/

.publication-report {
    display: block;
    padding: 10px;
    border: 1px solid lightgray;
}

.publication-table {
    font-size: 12px;
}

.publication-repo-file {
    font-size: 12px;
    padding: 10px;
    border: 1px solid lightgray;
}

@keyframes recording-anim {
    0%   {background-color: darkred}
    50%  {background-color: #666}
    100% {background-color: darkred}
}


.label-publication-status {
    font-size: 10px;
    font-weight: normal!important;
    display: inline-block;
    margin-bottom: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.publication-status-DRAFT {
    background-color: #5555CC;
}

.publication-status-RECORDING {
    background-color: darkred;
    animation: recording-anim 3s infinite;
}

.publication-status-ACTIVE {
    background-color: #559955;
}

.publication-status-INACTIVE {
    background-color: #999999;
}

.publication-btn {
    margin-right: 5px;
}

/** Dictionary admin page **/

.dictionary-table tr td {
    font-size: 12px;
}


/** Settings admin page **/

.settings-table tr td {
    font-size: 12px;
}

.setting-json-editor {
    width: 100%;
    height: 150px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 4px rgba(50, 50, 50, 0.5);
}

/** Script Resources **/

.script-resource-table {
    margin-top: 10px;
    font-size: 12px;
    width: 100%;
    min-height: 100px;
    max-height: 480px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid lightgray;
}

.script-resource-table table tr td.active {
    background-color: #ddd;
}

.script-resource-editor {
    width: 100%;
    min-height: 440px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 4px rgba(50, 50, 50, 0.5);
}

.script-resource-history-editor {
    width: 100%;
    min-height: 300px;
    margin: 10px 0;
    border: 1px solid lightgray;
    box-shadow: 0 2px 4px rgba(50, 50, 50, 0.5);
}

.script-resource-history-view {
    font-size: 11px;
    font-family: "Courier New", serif;
    max-height: 480px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}

.label-script-resource-type {
    font-size: 10px;
    font-weight: normal!important;
    display: inline-block;
    margin-bottom: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.script-resource-type-JS {
    color: white;
    background-color: darkred;
}

.script-resource-type-FM {
    color: white;
    background-color: darkgreen;
}


/** ACE editor fixes **/

.ace_editor {
    font-size: 10px!important;
}

div.ace_scrollbar.ace_scrollbar-v {
    width: auto!important;
}

div.ace_scrollbar.ace_scrollbar-h {
    height: auto!important;
}

/** Mails admin page **/

.scheduled-mails-filter {
    margin-top: 10px;
}

.scheduled-mails-table tr td {
    font-size: 12px;
}

.scheduled-mail-details-table tr th {
    font-size: 12px;
    color: #aaa;
    padding-right: 10px;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}

.scheduled-mail-details-table tr td {
    font-size: 12px;
}

.scheduled-mail-details {
    display: block;
    width: 100%;
    background-color: #eee;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

/** Reports admin page **/

.report-json-editor {
    width: 100%;
    height: 60px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 4px rgba(50, 50, 50, 0.5);
}
