
.editor-page {
    background-color: #eee;
    margin: 0;
}

.editor-contents {
    margin: 0 auto;
    padding: 20px 30px;
    background-color: white;
}

.editor-locations {
    width: 100%;
    height: 256px;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
    margin-bottom: 10px;
}

.editor-map-image-thumbnail {
    position: relative;
    width: 256px;
    height: 256px;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
    margin-bottom: 10px;
}

.editor-map-image-menu {
    position: absolute;
    bottom: 0;
    margin: 5px;
    z-index: 100;
    width: 100%;
}

.editor-dirty {
    color: red;
    font-style: normal;
    font-size: 14px;
}

/** Editor -> Editor **/

.editor-fields-group {
    background-color: #666;
    color: white;
    margin: 10px 0;
    padding: 4px 0;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
}

.editor-fields-group div {
    padding-left: 7px
}

.editor-fields-group-btn {
    margin-left: 3px;
}

.editor-field-group-label {
    text-align: right;
    margin-right: 20px;
    color: #aaa;
    font-weight: bold;
}

.editor-fields {
    padding: 10px!important;
    font-size: 12px;
}

.editor-fields .move-feature-btn {
    cursor: pointer;
    cursor: -webkit-grabbing;
}

.editor-field-label {
    color: #aaa;
    font-weight: bold;
    padding: 2px 10px 2px 0;
    cursor: pointer;
    margin-top: 15px;
    background-color: lightgray;
    border: 1px solid transparent;
}

.editor-field-label:focus {
    border: 1px solid lightblue;
    outline: 0;
}

@media (min-width: 768px) {
    .editor-field-label {
        text-align: right;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-top: 0;
        background-color: white;
    }
}

.editor-field-label:hover {
    color: gray;
    background-color: lightgray;
}

.editor-field-label-editing {
    background-color: darkgray;
    color: white!important;
}

.editor-field-invalid {
    color: #f00;
}

.editor-field-value {
    padding: 2px;
}

.editor-field-value-editing {
    border: 1px solid lightgray;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
    padding: 10px 0;
    margin-bottom: 5px;
}

.editor-field-value-table th {
    padding: 5px 10px;
    text-align: right;
    color: darkgray;
}

.editor-field-value-table td {
    padding: 5px;
}

.part-type-btn {
    vertical-align: middle;
    color: lightgray;
    height: 100%;
    margin-right: 5px;
    padding: 4px 10px;
    cursor: pointer;
}

.part-type-selected {
    color: white!important;
    background-color: #444;
}

.editor-description {
    width: 100%;
    height: 100px;
}

.editor-description-flag {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 14px
}

.editor-publication {
    width: 100%;
    height: 40px;
}

.editor-view-publication {
    padding: 5px;
    min-height: 24px;
    border: 1px solid lightgray;
}

.editor-view-source {
    padding: 5px;
    min-height: 24px;
    border: 1px solid lightgray;
}

.mce-container * {
    font-size: 12px!important;
}

.mce-btn button {
    padding: 3px 4px!important;
}

i.mce-i-map-marker:before {
    content: "\e062";
    font-family: "Glyphicons Halflings";
}

i.mce-i-time:before {
    content: "\e023";
    font-family: "Glyphicons Halflings";
}

i.mce-i-aton:before {
    content: "\f024";
    font-family: "FontAwesome";
}

i.mce-i-publication:before {
    content: "\e043";
    font-family: "Glyphicons Halflings";
}

div.mce-fullscreen {
    z-index: 1050;
}

/** Editor -> Format locations dialog **/

.format-locations-result {
    padding: 5px;
    font-size: 12px;
    max-height: 150px;
    height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid lightgray;
}

.format-locations-selection {
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.format-locations-map {
    width: 100%;
    height: 200px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
}


/** Editor -> Format time dialog **/

.format-time-result {
    padding: 5px;
    max-height: 150px;
    border: 1px solid lightgray;
}


/** Editor -> Status **/

.message-status-lang {
    font-size: 12px;
    background-color: #666;
    color: lightgray;
    margin: 10px 0;
    padding: 0 10px;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
}

.message-status-lang-btn {
    display: inline-block;
    padding: 2px 10px;
}

.message-status-lang-btn img {
    opacity: 0.5;
    margin-bottom: 2px;
}

.preview-lang-selected {
    background-color: #444;
    color: white!important;
}

.preview-lang-selected img {
    opacity: 0.8!important;
}

.message-status-panel {
    padding: 10px 20px;
    margin-top: 10px;
    width: 220px;
}

.message-status-action {
    width: 180px;
    margin-bottom: 5px;
}


/** Editor -> References **/

.editor-reference-table {
    margin-bottom: 0;
}


/** Editor -> Time **/

.editor-date-interval-table {
    margin-bottom: 0;
    border: 1px solid lightgray;
}

.editor-date-label {
    font-weight: bold;
    margin: 5px 5px;
    color: darkgray;
}

/** Editor -> Promulgation **/

.promulgations li a {
    padding: 5px 20px;
}

.promulgation {
    margin-top: 10px;
}

.disabled-promulgation {
    pointer-events: none;
    opacity: 0.4;
}

textarea.navtex {
    font-family: "Courier New", serif;
    height: 120px;
    border: 1px solid lightgray;
    text-transform: uppercase;
}

.promulgation-text {
    border-left: 5px solid #eee;
    padding: 5px;
}

/** Editor -> Sources **/

.editor-source-table {
    margin-top: 20px;
    margin-bottom: 0;
}


/** Editor -> History **/

.message-history-table {
    font-size: 12px;
}

.message-history-json {
    font-size: 10px;
    width: 100%;
    max-height: 400px;
    height: 400px;
    overflow: scroll;
    border: 1px solid lightgray;
}

.message-history-header {
    background-color: #eee;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 5px 10px;
}

.message-history-attachments {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}


/** Editor -> Comments **/

.message-comments-table {
    font-size: 12px;
}

.message-comment-acknowledged {
    color: darkgray;
}

.message-comment-selected {
    color: white!important;
    background-color: darkgray!important;
}

.message-comment {
    font-size: 12px;
    border: 1px solid lightgray;
    padding: 10px;
}

.message-comment-editor {
    width: 100%;
    height: 160px;
}

/** Editor -> GeoJson Editor directive **/

.gj-editor .viewer {
    width: 100%;
    height: 100%;
}

.gj-editor .viewer .open-editor {
    position: absolute;
    bottom: 0;
    margin: 5px;
    z-index: 100;
    width: 100%;
}

.gj-editor .editor {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.gj-editor .editor .ol-zoom {
    top: auto;
    bottom: 10px;
}

.gj-editor .btn-panel {
    background-color: white;
    z-index: 210;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100px;
    box-shadow: 0 2px 4px rgba(50, 50, 50, 0.5);
}

.gj-editor .editor-tools {
    text-align: center;
    padding: 10px;
    background-color: #646;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#646), to(#757));
    background: -webkit-linear-gradient(top, #646, #757);
    background: -moz-linear-gradient(top, #646, #757);
    background: -ms-linear-gradient(top, #646, #757);
    border-bottom: 1px solid #646;
}

.gj-editor .feature-collection-panel {
    background-color: white;
    z-index: 200;
    opacity: 0.9;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    bottom: 0;
    padding-top: 5px;
    overflow: hidden;
    overflow-y: scroll;
    border-top: 1px solid lightgray;
    box-shadow: 0 2px 4px rgba(50, 50, 50, 0.5);
}

.gj-editor .feature-panel {
    font-size: 11px;
    margin: 5px 15px 5px 5px;
    border: 1px solid #646;
}

.gj-editor .feature-panel-header {
    padding: 5px;
    background-color: #757;
    color: white;
}

.gj-editor .feature-panel-header a {
    color: white;
    font-size: 11px;
    cursor: pointer;
}

.gj-editor .buffer-feature-panel-header {
    padding: 5px;
    background-color: darkgray;
    color: white;
}

.gj-editor .buffer-feature-panel-header a {
    color: white;
    font-size: 11px;
    cursor: pointer;
}

.gj-editor .feature-panel-info {
    padding: 0 5px 5px 5px;
}

.gj-editor .feature-panel-info table {
    width: 100%;
}

.gj-editor .feature-panel-info table td {
    vertical-align: top;
    padding-top: 5px;
}

.gj-editor .feature-panel-info table td:first-child {
    padding-top: 8px;
}

.gj-editor .feature-panel-info input {
    outline: none;
    width: 100%;
}

.gj-editor .feature-panel-info select {
    font-size: 11px;
    height: 24px;
}

.gj-editor .feature-panel-info label {
    font-size: 11px;
}

.gj-editor .feature-panel-info .feature-aton {
    display: inline-block;
    width: 100%;
}

.gj-editor .aton-grid-item {
    margin: 0!important;
}

@media (min-width: 600px) {
    .gj-editor .editor {
        top: 20px;
        left: 20px;
        bottom: 20px;
        right: 20px;
        box-shadow: 4px 4px 10px #000;
    }

    .gj-editor .map-layer-switcher {
        right: 10px;
        top: 10px;
        left: auto;
        bottom: auto;
    }

    .gj-editor .btn-panel {
        width: 320px;
    }

    .gj-editor .feature-collection-panel {
        width: 320px;
    }
}

.gj-editor .feature-geometry-tree .fancytree-icon {
    width: 12px;
    height: 12px;
    margin-left: 0;
}

.gj-editor .feature-geometry-tree ul.fancytree-container {
    font-size: 11px;
    outline: none;
    margin: 0 0 5px 5px;
    border-left: 1px dotted lightgray;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.gj-editor .feature-geometry-tree .fancytree-node {
    overflow: hidden;
/* Fix Firefox placement of node button:
    white-space: normal;
*/
}

.gj-editor .feature-geometry-tree .node-btns {
    font-size: 10px;
}

.gj-editor .feature-position-list {
    margin: 0 5px 5px 5px;
}

.gj-editor table.position-list {
    width: 100%;
}

.gj-editor table.position-list th {
    text-align: center;
    color: gray;
    border-bottom: 1px solid lightgray;
    padding: 3px 0;
}

.gj-editor table.position-list td {
    padding-top: 10px;
}

.gj-editor .position-list-btn {
    cursor: pointer;
    color: #666;
    margin: 2px 2px;
}

.geometry-text-editor {
    width: 100%;
    min-height: 300px;
    font-size: 12px;
    font-family: "Courier New", serif;
    color: black;
    overflow-wrap: normal;
    overflow-x: scroll;
}

.geometry-text-invalid {
    color: red;
}

.geometry-text-editor-map {
    width: 100%;
    height: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    visibility: hidden;
}

@media (min-width: 768px) {
    .geometry-text-editor-map {
        visibility: visible;
        height: 300px;
    }
}


/** Editor -> Add source dialog **/

.message-source-list {
    font-size: 12px;
    max-height: 150px;
    height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid lightgray;
}

.message-source-list .selected {
    background-color: darkgray;
    color: white;
}

.message-source-selection {
    font-size: 12px;
    border: 1px solid lightgray;
}


/** Editor -> Thumbnail editor **/

.message-thumbnail-map {
}

.message-thumbnail-item {
    border: 2px solid #fff;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
}

.message-thumbnail-layer {
    margin: 5px;
}


/** Editor -> Attachments **/

.editor-file-upload {
    margin-bottom: 10px;
}

.editor-attachment-table {
    margin-top: 20px;
    margin-bottom: 0;
}


/** Message Comparison Dialog **/

#message-diff del {
    background-color: rgba(255, 0, 0, 0.4);
}

#message-diff ins {
    background-color: rgba(0, 255, 0, 0.4);
}
