
<footer class="footer container-fluid">
    <div class="row">
        <div class="col-sm-4 footer-left">
            <a href="{{'footer.link' | translate}}" translate>footer.copyright</a>
        </div>
        <div class="col-sm-4 footer-center">
            <a href="{{'footer.link' | translate}}" target="_blank"><img src="/img/company-logo.png" height="34"/></a>
        </div>
        <div class="col-sm-4 footer-right">
            <a href translate>footer.disclaimer</a>
            &bull;
            <a href translate>footer.cookies</a>
        </div>
    </div>
</footer>
