

.break-before {
    page-break-before: always!important;
}

.avoid-break-before {
    page-break-before: avoid!important;
}

.avoid-break-after {
    page-break-after: avoid!important;
}

.avoid-break-before-after {
    page-break-before: avoid!important;
    page-break-after: avoid!important;
}


svg {
    display: inline-block;
}

table.message-table {
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
    overflow : hidden;
}

table.message-table tr, table.message-table tr td {
    page-break-inside: avoid;
}

tr.table-header-row {
    page-break-after: avoid;
}

td.table-header {
    border-bottom: 0.05em solid #8f2f7b;
}

td.table-header h4 {
    color: #8f2f7b;
    font-size: 16px;
}

td.table-image {
    vertical-align: top;
    padding: 10px;
    border-bottom: 0.05em dotted gray;
}

td.table-item {
    vertical-align: top;
    width: 100%;
    padding: 10px;
    border-bottom: 0.05em dotted gray;
}

table.field-table {
    page-break-before: avoid!important;
    page-break-inside: auto;
}


.field-name {
    white-space: nowrap;
    vertical-align: top;
    padding-right: 10px;
    text-align: left;
    color: gray;
}

.field-value {
    vertical-align: top;
    width: 100%;
}

.feature-name {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: underline;
}

ol.feature-coordinates {
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

ol.feature-coordinates li {
    color: darkgray;
}
ol.feature-coordinates li span {
    color: black;
}

/** For tables in the message rich text description field **/
.message-description table {
    page-break-inside: auto;
    border-collapse: collapse;
    border: 0.05em solid #333;
}

.message-description table td, .message-description table th {
    vertical-align: top;
    border: 0.05em solid #333;
    padding: 3px;
}

.message-description ol, .message-description ul {
    padding-left: 4mm;
    margin-top: 0;
    margin-bottom: 0;
}

.message-description ol li, .message-description ul li {
    margin-bottom: 1mm;
}

.message-description p, .message-description p {
    margin: 0 0 1mm 0;
}

.message-description ol li p:last-child, .message-description ul li p:last-child {
    padding: 0;
    margin: 0;
}

table.no-border {
    border: 0;
}

table.no-border td, table.no-border th {
    border: 0;
}

table.condensed {
    padding: 0;
}

table.condensed td, table.condensed th {
    padding: 0;
}

tr.underline td {
    border-bottom: 0.05em solid #333;
}

td.underline {
    border-bottom: 0.05em solid #333;
}

table.positions {
    border: 0;
    margin-bottom: 1mm;
}

table.positions td, table.positions th {
    color: #333;
    border: 0;
    padding: 0 3mm 0 0;
    text-align: left;
}

table.positions td:nth-child(1) {
    text-align: right;
    color: darkgray;
}

table.position-table td.pos-col {
    padding-left: 1mm;
    padding-right: 1mm;
    text-align: right;
    white-space: nowrap;
}

table.position-table td.pos-index {
    min-width: 4mm;
    text-align: right;
    white-space: nowrap;
}

img.lang-flag {
    height: 2mm;
    opacity: 0.3;
}

.lang-header-first {
    background-color: #999;
    color: white;
    padding: 1mm 2mm;
    margin: 2mm 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.lang-header {
    background-color: white;
    color: #999;
    border: 1px solid #999;
    padding: 1mm 2mm;
    margin: 2mm 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.attachment {
    text-align: center;
}

.label-message-id {
    font-size: 75%;
    background-color: #999;
    display: inline-block;
    margin-bottom: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: .2em .6em .4em;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.original-information {
    font-size: 200%;
    line-height: 20px;
    margin-bottom: -3px;
}