
/** General page rules **/
@page {
    margin: 2cm 1.0cm 2.0cm 1.0cm;
    padding: 0;

    @top-center {
        content: element(header);
        vertical-align: bottom;
    }

    @bottom-center {
        content: element(footer);
        vertical-align: top;
    }
}

div.header {
    display: block;
    position: running(header);
    padding-bottom: 1mm;
    margin-top: 10mm;
    margin-bottom: 5mm;
    border-bottom: 0.05em solid gray;
    color: darkgray;
}

div.footer {
    margin-top: 0;
    text-align: center;
    display: block;
    position: running(footer);
    padding-top: 5px;
    color: darkgray;
}

div.first-page-header {
    display: block;
    position: running(first-page-header);
}

div.first-page-footer {
    display: block;
    position: running(first-page-footer);
}

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages);
}

body{
    font-size:12px;
    font-family: Helvetica;
    margin: 0;
    padding:0;
}

a {
    color: #000000;
    text-decoration: none;
}

.page-break  {
    clear: left;
    display:block;
    page-break-after:always;
    margin: 0;
    padding: 0;
    height: 0;
}

ol.toc a::after {
    content: leader('.') target-counter(attr(href), page);
}

div.toc a::after {
    content: leader('.') target-counter(attr(href), page);
}

.separate-attachment-page {
    text-align: center;
    clear: left;
    display:block;
    page-break-before:always;
    margin: 5mm;
    padding: 0;
}

table.first-page-info-line {
    background-color: #334;
    color: white;
    width: 100%;
}

table.first-page-info-line td {
    padding: 1mm 2mm;
}

h1 {
    margin-top: 2cm;
    text-align: center;
    font-size: 36px;
    color: #334;
}

h2 {
    color: #334;
    font-size: 24px;
}

h3 {
    color: #334;
    font-size: 20px;
}

h4 {
    color: #8f2f7b;
    font-size: 16px;
    margin-bottom: 0;
}
